#~gallery_div~ .flexslider {background: none;margin: 0 0 33px;border: none;box-shadow: none;}
#~gallery_div~ .slides,#~gallery_div~ .flex-control-nav,#~gallery_div~  .flex-direction-nav {list-style:none; margin: 0;padding: 0;}
#~gallery_div~ .flex-control-nav {bottom:-25px;}
#~gallery_div~ .flex_container{position:relative;}
#~gallery_div~ .flexslider .slides > li {position:relative;}
#~gallery_div~ .textBox {padding-top: 20px; overflow:hidden;}
#~gallery_div~ .textBox  h2{margin:0 0 0 25px;color: #FFFFFF;}
#~gallery_div~ .flex-direction-nav .flex-next {text-align: right;height: 73px;}
#~gallery_div~ .flex-direction-nav .flex-prev {height: 73px;}
#~gallery_div~ .flex-direction-nav .flex-prev, #~gallery_div~ .flex-direction-nav .flex-next { background: #474747; margin-top: -50px; }
#~gallery_div~ .flex-direction-nav .flex-play, #~gallery_div~ .flex-direction-nav .flex-restart { background: #474747; height: 73px; left: 0; right: 0; margin: auto;  margin-top: -50px;}
#~gallery_div~ .flex-direction-nav .flex-play{opacity:0.7}
#~gallery_div~ .flex-direction-nav .flex-restart{ top: auto}
#~gallery_div~ .flex-direction-nav .flex-prev:before, #~gallery_div~ .flex-direction-nav .flex-next:before { font-size: 30px; color: #fff; padding: 21px 15px; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4) !important; font-family: 'cp-sliders' !important; text-indent: 0; speak: none; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#~gallery_div~ .flex-direction-nav .flex-play:before, #~gallery_div~ .flex-direction-nav .flex-restart:before { font-size: 30px; color: #fff; padding: 21px 15px; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4) !important; font-family: 'cp-sliders' !important; text-indent: 0; speak: none; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display:inline-block}
#~gallery_div~ .flex-direction-nav .flex-prev:before { content: '\e90d'; }
#~gallery_div~ .flex-direction-nav .flex-next:before { content: '\e90c'; }
#~gallery_div~ .flex-direction-nav a.flex-play:before{content: '\e912';}
#~gallery_div~ .flex-direction-nav a.flex-restart:before{content: '\e913';}
#~gallery_div~ .textBox {width: 100%;height: 100px;background: url(~skin_path~css/images/trans_caption.png);position: absolute;bottom: 0;}
#~gallery_div~  .mediaObject .textBox{bottom: 30px;}

#~gallery_div~  .textBox span{display:block;}
#~gallery_div~  .textBox .textBoxTitle{ font-size:18px;}
#~gallery_div~  .textBox .textBoxDesc{font-size:14px;}
#~gallery_div~  .flex_container  img[data-related] {cursor: pointer;}

#~gallery_div~  .flexslider:hover  .flex-direction-nav  .flex-disabled:hover { opacity: 1 !important; filter: alpha(opacity=1); cursor: default;  }
#~gallery_div~  .flexslider:hover  .flex-direction-nav .flex-disabled {opacity: 0.7 !important;filter: alpha(opacity=0.7); cursor: default;}



#~gallery_div~ { margin: 0 auto; }
#~gallery_div~ * { max-height: 100vh !important; }
#~gallery_div~>div,
#~gallery_div~ .flex-viewport,
#~gallery_div~ .flexslider .slides > li,
#~gallery_div~ .flex_container,
#~gallery_div~ .flexslider .slides img,
#~gallery_div~ .flexslider .slides .mejs-mediaelement { height: auto !important; max-height: 100%; }
#~gallery_div~ .slides{max-height: 100%;}

#~gallery_div~ .flex-direction-nav .flex-prev,
#~gallery_div~ .flex-direction-nav .flex-next,
#~gallery_div~ .flex-direction-nav .flex-play,
#~gallery_div~ .flex-direction-nav .flex-restart{ background: #~arg_arrows_color~; }

@media screen and (max-width: 600px) {
   #~gallery_div~  .flexslider .flex-direction-nav  .flex-disabled { opacity: 1 !important; filter: alpha(opacity=1); cursor: default;  }
    #~gallery_div~  .flexslider .textBox .flex-direction-nav {display:block; }
    #~gallery_div~ .flexslider .textBox { position:relative;height: 50px !important; }
    #~gallery_div~ .flexslider .textBox h2 {font-size: 10px;}
    #~gallery_div~  .textBox .textBoxTitle{ font-size:10px;}
    #~gallery_div~  .textBox .textBoxDesc{font-size:8px;}
    #~gallery_div~  .flexslider  .mediaObject .textBox{bottom: 0; }
    #~gallery_div~  .flex-direction-nav  li {position:relative;}
    #~gallery_div~  .flex-direction-nav  li a {top: 0px; width: 30px; height: 30px; margin-top: 3px;}
    #~gallery_div~  .flex-direction-nav  li a.flex-prev {background-position: 0px -3px;background-size: 100%;height: 30px;}
    #~gallery_div~  .flex-direction-nav  li a.flex-next{background-position: 0px -40px;background-size: 100%;height: 30px;} 
    #~gallery_div~ .flex-direction-nav .flex-prev:before,
    #~gallery_div~ .flex-direction-nav .flex-next:before,
   	#~gallery_div~ .flex-direction-nav .flex-play:before,
   	#~gallery_div~ .flex-direction-nav .flex-restart:before{ font-size: 20px; padding: 6px;}
}



#~gallery_div~ .muteBtn
 { height: 24px; width: 24px; opacity: 0.6; border-radius: 5px; cursor: pointer; display: inline-block; font-size: 0; vertical-align: top;position: absolute;
z-index: 555;bottom: 10px;right: 10px; }

#~gallery_div~ .muteBtn.mute { background: url(~skin_path~css/images/mute.png) no-repeat #000 center center; }
#~gallery_div~ .muteBtn.unmute { background: url(~skin_path~css/images/unmute.png) no-repeat #000 center center; }

#~gallery_div~  li.mediaObject  .mediaContainer  video {display:none;}


@media screen and (max-width: 860px){
   #~gallery_div~ .flex-direction-nav li {position: initial;}
   #~gallery_div~ .flex-direction-nav li a{top: 50%;}
    #~gallery_div~ .flexslider .textBox{ padding-top: 0.2!important; height: 60px!important;}
     #~gallery_div~ .textBox .textBoxTitle {font-size: 12px; line-height: 12px;}
    #~gallery_div~ .textBox .textBoxDesc {font-size: 11px; line-height: 11px;}

}    

/* expended menu */
#~gallery_div~ .textBox{display:none}
#~gallery_div~ .ze_menuBox {display:block; position:absolute; z-index:100; top:0; width: 50%;margin-left: 40px; padding-left: 0; overflow: hidden; overflow-y: auto; height: 95%;}
#~gallery_div~ .ze_menuBox li.ze_opened { background: rgba(0,0,0,0.6); width:100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#~gallery_div~ .ze_menuBox li > div{display:block; cursor:pointer}
#~gallery_div~ .ze_menuBox li div.menuBoxTitle{font-size:18px; color: #b5e03a; line-height:1.2; height:2em; -webkit-text-shadow: 0 0 8px rgba(0,0,0,.8); text-shadow: 0 0 8px rgba(0,0,0,.8); }
#~gallery_div~ .ze_menuBox li div.menuBoxDesc{font-size: 14px; transition: width 1s; transition: height 1s; overflow:hidden; height:0; }
#~gallery_div~ .ze_menuBox li div.menuBoxDescInner {transition:none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 100% !important; }
#~gallery_div~ .ze_menuBox li div.menuBoxDesc.menuBoxOpened{width:100%; overflow-y:auto}
#~gallery_div~ .ze_menuBox li{color: #fff; text-align: left; list-style:none; padding: 10px; width:0; transition: width 1s;}
#~gallery_div~ .ze_menuBox span.menuBoxTitleCursor{display: inline-block;cursor: pointer;margin-left: 20px;color: #fffb00;}
#~gallery_div~ .ze_menuBox .ze_activeMenu span.menuBoxTitleCursor{display:none}
