@charset "UTF-8";

@font-face {
  font-family: "cinco-video01";
  src:url("fonts/cinco-video01.eot");
  src:url("fonts/cinco-video01.eot?#iefix") format("embedded-opentype"),
    url("fonts/cinco-video01.woff") format("woff"),
    url("fonts/cinco-video01.ttf") format("truetype"),
    url("fonts/cinco-video01.svg#cinco-video01") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cinco-video01" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cinco-video01" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fullscreen:before {
  content: "a";
}
.icon-fullscreen-off:before {
  content: "b";
}
.icon-next:before {
  content: "c";
}
.icon-pause:before {
  content: "d";
}
.icon-playlist:before {
  content: "e";
}
.icon-previous:before {
  content: "f";
}
.icon-repeat:before {
  content: "g";
}
.icon-shuffle:before {
  content: "h";
}
.icon-volume:before {
  content: "i";
}
.icon-play:before {
  content: "j";
}
