/* COLORS */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



	.mediaElementVideoContainer { border: 0px; overflow: hidden; border-radius: 0; transform: scale3d(1, 1, 1); }

	/*	background: #fff;*/ color: #000;
	.mediaElement_playlist { }

	.cp_pl_item {
		border: 1px solid transparent; color: #666; text-align: left;
		&:hover { background: rgba(0,0,0,20/100); }
		img {  }
		.pl_item_description {  } 
		.pl_item_thumb {  }
		.pl_item_name { color: #666; }
		.pl_item_description { text-decoration: none;  }

		&.current { border: 1px solid #006EE6; box-shadow: inset 0 0 4px #006ee6; }
		.pl_item_thumb:after {  }
		&.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
		&.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
		&.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }
	}
 

	.mediaElement_playlist { 
		
		.playlistContainer {  }
	}



	.mejs-controls {
		border: 1px solid #98a4b3; background: #dde5eb; @include linear-gradient( #dde5eb, #98a4b3);
		@include box-shadow(0 1px 3px rgba(13, 25, 32, 26/100), inset 0 1px 0 rgba(255, 255, 255, 60/100), inset 0 -1px 0 rgba(255, 255, 255, 30/100), inset 0 0 15px rgba(255, 255, 255, 60/100));
		.mejs-button button { color: #252627; color: $arg_text_color; background: transparent; border-left: 1px solid rgba(255,255,255,40/100); border-right: 1px solid rgba(0,0,0,20/100); }
		.mejs-button:first-child button { border-left: none; }
		.mejs-button button:before { color: inherit; }
		.mejs-button button:hover { color: $arg_bg_color; background: rgba(0,0,0,20/100); background: $arg_text_color; }
		.mejs-button button:active { box-shadow: inset 0 0 2px #000; border-radius: 1px; }
		.mejs-button button:focus { outline: none; box-shadow: inset 0 0 1px rgba(0,0,0,10/100); }
		/*.mejs-button button:focus:after { display: block; }*/
		/*.mejs-button button:after { display: none; content: ''; height: 100%; width: 100%; position: absolute; top: 0; left: 0; background: #252627; opacity: .03; }*/
		.mejs-show-playlist button:before,
		.mejs-shuffle-off button:before,
		.mejs-loop-off button:before { opacity: .3; }

	}

	.mejs-overlay.mejs-overlay-play {
		&:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background: #000; background: $arg_bg_color; opacity: .7; }
		.mejs-overlay-button { color: #FFF; color: $arg_text_color; }
	}

	.mejs-time-rail {
		span { border-radius: 0; }
		.mejs-time-total {}
		.mejs-time-buffering {  }
		.mejs-time-loaded { opacity: 0.2; border: 2px solid; border-color: $arg_bg_color; background: #252627; background: $arg_text_color; }
		.mejs-time-current { background: #252627; background: $arg_text_color; }
	}






// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------
