/* COLORS */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------

	.mediaElement { background: $arg_bg_color; color: #fff; }

	.mediaElementVideoContainer {
		border: 0px; overflow: hidden; border-radius: 0; transform: scale3d(1,1,1);
		.share-button:before { font-size: 30px; color: #fff; text-shadow: 0 1px 3px #000; }
	}

	.mediaElement_playlist { }

	.cp_pl_item {
		border-bottom: 1px solid rgba(#000, .3); color: #fff; text-align: left;
		&:hover { background: rgba(0,0,0,20/100); }
		img {  }
		>div { opacity: .9; }
		.pl_item_description {  } 
		.pl_item_thumb {
			&:before { opacity: .5; font-size: 24px !important; }
		}
		.pl_item_name { color: #fff; }
		.pl_item_description { text-decoration: none; }

		&.current {
			background: #3b3a38 !important; box-shadow: inset 4px 0 #0086cf; box-shadow: inset 4px 0 $arg_theme_color2;
			>div { opacity: .95; }
			.pl_item_name { opacity: 1; }
			.pl_item_thumb:before { opacity: 1; }
		}
		.pl_item_thumb:after {  }
		&.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
		&.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
		&.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }
	}
 

	.mediaElement_playlist { 
		.playlistContainer {  }
		.cp_pl_item {
			opacity: .9;
			background: transparent !important;
			&.current { opacity: 1; background: $arg_text_color !important; }
			&:hover .pl_item_name {  }
		}
	}

	.mejs-container .mejs-layers .chromecast-logo { color: #fff; }

	.mejs-controls {
		border: none; background: transparent;
		&:before { position: absolute; display: block; content: ''; width: 100%; height: 100%; top: 0; left: 0; background: $arg_bg_color; opacity: .3; }
		.mejs-time {
			color: #fff; padding-top: 13px;
			span { color: #fff; }
		}
		.mejs-button button { color: #fff; opacity: .8; background: transparent; border: none; }
		.mejs-button:first-child button { border-left: none; }
		.mejs-button button:before { color: inherit; }
		.mejs-button button:hover { color: #fff; opacity: 1; background: transparent !important; }
		.mejs-button button:active { box-shadow: inset 0 0 2px #000; border-radius: 1px; }
		.mejs-button button:focus { outline: none; box-shadow: inset 0 0 1px rgba(0,0,0,10/100); }
		.mejs-show-playlist button:before,
		.mejs-shuffle-off button:before,
		.mejs-loop-off button:before { opacity: .3; }
		.mejs-volume-button .mejs-volume-slider {
			.mejs-volume-total { background-color: #fff; opacity: .2; }
			.mejs-volume-current { background-color: #fff; opacity: .9; transition: .5s ease all; }
			.mejs-volume-handle { background-color: #fff; opacity: 1; transition: .5s ease all; }
		}
	}

	.mejs-overlay.mejs-overlay-play {
		&:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background: transparent; }
		.mejs-overlay-button {
			color: #FFF; text-shadow: rgba(0, 0, 0, 0.4) 1px 1px, rgba(0, 0, 0, 0.2) 2px 2px 1px, rgba(0, 0, 0, 0.1) 3px 3px, rgba(0, 0, 0, 0.1) 4px 4px, rgba(0, 0, 0, 0.1) 5px 5px 1px, rgba(0, 0, 0, 0.05) 8px 8px 2px; transition: .2s ease text-shadow;
			&:active { text-shadow: 2px 1px 2px rgba(46, 47, 50, 0.3); }
		}
		&:hover .mejs-overlay-button { text-shadow: 1px 5px 30px #001123; }
	}

	.mejs-time-rail {
		background: rgba(0,0,0,.7); outline: none !important;
		span { border-radius: 0; }
		.mejs-time-total { background: transparent; outline: none !important; }
		.mejs-time-buffering {  }
		.mejs-time-loaded { opacity: 0.4; background: #fff; @include transition(.5s ease border) }
		.mejs-time-current { background: $arg_theme_color; @include horizontal-gradient($arg_theme_color, $arg_theme_color2); }
	}

	.mejs-playlist {
		opacity: 1; background: rgba(#2e2f32, 40/100);
		li:hover,
		li.current { background: rgba(#837e78, 40/100); }
	}

	.mejs-player-logo-button {
		&.has-link {
			&:hover { color: $arg_bg_color; background: rgba(0,0,0,20/100); background: $arg_text_color; box-shadow: none !important; }
		}
	}



// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------
