/* COLORS */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------

	.mediaElement { background: #000; color: #fff; }

	.mediaElementVideoContainer {
		border: 0px; overflow: hidden; border-radius: 0; transform: scale3d(1,1,1);
		.share-button:before { font-size: 30px; color: #fff; color: $arg_theme_color; text-shadow: 0 1px 3px #000; }
	}

	.mediaElement_playlist { }

	.cp_pl_item {
		color: #fff; text-align: left;
		position: relative;
		&:after { content: ''; position: absolute; width: 100%; height: 100%; z-index: 1; }
		&:hover:after { box-shadow: inset 0 0 0 2px #0078c2; }
		img {  }
		.pl_item_description {  } 
		.pl_item_thumb {  }
		.pl_item_name { color: #fff; }
		.pl_item_description { text-decoration: none; }

		&.current {
			&:after {
				box-shadow: inset 0 0 0 2px #0078c2; width: 100% !important; height: 100% !important; top:0; visibility: visible !important;
				@media (max-width: 520px) {
					box-shadow: inset 0 0 0 1px #0078c2;
				}
			}
		}
		.pl_item_thumb:after {  }
		&.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
		&.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
		&.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }
	}
 

	.mediaElement_playlist { 
		.playlistContainer {  }
		.cp_pl_item {
			background: transparent !important;
			&.current {  }
			&:hover .pl_item_name {  }
		}
	}

	.mejs-container .mejs-layers .chromecast-logo { color: #fff; color: $arg_theme_color; }

	.mejs-controls {
		border: none; background: transparent;
		.mejs-time {
			color: #fff; color: $arg_theme_color;
			span { color: #fff; color: $arg_theme_color; }
		}
		.mejs-button button { color: #fff; color: $arg_theme_color; background: transparent; border: none; }
		.mejs-button:first-child button { border-left: none; }
		.mejs-button button:before { color: inherit; }
		.mejs-button button:hover { color: $arg_bg_color; background: rgba(0,0,0,20/100) !important; }
		.mejs-button button:active { box-shadow: inset 0 0 2px #000; border-radius: 1px; }
		.mejs-button button:focus { outline: none; box-shadow: inset 0 0 1px rgba(0,0,0,10/100); }
		.mejs-show-playlist button:before,
		.mejs-shuffle-off button:before,
		.mejs-loop-off button:before { opacity: .3; }
		.mejs-volume-button .mejs-volume-slider {
			.mejs-volume-total { background-color: #fff; background-color: $arg_theme_color; opacity: .2; }
			.mejs-volume-current { background-color: #fff; background-color: $arg_theme_color; opacity: .9; }
			.mejs-volume-handle { background-color: #fff; background-color: $arg_theme_color; opacity: 1; }
		}
	}

	.mejs-overlay.mejs-overlay-play {
		&:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background: transparent; }
		.mejs-overlay-button {
			color: #FFF; color: $arg_theme_color; text-shadow: rgba(0, 0, 0, 0.4) 1px 1px, rgba(0, 0, 0, 0.2) 2px 2px 1px, rgba(0, 0, 0, 0.1) 3px 3px, rgba(0, 0, 0, 0.1) 4px 4px, rgba(0, 0, 0, 0.1) 5px 5px 1px, rgba(0, 0, 0, 0.05) 8px 8px 2px; transition: .2s ease text-shadow;
			&:active { text-shadow: 2px 1px 2px rgba(46, 47, 50, 0.3); }
		}
		&:hover .mejs-overlay-button { text-shadow: 1px 5px 30px #001123; }
	}

	.mejs-time-rail {
		background: #837e78;
		span { border-radius: 0; }
		.mejs-time-total { background: transparent;}
		.mejs-time-buffering {  }
		.mejs-time-loaded { opacity: 0.4; border: 2px solid #837e78; background: #4db3f6; @include horizontal-gradient(#837e78, #3f4c5f); @include transition(.5s ease border) }
		.mejs-time-current { background: #4db3f6; @include horizontal-gradient(#81f3fd, #1d77ef); }
	}

	.mejs-playlist {
		opacity: 1; background: rgba(#2e2f32, 40/100);
		li:hover,
		li.current { background: rgba(#837e78, 40/100); }
	}

	.mejs-player-logo-button {
		&.has-link {
			&:hover { color: $arg_bg_color; background: rgba(0,0,0,20/100); background: $arg_text_color; box-shadow: none !important; }
		}
	}



// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------
