/* COLORS */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



	> div > p { height: 0; line-height: 0; margin: 0; }
	* { @include box-sizing(border-box); }
	/*	background: #fff;*/ font: 13px/20px Arial, Verdana, Helvetica, sans-serif; margin: 0  auto;
	img { max-width: 100%; }






	/*	background: #fff;*/ color: #000;
	.mediaElement_playlist { }

	.cp_pl_item {
		border: 1px solid transparent; color: #666;
		&:hover { background: #EFF9FF; }
		img {  }
		.pl_item_description {  } 
		.pl_item_thumb {  }
		.pl_item_name { color: #666; }
		.pl_item_description { text-decoration: none; }

		&.current { border: 1px solid #006EE6; box-shadow: inset 0 0 4px #006ee6; }
		.pl_item_thumb:after {  }
		&.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
		&.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
		&.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }
	}
 

	.mediaElement_playlist { 
		
		.playlistContainer {  }
	}



	.mejs-overlay.mejs-overlay-play {
		&:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background: #000; background: $arg_bg_color; opacity: .7; }
		.mejs-overlay-button { color: #FFDF00; color: $arg_text_color; z-index: 10; }
	}






// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------
