/* COLORS */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



	.mediaElementVideoContainer { border: 0px; overflow: hidden; border-radius: 12px; transform: scale3d(1, 1, 1); box-shadow: rgba(17, 35, 105, 41/100) 0px 4px 26px 7px; margin: 15px auto; }

	background: #fff; color: #fff;
	.mediaElement_playlist { }

	.cp_pl_item {
		border: 1px solid transparent; color: #000; width: 220px; border-radius: 0;
		&:hover { background: #eee; }
		img {  }
		.pl_item_description {  } 
		.pl_item_thumb {  }
		.pl_item_name { }
		.pl_item_description { text-decoration: none; opacity: .8;  }

		&.current {
			background: #FFDF00; background: $arg_text_color;
			> * { color: #000; }
		}
		.pl_item_thumb:after {  }
		&.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
		&.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
		&.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }
	}
 

	.mediaElement_playlist { 
		
		.playlistContainer {  }
	}



	.mejs-controls {
		background: transparent;
		.mejs-button button { color: #FFDF00; color: $arg_text_color; background: transparent; text-shadow: 0 0 2px #000; text-shadow: 0 0 2px $arg_bg_color; }
		.mejs-button button:before { color: inherit; background: inherit; }
		.mejs-button button:hover { color: #000; color: $arg_bg_color; background: #FFDF00; background: $arg_text_color; text-shadow: none; }
		.mejs-button button:focus { outline: none; box-shadow: inset 0 0 2px #FFE800; border-radius: 1px; }
		.mejs-button button:focus:after { display: block; }
		.mejs-button button:after { display: none; content: ''; height: 100%; width: 100%; position: absolute; top: 0; left: 0; background: #FFDF00; opacity: .2; }
		.mejs-show-playlist button:before,
		.mejs-shuffle-off,
		.mejs-loop-off { opacity: .3; }

	}

	.mejs-overlay.mejs-overlay-play {
		&:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background: #fff; background: $arg_bg_color; opacity: .1; }
		.mejs-overlay-button { color: #FFDF00; color: $arg_text_color; }
	}

	.mejs-time-rail {
		span { border-radius: 0; }
		.mejs-time-total {}
		.mejs-time-buffering {  }
		.mejs-time-loaded { opacity: 0.2; border: 2px solid; border-color: $arg_bg_color; background: #FFDF00; background: $arg_text_color; }
		.mejs-time-current { background: #FFDF00; background: $arg_text_color; }
	}






// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------
