/* COLORS */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------


	.mediaElement { background: #2e2d2b; color: #fff; }

	.mediaElementVideoContainer { border: 0px; overflow: hidden; border-radius: 0; transform: scale3d(1, 1, 1); }

	
	.mediaElement_playlist { }

	.cp_pl_item {
		border-bottom: 1px solid #3b3a38; color: #fff; text-align: left;
		&:hover { background: rgba(0,0,0,20/100); }
		img {  }
		>div { opacity: .9; }
		.pl_item_description {  } 
		.pl_item_thumb {  }
		.pl_item_name { color: #fff; }
		.pl_item_description { text-decoration: none; }

		&.current {
			background: #3b3a38; box-shadow: inset 4px 0 #0086cf;
			>div { opacity: .95; }
			.pl_item_name { opacity: 1; }
		}
		.pl_item_thumb:after {  }
		&.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
		&.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
		&.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }
	}
 

	.mediaElement_playlist { 
		.playlistContainer {  }
		.cp_pl_item {
			opacity: .9;
			background: transparent !important;
			&.current { box-shadow: none; opacity: 1; background: #3b3a38; }
			&:hover .pl_item_name {  }
		}
	}



	.mejs-controls {
		border: none; background: rgba(#000, 50/100);
		.mejs-button button { color: #fff; color: $arg_text_color; background: transparent; border: none; }
		.mejs-button:first-child button { border-left: none; }
		.mejs-button button:before { color: inherit; }
		.mejs-button button:hover { color: $arg_bg_color; background: rgba(0,0,0,20/100); background: $arg_text_color; }
		.mejs-button button:active { box-shadow: inset 0 0 2px #000; border-radius: 1px; }
		.mejs-button button:focus { outline: none; box-shadow: inset 0 0 1px rgba(0,0,0,10/100); }
		.mejs-show-playlist button:before,
		.mejs-shuffle-off button:before,
		.mejs-loop-off button:before { opacity: .3; }
	}

	.mejs-overlay.mejs-overlay-play {
		&:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background: #000; background: $arg_bg_color; opacity: .7; }
		.mejs-overlay-button { color: #FFF; color: $arg_text_color; }
	}

	.mejs-time-rail {
		background: rgba(#aaa, 50/100);
		span { border-radius: 0; }
		.mejs-time-total { outline: none !important; }
		.mejs-time-buffering {  }
		.mejs-time-loaded { opacity: 0.2; border: 2px solid; border-color: $arg_bg_color; background: #f00; background: $arg_text_color; }
		.mejs-time-current { background: #f00; background: $arg_text_color; }
	}






// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------
