#~gallery_div~
{
/*	background: #fff;*/
	font: 13px/20px Arial, Verdana, Helvetica, sans-serif;
	color: #000;
}

#~gallery_div~ img { max-width: 100%; }
#~gallery_div~  .mediaElement_playlist { display: inline-block; zoom:1; *display: inline;  vertical-align: top; width: 100%; overflow: auto; }
#~gallery_div~ .cp_pl_item { display: inline-block; zoom:1; *display: inline; padding: 2px; border: 1px solid #ccc; font-size: 11px; margin: 5px 3px; color: #666; border-radius: 4px; box-shadow: 0 0 7px #C3E5FF; position: relative; width: 97%; box-sizing: border-box; line-height: 1.1em; vertical-align: top; text-decoration: none; }
#~gallery_div~ .cp_pl_item:hover { background: #EFF9FF; }
#~gallery_div~ .cp_pl_item img { height: 100% !important; width: 100%; }

#~gallery_div~ .pl_item_thumb { display: inline-block; zoom:1; *display: inline; width: 150px; height: 100px; float: left; margin-right: 10px; }

#~gallery_div~ .pl_item_name {vertical-align: top; line-height: 1em; width: auto; font-size: 13px; font-weight: bold; color: #666; overflow: hidden; text-overflow: ellipsis; text-align: left; margin-top: 5px; }
#~gallery_div~ .pl_item_description { text-decoration: none; text-align: left; }



#~gallery_div~ .cp_pl_item.current { border: 1px solid #006EE6; box-shadow: inset 0 0 4px #006ee6; }


#~gallery_div~ .cp_pl_item .pl_item_thumb:after { content: ' '; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }
#~gallery_div~ .cp_pl_item.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
#~gallery_div~ .cp_pl_item.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
#~gallery_div~ .cp_pl_item.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }


/* watermark styles */
#~gallery_div~ .mejs-logo-button { white-space: nowrap; overflow: hidden; cursor: pointer; position: absolute; z-index: 999; min-width: 32px !important; min-height: 32px !important; background-repeat: no-repeat; background-size: contain; }
#~gallery_div~ .mejs-logo-button.has-link:hover { box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -moz-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -webkit-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75);  }
#~gallery_div~ .mejs-logo-button.no { display:none; }
#~gallery_div~ .mejs-logo-button.top_right { right: 5px; top: 5px; }
#~gallery_div~ .mejs-logo-button.top_left { left: 5px; top: 5px; }
#~gallery_div~ .mejs-logo-button.bottom_left {	left: 5px; bottom: 35px; }
#~gallery_div~ .mejs-logo-button.bottom_right { right: 5px; bottom: 35px; }
/* watermark */




@media screen and (max-width: 640px) {
	#~gallery_div~ .pl_item_name { white-space: no-wrap; height: 1.2em; overflow: hidden; text-overflow: ellipsis; }
	#~gallery_div~ .pl_item_thumb { width: 80px; height: 50px; }
	#~gallery_div~ .pl_item_description { height: 2.6em; overflow: hidden; }
}
/*
@media screen and (max-width: 640px) {
	#~gallery_div~ .cp_pl_item { width: 100px; vertical-align: top; }
	#~gallery_div~ .pl_item_thumb { width: 100%; height: 70px; }
	#~gallery_div~ .pl_item_name { display: block; padding: 2px; width: auto; height: 2em; line-height: 1em; }
	#~gallery_div~ .pl_item_description { height: 4.5em; overflow: hidden; }
}*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	#~gallery_div~   .mejs-logo-button {
		min-width:16px !important;
		min-height: 16px !important;
		max-width: 32px !important;
		max-height: 32px !important;
	}
/* Styles */
}

#~gallery_div~   .mediaElement  img {border:none; max-width:100%;}