// .fadeIn { @include animation(fadeIn, 1s, 0, both); }
// .slideInLeft { @include animation(slideInLeft, 1s, 0, both); }
// .bounceIn { @include animation(bounceIn, 1s, 0, both); }
// .flipIn { -webkit-backface-visibility: visible; backface-visibility: visible; -webkit-animation-name: flipIn; animation-name: flipIn; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }


// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

  &.slideInLeft ul.ze_imagelist li a {
    transform: translateX(-100%); opacity: 0;
    &.ze_box_visible { @include animation(slideInLeft, 1s, .5s, both); }
  }
  &.bounceIn ul.ze_imagelist li a {
    opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3);
    &.ze_box_visible { @include animation(bounceIn, 1s, .5s, both); }
  }
  &.fadeIn ul.ze_imagelist li a {
    opacity: 0;
    &.ze_box_visible { @include animation(fadeIn, 1s, .5s, both); }
  }
  &.flipIn ul.ze_imagelist li a {
    opacity: 0; -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg); transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    &.ze_box_visible { @include animation(flipIn, 1s, .5s, both); }
  }
  &.rollIn ul.ze_imagelist li a {
    opacity: 0; -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    &.ze_box_visible { @include animation(rollIn, 1s, .5s, both); }
  }

//-------------------------------------------------------------------------
}



// .ze_item_number_1 a { @include animation(slideInLeft, 1s, .5s, both); }
// .ze_item_number_2 a { @include animation(bounceIn, 1s, 2s, both); }
// .ze_item_number_3 a { @include animation(fadeIn, 1s, 3s, both); }
// .ze_item_number_4 a { @include animation(flipIn, 1s, 4s, both); }

// .ze_item_number_5 a { @include animation(slideInLeft, 1s, 5s, both); }
// .ze_item_number_6 a { @include animation(bounceIn, 1s, 6s, both); }
// .ze_item_number_7 a { @include animation(fadeIn, 1s, 7s, both); }
// .ze_item_number_8 a { @include animation(flipIn, 1s, 8s, both); }


// .ze_item_number_4 img {-webkit-backface-visibility: visible; backface-visibility: visible; -webkit-animation-name: flipIn; animation-name: flipIn; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}




// -----------------------------------------
@include keyframes(fadeIn) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
// -----------------------------------------


// -----------------------------------------
@include keyframes(slideInLeft) {
  0% { @include transform (translateX(-100%)); opacity: 0; }
  100% { @include transform (translateX(0)); opacity: 1; }
}
// -----------------------------------------


// -----------------------------------------
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  20% {-webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  40% {-webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9); }
  60% {opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
  80% {-webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97); }
  100% {opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  20% {-webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  40% {-webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9); }
  60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
  80% {-webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97); }
  100% {opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
// -----------------------------------------





@-webkit-keyframes flipIn {
  0% { opacity: 0; -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg); transform: perspective(400px) rotate3d(0, 1, 0, -360deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
  40% {-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg); transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
  50% {-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg); transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
  80% {-webkit-transform: perspective(400px) scale3d(.95, .95, .95); transform: perspective(400px) scale3d(.95, .95, .95); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
  100% { opacity: 1; -webkit-transform: perspective(400px); transform: perspective(400px); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
  }
@keyframes flipIn {
  0% { opacity: 0; -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg); transform: perspective(400px) rotate3d(0, 1, 0, -360deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
  40% {-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg); transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
  50% {-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg); transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
  80% {-webkit-transform: perspective(400px) scale3d(.95, .95, .95); transform: perspective(400px) scale3d(.95, .95, .95); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
  100% { opacity: 1; -webkit-transform: perspective(400px); transform: perspective(400px); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
  }



@-webkit-keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}