// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


ul.ze_imagelist {
	li {		
	}
	// .ze_item_img { @include transition(.8s ease all); }
	img {  }
	// .ze_item_img { display: block !important; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-size: cover; }
	a {
		color: inherit;
		div.ze_overlay .ze_title { padding: 5px; }
	}

	.ze_item {
		position: relative;
		&:after { content: ''; position: absolute; display: block; width: 100%; height: 100%; background: $arg_theme_color_main; z-index: 10; left: 0; top: 0; opacity: .4; transition: .3s ease opacity; }
	}
	.mejs-container,
	.ze_item_img,
	img { filter: grayscale(100%) brightness(200%) contrast(70%); transition: .3s ease filter; }

	.ze_title {
		margin-top: 15px; font-size: 15px; line-height: 1.5;
		.ze_add_title { color: $arg_theme_color_main; font-size: 24px; line-height: 1.2; font-weight: bold; margin: 20px 0; }
		.ze_add_desc {  }
	}

	a:hover {
		.mejs-container,
		.ze_item_img,
		img { filter: grayscale(0%) brightness(100%) contrast(100%); }
		.ze_item:after { opacity: 0; }
	}
}


.ze_overlay_hover {
	.ze_title {  }
}

.ze_type_video .ico { display: none; }
.ze_type_video .ze_item:before { content: ''; display: block; position: absolute; top: 0; left: 0; z-index: 50; width: 100%; height: 100%; background: url('//rtcdn.cincopa.com/fpskins/resimagelist/1/css/video_ico.png'); background-position: center center; background-repeat: no-repeat; }

div.videoTemplateVersion2 .mejs-container {
	.mejs-overlay-play>.mejs-overlay-button:before { color: $arg_theme_color; }
	.mejs-controls {
		.mejs-time {
			color: #fff; color: $arg_theme_color;
			span { color: #fff; color: $arg_theme_color; }
		}
		.mejs-button button { color: #fff; color: $arg_theme_color; }
		.mejs-horizontal-volume-slider .mejs-horizontal-volume-current { background: $arg_theme_color; }
	}
	.mediaElementVideoContainer .share-button:before { color: #fff; color: $arg_theme_color; }
	.mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFF; color: $arg_theme_color; }
	.share-button:before { color: #fff; color: $arg_theme_color; }
}


ul.pagination {
	li {
		a {
			color: #000; background: rgb(224, 224, 224); border-radius: 2px;
			&.firstBtn,
			&.lastBtn,
			&.prevBtn,
			&.nextBtn { font-size: 0.8em; color: rgb(165, 165, 165); }
			&:hover { background-color: #ECECEC; }
			&.active { color: #f5911e; }
		}
		+ li { background-color: #ECECEC; }
	}
}



@at-root .ze_box {  }
@at-root #swipebox-overlay .ze-swipebox-action a:before { color: $arg_arrows_color; }

.ze-swipebox {
	.locationInfo { bottom: 6px; right: 12px; font-size: 10px; color: #FFFFFF; }
	&-caption .locationInfo { font-size:10px;}
	.locationInfo:hover,
	&-caption .locationInfo:hover { font-weight: bold; text-decoration: underline; color: #333FAF; }
}



//-------------------------------------------------------------------------
} // gallery container