// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

$gap: 4.16667vw;

ul.ze_imagelist {
	background: $arg_theme_color_main;
	padding: $gap 0 0 $gap;
    justify-content: space-evenly;
	li {
		padding: 0 $gap $gap 0;
		// width: 27vw !important;
		height: 20vw !important; flex-grow: 1;
	}
	.ze_item_img { @include transition(.8s ease all); }
	img { visibility: hidden; opacity: 0; }
	.ze_item_img { display: block !important; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-size: cover; }
	a {
		font-size: 30px; font-weight: normal; line-height: 1.5; max-height: 100%;
		div.ze_overlay .ze_title { padding: 5px; background: rgba(#fff, .85); }
		&:before {
			content: attr(data-text); line-height: 1.1; padding: 20px; position: absolute; bottom: 0; color: #fff; width: 100%; text-align: center; left: 0; box-sizing: border-box; z-index: 10; font-weight: 900;
			@include transition(.5s ease all);
		}
	}

	.ze_item { position: relative; }

	.ze_title {
		opacity: 0; 
		color: #333; background: rgba(#fff, .85); padding: 20px; @include transition(.5s ease all);
		.ze_add_title {
			font-weight: 900; position: relative;
			// &:after { content: ''; display: block; width: 25%; border-bottom: 2px solid $arg_theme_color_main; margin: 5px auto; }
		}
		.ze_add_desc { font-size: 18px; }
	}

	a:hover {
		 .ze_title { opacity: 1; }
		 // .ze_item_img { transform: scale(1.1,1.1); }
		 &:before { opacity: 0; }
	}
}


.ze_overlay_hover {
	.ze_title {  }
}

.ze_type_video .ico { display: none; }
.ze_type_video .ze_item:before { content: ''; display: block; position: absolute; top: 0; left: 0; z-index: 50; width: 100%; height: 100%; background: url('//rtcdn.cincopa.com/fpskins/resimagelist/1/css/video_ico.png'); background-position: center center; background-repeat: no-repeat; }

div.videoTemplateVersion2 .mejs-container {
	.mejs-overlay-play>.mejs-overlay-button:before { color: $arg_theme_color; }
	.mejs-controls {
		.mejs-time {
			color: #fff; color: $arg_theme_color;
			span { color: #fff; color: $arg_theme_color; }
		}
		.mejs-button button { color: #fff; color: $arg_theme_color; }
		.mejs-horizontal-volume-slider .mejs-horizontal-volume-current { background: $arg_theme_color; }
	}
	.mediaElementVideoContainer .share-button:before { color: #fff; color: $arg_theme_color; }
	.mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFF; color: $arg_theme_color; }
	.share-button:before { color: #fff; color: $arg_theme_color; }
}


ul.pagination {
	li {
		a {
			color: #000; background: rgb(224, 224, 224); border-radius: 2px;
			&.firstBtn,
			&.lastBtn,
			&.prevBtn,
			&.nextBtn { font-size: 0.8em; color: rgb(165, 165, 165); }
			&:hover { background-color: #ECECEC; }
			&.active { color: #f5911e; }
		}
		+ li { background-color: #ECECEC; }
	}
}



@at-root .ze_box {  }
@at-root #swipebox-overlay .ze-swipebox-action a:before { color: $arg_arrows_color; }

.ze-swipebox {
	.locationInfo { bottom: 6px; right: 12px; font-size: 10px; color: #FFFFFF; }
	&-caption .locationInfo { font-size:10px;}
	.locationInfo:hover,
	&-caption .locationInfo:hover { font-weight: bold; text-decoration: underline; color: #333FAF; }
}



//-------------------------------------------------------------------------
} // gallery container