// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------



ul.ze_imagelist {
    display: flex; flex-wrap: wrap;
	li {		
		padding: 0 0 15px 15px; transition: all 0.3s ease-out;
		// flex-grow: 1;
		&:hover .ze_title { opacity: 1; transition: ease .5s opacity; }
	}
	img { }
	a {
		height: auto !important; padding: 0; background: #000; color: red; border: 2px solid #000; border-radius: 6px;
		@include transition(.5s ease all);
		div.ze_overlay .ze_title { font-size: 12px; padding: 5px; background: rgba(0,0,0,.7); }
		&:hover { background: #0086cf; border-color: #0086cf; color: #fff; }
	}
}

.ze_type_video .ze_item:before { display: none; }

.ze_item { position: relative; }

.ze_title { color: #fff; font-size: 13px; height: auto; white-space: normal; position: relative; top: 0; bottom: 0; line-height: 1.3; padding: 10px 5px; }

.ze_overlay_hover {
	.ze_title {  }
}

.ze_type_video .ico { display: none; }
.ze_type_video .ze_item:before { content: ''; display: block; position: absolute; top: 0; left: 0; z-index: 50; width: 100%; height: 100%; background: url('//rtcdn.cincopa.com/fpskins/resimagelist/1/css/video_ico.png'); background-position: center center; background-repeat: no-repeat; }

div.videoTemplateVersion2 .mejs-container {
	.mejs-overlay-play>.mejs-overlay-button:before { color: $arg_theme_color; }
	.mejs-controls {
		.mejs-time {
			color: #fff; color: $arg_theme_color;
			span { color: #fff; color: $arg_theme_color; }
		}
		.mejs-button button { color: #fff; color: $arg_theme_color; }
		.mejs-horizontal-volume-slider .mejs-horizontal-volume-current { background: $arg_theme_color; }
	}
	.mediaElementVideoContainer .share-button:before { color: #fff; color: $arg_theme_color; }
	.mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFF; color: $arg_theme_color; }
	.share-button:before { color: #fff; color: $arg_theme_color; }
}


ul.pagination {
	li {
		a {
			color: #000; background: rgb(224, 224, 224); border-radius: 2px;
			&.firstBtn,
			&.lastBtn,
			&.prevBtn,
			&.nextBtn { font-size: 0.8em; color: rgb(165, 165, 165); }
			&:hover { background-color: #ECECEC; }
			&.active { color: #f5911e; }
		}
		+ li { background-color: #ECECEC; }
	}
}



@at-root .ze_box {  }
@at-root #swipebox-overlay .ze-swipebox-action a:before { color: $arg_arrows_color; }

.ze-swipebox {
	.locationInfo { bottom: 6px; right: 12px; font-size: 10px; color: #FFFFFF; }
	&-caption .locationInfo { font-size:10px;}
	.locationInfo:hover,
	&-caption .locationInfo:hover { font-weight: bold; text-decoration: underline; color: #333FAF; }
}

ul.ze_imagelist li { overflow: hidden; }




//-------------------------------------------------------------------------
} // gallery container