// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


ul.ze_imagelist {
	background: #2c54af; background: $arg_theme_color; box-shadow: inset 0 0 0 5px #fff;
	li {
		background: #fff; padding: 5px; box-shadow: 0 0 0 5px #fff;
	}
	.ze_item_img { @include transition(2s ease all); }
	img { visibility: hidden; opacity: 0; }
	.ze_item_img { display: block !important; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-size: cover; }
	a {
		font-size: 20px; font-weight: 200; height: 200px !important;
		div.ze_overlay .ze_title { padding: 5px; background: rgba(0,0,0,.7); }
		// &:before {
		// 	content: attr(data-text); line-height: 1.1; padding: 2vmin; position: absolute; bottom: 0; color: #fff; width: 100%; text-align: center; left: 0; box-sizing: border-box; z-index: 10; font-weight: 900;
		// 	@include transition(.5s ease all);
		// }
	}

	.ze_item {
		position: relative;
		&:before { display: none; }
	}

	.ze_title {
		color: #fff; padding: 10px; line-height: 1.3; @include transition(1s ease all); z-index: 10; opacity: 0;
	    position: absolute; top: 0; left: 0; display: flex; margin: 0; padding: 10px; width: 100%; height: 100%; font-size: 14px; flex-wrap: wrap; align-items: center; justify-content: center; flex-flow: column;
	    &:before { content: ''; display: block; z-index: -1; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: #2c54af; background: $arg_theme_color; opacity: .8; }
	    &:after {
	    	margin-top: 10px; content: ''; display: inline-block; width: 32px; height: 32px;
	    	content: 'e'; font-size: 32px; line-height: 1em; font-family: "cinco_video05", "cinco_default" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em;
	    }
	    >* { width: 100%; display: block; max-width: 100%; white-space: normal; }
		.ze_add_title { }
		.ze_add_desc { font-size: .8em; }
	}

	a:hover {
		.ze_title { opacity: 1; }
	}

	.ze_thumb.status-play {
		.ze_title {
			background: none;
			&:before { display: none; }
			&:after { position: absolute; left: 50%; top: 50%; margin: -15px; content: 'd'; text-shadow: 0 0 5px rgba(#000, .5); }
		}
		.ze_add_title { display: none; }
	}

}


.ze_overlay_hover {
	.ze_title {  }
}

.ze_type_video .ico { display: none; }
.ze_type_video .ze_item:before { content: ''; display: block; position: absolute; top: 0; left: 0; z-index: 50; width: 100%; height: 100%; background: url('//rtcdn.cincopa.com/fpskins/resimagelist/1/css/video_ico.png'); background-position: center center; background-repeat: no-repeat; }

div.videoTemplateVersion2 .mejs-container {
	.mejs-overlay-play>.mejs-overlay-button:before { color: $arg_theme_color; }
	.mejs-controls {
		.mejs-time {
			color: #fff; color: $arg_theme_color;
			span { color: #fff; color: $arg_theme_color; }
		}
		.mejs-button button { color: #fff; color: $arg_theme_color; }
		.mejs-horizontal-volume-slider .mejs-horizontal-volume-current { background: $arg_theme_color; }
	}
	.mediaElementVideoContainer .share-button:before { color: #fff; color: $arg_theme_color; }
	.mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFF; color: $arg_theme_color; }
	.share-button:before { color: #fff; color: $arg_theme_color; }
}


ul.pagination {
	li {
		a {
			color: #000; background: rgb(224, 224, 224); border-radius: 2px;
			&.firstBtn,
			&.lastBtn,
			&.prevBtn,
			&.nextBtn { font-size: 0.8em; color: rgb(165, 165, 165); }
			&:hover { background-color: #ECECEC; }
			&.active { color: #f5911e; }
		}
		+ li { background-color: #ECECEC; }
	}
}



@at-root .ze_box {  }
@at-root #swipebox-overlay .ze-swipebox-action a:before { color: $arg_arrows_color; }

.ze-swipebox {
	.locationInfo { bottom: 6px; right: 12px; font-size: 10px; color: #FFFFFF; }
	&-caption .locationInfo { font-size:10px;}
	.locationInfo:hover,
	&-caption .locationInfo:hover { font-weight: bold; text-decoration: underline; color: #333FAF; }
}



//-------------------------------------------------------------------------
} // gallery container