// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------



ul.ze_imagelist {
	li {		
		padding: 0 0 7px 7px; transition: all 0.3s ease-out;
		&:hover .ze_title { opacity: 1; transition: ease .5s opacity; }
	}
	img {  }
	a {
		padding: 8px; background: rgba(255,255,255,0.3); color: red; border: 1px solid #D6D6D6;
		div.ze_overlay .ze_title { font-size: 12px; padding: 5px; background: rgba(0,0,0,.7); }
		&:hover { background: #DBE6ED; border-color: #BFCFD9; color: #000; }
	}
}

.ze_title { color: #fff; font-size: 13px; background: rgba(0, 0, 0, 0.52); }

.ze_overlay_hover {
	.ze_title {  }
}


div.videoTemplateVersion2 .mejs-container {
	.mejs-overlay-play>.mejs-overlay-button:before { color: $arg_theme_color; }
	.mejs-controls {
		.mejs-time {
			color: #fff; color: $arg_theme_color;
			span { color: #fff; color: $arg_theme_color; }
		}
		.mejs-button button { color: #fff; color: $arg_theme_color; }
		.mejs-horizontal-volume-slider .mejs-horizontal-volume-current { background: $arg_theme_color; }
	}
	.mediaElementVideoContainer .share-button:before { color: #fff; color: $arg_theme_color; }
	.mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFF; color: $arg_theme_color; }
	.share-button:before { color: #fff; color: $arg_theme_color; }
}


ul.pagination {
	li {
		a {
			color: #000; background: rgb(224, 224, 224); border-radius: 2px;
			&.firstBtn,
			&.lastBtn,
			&.prevBtn,
			&.nextBtn { font-size: 0.8em; color: rgb(165, 165, 165); }
			&:hover { background-color: #ECECEC; }
			&.active { color: #f5911e; }
		}
		+ li { background-color: #ECECEC; }
	}
}



@at-root .ze_box {  }
@at-root #swipebox-overlay .ze-swipebox-action a:before { color: $arg_arrows_color; }

.ze-swipebox {
	.locationInfo { bottom: 6px; right: 12px; font-size: 10px; color: #FFFFFF; }
	&-caption .locationInfo { font-size:10px;}
	.locationInfo:hover,
	&-caption .locationInfo:hover { font-weight: bold; text-decoration: underline; color: #333FAF; }
}








//-------------------------------------------------------------------------
} // gallery container