// -------------------------------------------------
// global mixins
// -------------------------------------------------
// ---- replacements after compilation ----
// #gallery_div => #~gallery_div~
// ~arg_bg_color~
// ~arg_theme_color~
// ~arg_text_color~
$arg_bg_color: #bcabca;    // should be replaced after compilation
$arg_theme_color: #abcabc; // should be replaced after compilation
$arg_text_color: #cbacba;  // should be replaced after compilation
$arg_theme_color2: #fabfab; // should be replaced after compilation
$arg_theme_color3: #fccfcc; // should be replaced after compilation
$arg_theme_color4: #effeff; // should be replaced after compilation
$arg_playlist_height: 158795; // should be replaced after compilation
$skinpath: "~skin_path~"; // should be replaced after compilation
$arg_arrows_color: #ff1236;
$arg_theme_color_main: #effefd; // should be replaced after compilation



@mixin clearfix { &:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; } * html & { height: 1px } /* ie */ }
@mixin box-shadow($shadows...) { -moz-box-shadow: $shadows; -webkit-box-shadow: $shadows; box-shadow: $shadows; }
@mixin inline-block($align) { display: inline-block; zoom:1; *display: inline; vertical-align: $align; }
@mixin border-radius($radius) { -moz-border-radius: $radius; -webkit-border-radius: $radius; border-radius: $radius; }
@mixin box-sizing($boxsizing) { -moz-box-sizing: $boxsizing; -webkit-box-sizing: $boxsizing; box-sizing: $boxsizing; }
@mixin transition($transitions) { -webkit-transition: $transitions; -moz-transition: $transitions; transition: $transitions; }
@mixin linear-gradient($fromColor, $toColor) {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fromColor), color-stop(100%,$toColor)); // Saf4+, Chrome
	background-image: -webkit-linear-gradient(top, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
	background-image:    -moz-linear-gradient(top, $fromColor, $toColor); // FF3.6
	background-image:     -ms-linear-gradient(top, $fromColor, $toColor); // IE10
	background-image:      -o-linear-gradient(top, $fromColor, $toColor); // Opera 11.10+
	background-image:         linear-gradient(to bottom, $fromColor 0%, $toColor 100%)
}
@mixin horizontal-gradient($fromColor, $toColor) {
	background-image: -webkit-gradient(linear, left center, right center, color-stop(0%,$fromColor), color-stop(100%,$toColor)); // Saf4+, Chrome
	background-image: -webkit-linear-gradient(left, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
	background-image:    -moz-linear-gradient(left, $fromColor, $toColor); // FF3.6
	background-image:     -ms-linear-gradient(left, $fromColor, $toColor); // IE10
	background-image:      -o-linear-gradient(left, $fromColor, $toColor); // Opera 11.10+
	background-image:         linear-gradient(to right, $fromColor 0%, $toColor 100%)
}


@mixin aluminiumTip() {
	width: 16px; height: 16px; border: 1px solid rgba(255,255,255,60/100);
	@include box-shadow(0 0px 2px 1px rgba(0,0,0,50/100), 0 2px 5px 2px rgba(0,0,0,20/100), 0 0 10px 2px $arg_theme_color2, inset 0 0 5px $arg_theme_color2);
	@include border-radius(10px);
	background: #c5c5c5; background: -moz-linear-gradient(90deg, rgba(180,180,180,1) 20%, rgba(230,230,230,1) 50%, rgba(180,180,180,1) 80%); background: -webkit-radial-gradient(  50%   0%,  12% 50%, hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,0) 100%),   -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,6/10) 0%, hsla(0,0%,100%,0) 100%),   -webkit-radial-gradient(	50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
	&:after { content: ''; display: block; width: 10px; height: 10px; background: rgba(90, 90, 90, 10/100); position: absolute; top: 50%; left: 50%; margin-top: -5px; margin-left: -5px; border-radius: 5px; @include box-sizing(border-box); box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.11), 1px 1px 0 rgba(255, 255, 255, 1); }
}
@mixin aluminiumTipSm() {
	width: 5px; height: 14px; margin: 0 auto; margin-top: -7.5px !important;
	@include box-shadow (0 1px 3px rgba(0,0,0,80/100));
	@include border-radius(2px);
	background: #c5c5c5;
	background: -moz-linear-gradient(90deg, rgba(180,180,180,1) 20%, rgba(230,230,230,1) 50%, rgba(180,180,180,1) 80%);
	background: -webkit-radial-gradient( 50% 0%, 12% 50%, hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,0) 100%), -webkit-radial-gradient( 50% 100%, 12% 50%, hsla(0,0%,100%,6/10) 0%, hsla(0,0%,100%,0) 100%), -webkit-radial-gradient(	50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}


@mixin mobile-only {
	@media screen and (max-width: 750px) { @content }
	.mobileLayout { @content }
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     // -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin keyframes ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    // @-o-keyframes #{$animation_name} {
    //     @content;
    // }

    @keyframes #{$animation_name} {
        @content;
    }
}


@mixin animation ($animation, $duration, $delay, $fill) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fill;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fill;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: $fill;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fill;
}



// -------------------------------------------------
// ==global mixins
// -------------------------------------------------
