// List of templates
$default: false;
$youtubepls: false;

// Active template to compile:
$default: true;


@if $default {
	HELLO{color:red;}
}

@import "incl/global-mixins";

@import "incl/init"; // default
// @import "incl/init_3colors"; // default
// @import "incl/init-groups"; // youtubepls
// @import "incl/init-palette"; // default + new colors


@import "layouts/cinconew";
// @import "layouts/playlist-grid"; // 
// @import "layouts/playlist-grid2"; // 


// @import "layouts/playlist-horizontal2"; //
// @import "layouts/playlist-tiny"; // 
@import "layouts/playlist-tiny-new"; // 
// @import "layouts/youtube"; // 
// @import "layouts/playlist-youtube-right"; // youtubeRPls
// @import "layouts/playlist-youtube-right-thumbs"; // youtubeThumbs


@import "incl/branding"; // default, youtubepls, all



// @import "colors/cinconew"; // default
@import "colors/cinconew-tiny-new"; // default
// @import "colors/darkplaylist"; // youtubepls
// @import "colors/redflat"; // 
// @import "colors/trans"; // 
// @import "colors/aluminium"; // 
// @import "colors/youtube"; //
// @import "colors/youtubeDark"; //
// @import "colors/darkplaylist2"; //
// @import "colors/cinconew-darkPlaylist"; // youtubeRPls
// @import "colors/cinconew-darkPlaylist-palette"; // youtubeRPls
// @import "colors/cinconew-darkPlaylist2"; // youtubeThumbs




// @import "layouts/addon-groupsplaylist";  // youtubepls



// @import "icons/iconfont05"; // default, 
@import "icons/iconfont05-smaller"; // default, 



@import "incl/watermark"; // default, all



// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------



// {'group':'advanced','name':'class_SOMENAME','type':'list', 'values': {'CLASSNAME1': "Title1", 'CLASSNAME2': 'Title2', 'CLASSNAME3': 'Title3'}, 'title':'tile','desc':'description'},
// @import "incl/subtitles-multi"; // beta


// @import "incl/subtitles-initial";// default, all

// when subs theme option enabled:
&.subs-initial { @import "incl/subtitles-initial"; } // default, all
&.subs-light { @import "incl/subtitles-light"; } //
&.subs-terminal { @import "incl/subtitles-terminal"; } //
&.subs-white { @import "incl/subtitles-white"; } //


&.wS { @import "extra/smallerControls"; }


.mejs-controls {
	.mejs-button {
		
	}
}




// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------


