// videoposters - A4PAZ3tYkh8p - https://app.asana.com/0/2600054273966/219266796971128



@import "incl/global-mixins";

// @import "incl/init"; // default
// @import "incl/init_3colors"; // default
// @import "incl/init-groups"; // youtubepls
// @import "incl/init-palette"; // default + new colors
// @import "incl/init-brandcolor"; // brandcolor, videoposters
@import "incl/init-categories"; // brandcolor, floatingcat,


// @import "layouts/cinconew";
@import "layouts/cinconew-brandcolor"; // default, videoposters, floatingcat,
// @import "layouts/playlist-grid"; // 
// @import "layouts/playlist-grid2"; // 


// @import "layouts/playlist-horizontal2"; // videoposters
// @import "layouts/playlist-tiny"; // 
// @import "layouts/playlist-tiny-new"; // 
// @import "layouts/youtube"; //
// @import "layouts/playlist-youtube-right"; // youtubeRPls
// @import "layouts/playlist-youtube-right-thumbs"; // youtubeThumbs

@import "layouts/playlist-floatingcategories"; // floatingcat, 


@import "incl/branding"; // all



// @import "colors/cinconew"; // default
// @import "colors/cinconew-tiny-new"; // default
// @import "colors/darkplaylist"; // youtubepls
// @import "colors/redflat"; // 
// @import "colors/trans"; // 
// @import "colors/aluminium"; // 
// @import "colors/youtube"; //
// @import "colors/youtubeDark"; //
// @import "colors/darkplaylist2"; //
@import "colors/cinconew-darkPlaylist"; // youtubeRPls,floatingcat, 
// @import "colors/cinconew-darkPlaylist-palette"; // youtubeRPls
// @import "colors/cinconew-darkPlaylist2"; // youtubeThumbs
// @import "colors/cinconew-darkPlaylist-brandcolor"; // youtubeRPls
// @import "colors/cinconew-darkPlaylist2-brandcolor"; // youtubeThumbs
// @import "colors/cinconew-darkPlaylist3-brandcolor"; // youtubeThumbs




// @import "layouts/addon-groupsplaylist";  // youtubepls



@import "icons/iconfont05"; // default, 
// @import "icons/iconfont05-smaller"; // default, 



@import "incl/watermark"; // default, all
@import "extra/captions"; // default, all
@import "extra/css_version_11"; // default, all
@import "extra/hidden-controls"; // default, all

// @import "extra/lightbox"; // default, all

// @import "extra/alwaysOnTop"; // default, all



// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------



// {'group':'advanced','name':'class_SOMENAME','type':'list', 'values': {'CLASSNAME1': "Title1", 'CLASSNAME2': 'Title2', 'CLASSNAME3': 'Title3'}, 'title':'tile','desc':'description'},
// @import "incl/subtitles-multi"; // beta


// @import "incl/subtitles-initial";// default, all

// when subs theme option enabled:
&.subs-initial { @import "incl/subtitles-initial"; } // default, all
// &.subs-light { @import "incl/subtitles-light"; } //
// &.subs-terminal { @import "incl/subtitles-terminal"; } //
// &.subs-white { @import "incl/subtitles-white"; } //


&.wS { @import "extra/smallerControls"; }


.mejs-controls {
	.mejs-button {
		
	}
}




// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------


