@import "incl/init";


//@import "layouts/standard";
@import "layouts/playlist-tiny";

@import "colors/default00";

//@import "icons/iconfont02";

@import "incl/watermark";
//@import "incl/play-lightbox";


@import "incl/branding";


// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

.mejs-controls {
	/*height: 33px;*/
	.mejs-button {
		
	}
}




// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------


