/*@createarg[
{'group':'hidden','name':'controls_order','type':'text','title':'Controls order','default':'playpause,prevtrack,nexttrack,playlist,loop,shuffle,progress,time,volume,logo,player_logo,fullscreen,chromecast_logo',desc:'Controls order'},
{'group':'branded','name':'player_watermark_on_off','type':'bool','title':'Player Logo On/Off','default':'false',desc:'Player Logo On/Off'},
{'group':'branded','name':'player_watermark','type':'text','title':'Player Logo URL','default':'','desc':'Location of an external jpg, png or gif image to show in a corner of the display.', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'branded','name':'player_watermark_link','type':'text','title':'Player Logo click URL','default':'','desc':'Open URL on  logo click', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'controls','name':'theme_color','type':'color','title':'Controls color','default':'#ffffff',desc:'Customize Theme color for your player'},
{'group':'controls','name':'class_substheme','type':'list', 'values': {'subs-initial': "Default theme", 'subs-light': 'Light theme', 'subs-white': 'Simple White', 'subs-terminal': 'Terminal theme'}, 'title':'Subtitles theme','desc':'Choose color theme for subtitles'},
]@createarg*/
/* PLAYLIST */
div#gallery_div .mediaElement_playlist { display: block; width: auto; margin: 30px auto; text-align: left; }
div#gallery_div .mediaElement_playlist .playlist_scroll_left, div#gallery_div .mediaElement_playlist .playlist_scroll_right { display: none; }
div#gallery_div .mediaElement_playlist .cp_pl_item { /* ie */ text-decoration: none; display: block; padding: 10px; font-size: 11px; margin: 0 auto; width: auto; position: relative; overflow: hidden; text-overflow: ellipsis; }
div#gallery_div .mediaElement_playlist .cp_pl_item:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
* html div#gallery_div .mediaElement_playlist .cp_pl_item { height: 1px; }
div#gallery_div .mediaElement_playlist .cp_pl_item img { height: 100%; width: 100%; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_description { min-height: 20px; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_thumb { display: inline-block; zoom: 1; *display: inline; vertical-align: top; width: 100px; height: 75px; float: left; margin-right: 10px; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_name { font-size: 16px; font-weight: bold; line-height: 1.1em; overflow: hidden; text-overflow: ellipsis; text-decoration: none; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_description { text-decoration: none; line-height: 1.3em; margin-top: .5em; white-space: normal; text-decoration: none; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_thumb:after { content: ''; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }

/* COLORS */
div#gallery_div { /*	background: #fff;*/ font: 13px/20px Arial, Verdana, Helvetica, sans-serif; margin: 0  auto; /*	background: #fff;*/ color: #000; }
div#gallery_div > div > p { height: 0; line-height: 0; margin: 0; }
div#gallery_div * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div#gallery_div img { max-width: 100%; }
div#gallery_div .cp_pl_item { border: 1px solid transparent; color: #666; }
div#gallery_div .cp_pl_item:hover { background: #EFF9FF; }
div#gallery_div .cp_pl_item .pl_item_name { color: #666; }
div#gallery_div .cp_pl_item .pl_item_description { text-decoration: none; }
div#gallery_div .cp_pl_item.current { border: 1px solid #006EE6; box-shadow: inset 0 0 4px #006ee6; }
div#gallery_div .cp_pl_item.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
div#gallery_div .cp_pl_item.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
div#gallery_div .cp_pl_item.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }
div#gallery_div .mejs-overlay.mejs-overlay-play:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background: #000; background: #bcabca; opacity: .7; }
div#gallery_div .mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFDF00; color: #cbacba; z-index: 10; }

/*#~gallery~_div*/
/* WATERMARK */
div#gallery_div { /* watermark styles */ /* watermark */ }
div#gallery_div .mejs-logo-button { white-space: nowrap; overflow: hidden; cursor: pointer; position: absolute; z-index: 999; min-width: 32px !important; min-height: 32px !important; background-repeat: no-repeat; background-size: contain; }
div#gallery_div .mejs-logo-button.has-link:hover { box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -moz-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -webkit-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); }
div#gallery_div .mejs-logo-button.no { display: none; }
div#gallery_div .mejs-logo-button.top_right { right: 5px; top: 5px; }
div#gallery_div .mejs-logo-button.top_left { left: 5px; top: 5px; }
div#gallery_div .mejs-logo-button.bottom_left { left: 5px; bottom: 35px; }
div#gallery_div .mejs-logo-button.bottom_right { right: 5px; bottom: 35px; }

/* BRANDING  */
div#gallery_div .mejs-player-logo-button { min-width: 46px !important; height: 100%; white-space: nowrap; cursor: default; box-shadow: none !important; }
div#gallery_div .mejs-player-logo-button * { vertical-align: middle; }
div#gallery_div .mejs-player-logo-button:after { content: ''; display: inline-block; vertical-align: middle; height: 100%; width: 0; }
div#gallery_div .mejs-player-logo-button img { margin: 0 !important; padding: 0; display: inline-block !important; }
div#gallery_div .mejs-player-logo-button.has-link { cursor: pointer; }
div#gallery_div .mejs-player-logo-button.has-link:hover { box-shadow: 0 0 5px #fff, 0 0 5px #5af !important; }

div#gallery_div .mejs-controls { /*height: 33px;*/ }

/*#~gallery~_div*/
