@import "incl/init";


@import "layouts/standard";

@import "colors/redflat";

@import "icons/iconfont03";

@import "incl/watermark";
@import "incl/branding";



// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------




position: fixed; bottom: 0; /*width: 100%;*/ height: auto; max-height: 100%; max-width: 100% !important; text-align: center; z-index: 500;/* left: 0;*/ right:0;

.mejs-controls {
	/*height: 33px;*/
	.mejs-button {
		
	}
}




// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------


