@import "incl/init";


@import "layouts/standard";
@import "layouts/playlist-tiny";

@import "colors/trans";

@import "icons/iconfont02";

@import "incl/watermark";
//@import "incl/play-lightbox";
@import "incl/branding";




// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

.mejs-controls {
	height: 33px;
	.mejs-button {
		width: 36px;
		button:before { font-size: 24px; } 
	}
}




// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------


