/*@createarg[
{'group':'hidden','name':'controls_order','type':'text','title':'Controls order','default':'playpause,prevtrack,nexttrack,playlist,loop,shuffle,progress,time,volume,logo,player_logo,fullscreen,chromecast_logo',desc:'Controls order'},
{'group':'branded','name':'player_watermark_on_off','type':'bool','title':'Player Logo On/Off','default':'false',desc:'Player Logo On/Off'},
{'group':'branded','name':'player_watermark','type':'text','title':'Player Logo URL','default':'','desc':'Location of an external jpg, png or gif image to show in a corner of the display.', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'branded','name':'player_watermark_link','type':'text','title':'Player Logo click URL','default':'','desc':'Open URL on  logo click', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'controls','name':'theme_color','type':'color','title':'Controls color','default':'#ffffff',desc:'Customize Theme color for your player'},
{'group':'controls','name':'class_substheme','type':'list', 'values': {'subs-initial': "Default theme", 'subs-light': 'Light theme', 'subs-white': 'Simple White', 'subs-terminal': 'Terminal theme'}, 'title':'Subtitles theme','desc':'Choose color theme for subtitles'},
]@createarg*/
/* MAIN LAYOUT  */
div#gallery_div { /*	background: #fff;*/ font: 13px/20px Arial, Verdana, Helvetica, sans-serif; margin: 0  auto; /* Smartphones (portrait and landscape) ----------- */ }
div#gallery_div > div > p { height: 0; line-height: 0; margin: 0; }
div#gallery_div * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div#gallery_div img { max-width: 100%; }
div#gallery_div .mejs-controls { z-index: 10; }
div#gallery_div .mejs-controls .mejs-button { width: 30px; height: 100%; }
div#gallery_div .mejs-controls > div > button { margin: 0; padding: 8px 5px; height: 100% !important; width: 100% !important; }
div#gallery_div .mejs-controls .mejs-time { height: auto; }
div#gallery_div .mejs-overlay.mejs-layer.mejs-overlay-play { height: 100% !important; }
div#gallery_div .mejs-overlay.mejs-layer.mejs-overlay-play > .mejs-overlay-button { z-index: 2; margin-top: -.7em !important; }
div#gallery_div .mejs-layers, div#gallery_div .mejs-inner { height: 100% !important; }
div#gallery_div .mejs-playlist { height: 100% !important; overflow: auto; overflow-x: hidden; color: #fff; }
div#gallery_div .mejs-playlist li { font-size: 14px; height: auto; white-space: nowrap; display: block; padding: .5em .5em; font-weight: normal; text-overflow: ellipsis; overflow: hidden; }
div#gallery_div .mejs-playlist li:hover { color: inherit; background: rgba(255, 255, 255, 0.4); }
div#gallery_div .mejs-playlist li.current { color: inherit; font-weight: bold; background: rgba(255, 255, 255, 0.3); cursor: default; }
div#gallery_div .mejs-overlay-loading { border-radius: 70px; opacity: .6; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { div#gallery_div .mejs-logo-button { min-width: 16px !important; min-height: 16px !important; max-width: 32px !important; max-height: 32px !important; } }

/*#~gallery~_div*/
.mediaElement img { border: none; max-width: 100%; }

/* CATEGORIES */
div#gallery_div .cp_pl_item { display: inline-block; vertical-align: top; padding: 10px; font-size: 11px; width: 150px; max-height: 190px; max-width: 100%; overflow: hidden; position: relative; text-overflow: ellipsis; color: #333; text-decoration: none; border: 1px solid transparent; }
div#gallery_div .cp_pl_item:hover { background: #EAEAEA; }
div#gallery_div .cp_pl_item img { height: 100%; width: 100%; }
div#gallery_div .pl_item_description { min-height: 20px; }
div#gallery_div .pl_item_thumb { display: block; width: auto; height: 80px; }
div#gallery_div .pl_item_name { display: block; width: auto; font-size: 16px; line-height: 1.1em; overflow: hidden; text-overflow: ellipsis; font-weight: bold; white-space: normal; max-height: 5.5em; margin-top: 8px; }
div#gallery_div .pl_item_description { text-decoration: none; line-height: 1.1em; white-space: normal; margin-top: .5em; opacity: .6; max-height: 45px; overflow-y: auto; }
div#gallery_div .mediaElement_playlist { overflow: auto; width: 100%; margin-left: 0; overflow-x: auto; max-width: 100%; height: auto !important; clear: both; }
div#gallery_div .mediaElement_playlist .playlistContainer { white-space: nowrap; }
div#gallery_div .cp_pl_item.current { border-color: #C5C6C7; background: #eee; box-shadow: 0 0 10px #CBCBCB; }
div#gallery_div .cp_pl_item .pl_item_thumb:after { content: ' '; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }
div#gallery_div .cp_pl_item.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
div#gallery_div .cp_pl_item.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
div#gallery_div .cp_pl_item.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }
div#gallery_div .ze_flexslider.carousel li { margin-right: 6px; width: 150px !important; }
div#gallery_div .ze_flexslider .flex-viewport { padding: 10px; }
div#gallery_div .ze_group_video .mediaElementVideoContainer { width: 100%; display: block; }
div#gallery_div .ze_group_video .mediaElementInfo_container, div#gallery_div .ze_group_video .ze_group_video_info { display: block !important; margin: 15px auto; }
div#gallery_div .ze_group_video .mediaElementInfo_container > div { padding: 0; }
div#gallery_div .mediaElementInfo_container .cp_pl_item, div#gallery_div .ze_group_video_info .cp_pl_item { background: transparent !important; width: auto; height: auto !important; }
div#gallery_div .mediaElementInfo_container .pl_item_thumb, div#gallery_div .ze_group_video_info .pl_item_thumb { display: none !important; }
div#gallery_div .mediaElementInfo_container .pl_item_name, div#gallery_div .ze_group_video_info .pl_item_name { white-space: normal; height: auto; font-size: 24px; line-height: 1.1em; margin: 0 0 .5em 0; width: auto; max-width: 100%; }
div#gallery_div .mediaElementInfo_container .pl_item_description, div#gallery_div .ze_group_video_info .pl_item_description { font-size: 15px; color: #666; line-height: 1.3em; max-height: 10em; }
div#gallery_div .mediaElementInfo_container .cp_pl_item:before { content: attr(data-cat); display: inline-block; text-transform: uppercase; font-weight: 400; font-style: italic; font-size: 1.5em; background: #E8E8E8; line-height: 1.3em; margin: .2em 0; padding: 0 .2em; float: right; }
div#gallery_div .ze_categories_show_more, div#gallery_div .ze_categories_pagination { text-align: center; }
div#gallery_div .ze_categories_show_more a, div#gallery_div .ze_categories_pagination li { font-size: 18px; color: #777; padding: 3px; border-bottom: 1px dashed #aaa; display: inline-block; text-decoration: none !important; cursor: pointer; }
div#gallery_div .ze_categories_show_more a:hover, div#gallery_div .ze_categories_pagination li:hover { background: #ddd; }
div#gallery_div .carousel:before { content: attr(data-cat); display: block; text-transform: uppercase; font-weight: 400; font-size: 1.5em; background: #E8E8E8; line-height: 1.3em; margin: .2em 0; padding: 4px 10px; font-style: italic; text-align: center; }
div#gallery_div .ze_categories_pagination li.active { color: #5DB2E7; }

/*#~gallery~_div*/
/* COLORS */
div#gallery_div { background: #fff; color: #fff; }
div#gallery_div .mediaElementVideoContainer { border: 0px; overflow: hidden; border-radius: 12px; transform: scale3d(1, 1, 1); box-shadow: rgba(17, 35, 105, 0.41) 0px 4px 26px 7px; margin: 15px auto; }
div#gallery_div .cp_pl_item { border: 1px solid transparent; color: #000; width: 220px; border-radius: 0; }
div#gallery_div .cp_pl_item:hover { background: #eee; }
div#gallery_div .cp_pl_item .pl_item_description { text-decoration: none; opacity: .8; }
div#gallery_div .cp_pl_item.current { background: #FFDF00; background: #cbacba; }
div#gallery_div .cp_pl_item.current > * { color: #000; }
div#gallery_div .cp_pl_item.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
div#gallery_div .cp_pl_item.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
div#gallery_div .cp_pl_item.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }
div#gallery_div .mejs-controls { background: transparent; }
div#gallery_div .mejs-controls .mejs-button button { color: #FFDF00; color: #cbacba; background: transparent; text-shadow: 0 0 2px #000; text-shadow: 0 0 2px #bcabca; }
div#gallery_div .mejs-controls .mejs-button button:before { color: inherit; background: inherit; }
div#gallery_div .mejs-controls .mejs-button button:hover { color: #000; color: #bcabca; background: #FFDF00; background: #cbacba; text-shadow: none; }
div#gallery_div .mejs-controls .mejs-button button:focus { outline: none; box-shadow: inset 0 0 2px #FFE800; border-radius: 1px; }
div#gallery_div .mejs-controls .mejs-button button:focus:after { display: block; }
div#gallery_div .mejs-controls .mejs-button button:after { display: none; content: ''; height: 100%; width: 100%; position: absolute; top: 0; left: 0; background: #FFDF00; opacity: .2; }
div#gallery_div .mejs-controls .mejs-show-playlist button:before, div#gallery_div .mejs-controls .mejs-shuffle-off, div#gallery_div .mejs-controls .mejs-loop-off { opacity: .3; }
div#gallery_div .mejs-overlay.mejs-overlay-play:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background: #fff; background: #bcabca; opacity: .1; }
div#gallery_div .mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFDF00; color: #cbacba; }
div#gallery_div .mejs-time-rail span { border-radius: 0; }
div#gallery_div .mejs-time-rail .mejs-time-loaded { opacity: 0.2; border: 2px solid; border-color: #bcabca; background: #FFDF00; background: #cbacba; }
div#gallery_div .mejs-time-rail .mejs-time-current { background: #FFDF00; background: #cbacba; }

/*#~gallery~_div*/
div#gallery_div .mejs-button button { display: inline-block; position: relative; text-align: center; background: transparent; }
div#gallery_div .mejs-overlay-play > .mejs-overlay-button:before, div#gallery_div .mejs-button button:before { content: ''; font-size: 20px; line-height: 1em; font-family: "cinco-video01", "cinco_default" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; margin-bottom: -.3em; }
div#gallery_div .mejs-pause button:before { content: "d"; }
div#gallery_div .mejs-overlay-play > .mejs-overlay-button:before, div#gallery_div .mejs-play button:before { content: "j"; }
div#gallery_div .mejs-nexttrack button:before { content: "c"; }
div#gallery_div .mejs-prevtrack button:before { content: "f"; }
div#gallery_div .mejs-shuffle-button button:before { content: "h"; }
div#gallery_div .mejs-loop-button button:before { content: "g"; }
div#gallery_div .mejs-volume-button button:before { content: "i"; }
div#gallery_div .mejs-fullscreen-button button:before { content: "a"; }
div#gallery_div .mejs-container-fullscreen .mejs-fullscreen-button button:before { content: "b"; }
div#gallery_div .mejs-playlist-button button:before { content: "e"; }
div#gallery_div .mejs-overlay-play > .mejs-overlay-button { background: transparent !important; width: 1.5em; height: 1.5em; border-radius: 1.5em; border: 3px solid; text-align: center; vertical-align: middle; line-height: normal; font-size: 64px; color: #f00; }
div#gallery_div .mejs-overlay-play > .mejs-overlay-button:before { font-size: inherit !important; line-height: normal; margin-left: -.4em; margin-top: -0.36em; color: inherit !important; position: absolute; top: 50%; left: 50%; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_thumb:before { content: 'j'; font-size: 16px; line-height: 1em; font-family: "cinco-video01" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; position: absolute; top: 50%; left: 50%; margin-top: -.5em; margin-left: -.5em; border: 2px solid; border-radius: 1em; padding: .2em 0 0 .15em; height: 1.4em; width: 1.4em; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: "cinco-video01"; src: url("~skin_path~fonts/cinco-video01/cinco-video01.eot"); src: url("~skin_path~fonts/cinco-video01/cinco-video01.eot?#iefix") format("embedded-opentype"), url("~skin_path~fonts/cinco-video01/cinco-video01.woff") format("woff"), url("~skin_path~fonts/cinco-video01/cinco-video01.ttf") format("truetype"), url("~skin_path~fonts/cinco-video01/cinco-video01.svg#1423125612") format("svg"); font-weight: normal; font-style: normal; }
/* WATERMARK */
div#gallery_div { /* watermark styles */ /* watermark */ }
div#gallery_div .mejs-logo-button { white-space: nowrap; overflow: hidden; cursor: pointer; position: absolute; z-index: 999; min-width: 32px !important; min-height: 32px !important; background-repeat: no-repeat; background-size: contain; }
div#gallery_div .mejs-logo-button.has-link:hover { box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -moz-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -webkit-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); }
div#gallery_div .mejs-logo-button.no { display: none; }
div#gallery_div .mejs-logo-button.top_right { right: 5px; top: 5px; }
div#gallery_div .mejs-logo-button.top_left { left: 5px; top: 5px; }
div#gallery_div .mejs-logo-button.bottom_left { left: 5px; bottom: 35px; }
div#gallery_div .mejs-logo-button.bottom_right { right: 5px; bottom: 35px; }

/* CSS LIGHTBOX */
div#gallery_div .mediaElementVideoContainer { transform: scale3d(1, 1, 1); transition: 1s ease all; z-index: 1; position: relative; }
div#gallery_div.status-play:after { content: ''; display: block; position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); top: 0; left: 0; z-index: 5000; }
div#gallery_div.status-play .mediaElement { position: relative; z-index: 5001; }
div#gallery_div.status-play .mediaElement_playlist { background: rgba(255, 255, 255, 0.15); }
div#gallery_div.status-play .mediaElement_playlist .cp_pl_item { opacity: .3; }
div#gallery_div.status-play .mediaElement_playlist .cp_pl_item:hover { opacity: 1; }
div#gallery_div.status-play .mediaElementVideoContainer { box-shadow: 0px 4px 100px 7px rgba(0, 0, 0, 0.45); transform: scale3d(1.1, 1.1, 1.1); }

/*#~gallery~_div*/
div#gallery_div .mejs-controls { /*height: 33px;*/ }

/*#~gallery~_div*/
