@charset "UTF-8";
/*@version1.1@version */
/*@createarg[
{'group':'hidden','name':'controls_order','type':'text','title':'Controls order','default':'playpause,prevtrack,nexttrack,playlist,loop,shuffle,progress,time,volume,logo,player_logo,fullscreen,chromecast_logo',desc:'Controls order'},
{'group':'branded','name':'player_watermark_on_off','type':'bool','title':'Player Logo On/Off','default':'false',desc:'Player Logo On/Off'},
{'group':'branded','name':'player_watermark','type':'text','title':'Player Logo URL','default':'','desc':'Location of an external jpg, png or gif image to show in a corner of the display.', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'branded','name':'player_watermark_link','type':'text','title':'Player Logo click URL','default':'','desc':'Open URL on  logo click', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'appearance','name':'theme_color_main','type':'coloradvanced','title':'Theme color','default':'#ffffff',desc:'Customize Theme color for your player'},
{'group':'advanced','name':'group_by','type':'bool','title':'Group','default':'true','desc':'on/off'},
{'group':'advanced','name':'group_video_tag','type':'tag','title':'Group video tags','default':'','desc':'Group video by tags, enter tag or tags to group those items, use no-tag for items without any tag.', 'enableExp': "param.group_by == 'true'"},
]@createarg*/
/* MAIN LAYOUT  */
div#gallery_div { /*	background: #fff;*/ font: 13px/20px Arial, Verdana, Helvetica, sans-serif; margin: 0  auto; /* Smartphones (portrait and landscape) ----------- */ }
div#gallery_div > div > p { height: 0; line-height: 0; margin: 0; }
div#gallery_div * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div#gallery_div img { max-width: 100%; }
div#gallery_div .mediaElementVideoContainer .mejs-controls { pointer-events: none; opacity: 0; -webkit-transition: 0.5s ease opacity; -ms-transition: 0.5s ease opacity; -o-transition: 0.5s ease opacity; }
div#gallery_div .mediaElementVideoContainer:hover .mejs-controls { pointer-events: auto; opacity: 1; }
div#gallery_div .mediaElementVideoContainer .share-button:before { font-size: 30px; }
div#gallery_div .mejs-controls { z-index: 10; padding: 5px; height: auto; }
div#gallery_div .mejs-controls .mejs-button { width: 55px; height: 100%; }
div#gallery_div .mejs-controls > div > button { margin: 0; padding: 8px 5px; height: 100% !important; width: 100% !important; }
div#gallery_div .mejs-controls .mejs-time { height: auto; padding-top: 13px; }
div#gallery_div .mejs-controls .mejs-time span { font-size: 15px; }
div#gallery_div .mejs-controls .mejs-button.mejs-captions-button, div#gallery_div .mejs-controls .mejs-player-chrome-cast-button, div#gallery_div .mejs-controls .mejs-player-logo-button, div#gallery_div .mejs-controls .mejs-share-button, div#gallery_div .mejs-controls .mejs-player-share-button, div#gallery_div .mejs-controls .mejs-fullscreen-button { float: right; }
div#gallery_div .mejs-controls .mejs-player-logo-button { line-height: 46px; height: 46px; }
div#gallery_div .mejs-controls .mejs-player-logo-button:after { height: 100%; }
div#gallery_div .mejs-controls div.mejs-time-rail { position: absolute; bottom: 100%; padding: 0; margin: 0; width: 100% !important; height: 5px; left: 0; -webkit-transition: 0.5s ease height; -ms-transition: 0.5s ease height; -o-transition: 0.5s ease height; }
div#gallery_div .mejs-controls div.mejs-time-rail span { height: 100%; margin: 0; }
div#gallery_div .mejs-controls div.mejs-time-rail .mejs-time-total { width: 100% !important; }
div#gallery_div .mejs-controls div.mejs-time-rail .mejs-time-float { height: 17px; padding: 2px; text-align: center; }
div#gallery_div .mejs-controls div.mejs-time-rail .time-rail-thumbnails { bottom: 100% !important; }
div#gallery_div .mejs-controls:hover div.mejs-time-rail { height: 15px; }
div#gallery_div .mejs-controls:hover div.mejs-time-rail .mejs-time-loaded { border-top-width: 6px; border-bottom-width: 6px; }
div#gallery_div .mejs-controls:hover div.mejs-time-rail:before { position: absolute; content: ''; z-index: 0; width: 100%; height: 100%; padding-top: 20px; bottom: 0; box-sizing: content-box; }
div#gallery_div .mejs-controls .mejs-volume-button .mejs-volume-slider { width: 40px; left: 8px; }
div#gallery_div .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total { left: 19px; }
div#gallery_div .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current { left: 19px; }
div#gallery_div .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle { left: 8px; width: 24px; }
div#gallery_div .mejs-overlay.mejs-layer.mejs-overlay-play { height: 100% !important; }
div#gallery_div .mejs-overlay.mejs-layer.mejs-overlay-play > .mejs-overlay-button { z-index: 2; margin-top: -.7em !important; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_name { font-weight: 600; }
div#gallery_div .mediaElementVideoContainer, div#gallery_div .mejs-layers, div#gallery_div .mejs-inner { height: 100% !important; }
div#gallery_div .mejs-playlist { height: 100% !important; overflow: auto; overflow-x: hidden; color: #fff; }
div#gallery_div .mejs-playlist li { font-size: 16px; height: auto; white-space: nowrap; display: block; padding: .5em .5em; font-weight: normal; text-overflow: ellipsis; overflow: hidden; }
div#gallery_div .mejs-playlist li:hover { color: inherit; background: rgba(255, 255, 255, 0.4); }
div#gallery_div .mejs-playlist li.current { color: #fff; color: #effefd; background: rgba(255, 255, 255, 0.3); cursor: default; }
div#gallery_div .mejs-overlay-loading { border-radius: 70px; opacity: .6; }
div#gallery_div .mejs-player-logo-button { width: 55px; }
@media screen and (max-width: 480px) { div#gallery_div .mejs-logo-button { min-width: 16px !important; min-height: 16px !important; max-width: 32px !important; max-height: 32px !important; }
  div#gallery_div .mejs-controls .mejs-button { width: 40px; }
  div#gallery_div .mejs-controls .mejs-time { display: none; } }

/*#~gallery~_div*/
.mediaElement img { border: none; max-width: 100%; }

/* PLAYLIST */
div#gallery_div .mediaElement { position: fixed; bottom: 0; left: 0; width: 100%; z-index: 500; }
div#gallery_div .mediaElementVideoContainer { position: fixed; bottom: 141px; right: 0; height: auto !important; z-index: 501; }
div#gallery_div .mediaElement_categories { display: block !important; }
div#gallery_div .mediaElement_categories ul { margin: 0; padding: 0; display: block; list-style: none; display: flex; }
div#gallery_div .mediaElement_categories li { display: inline-block; margin: 0; padding: 5px 8px; cursor: pointer; }
div#gallery_div .mediaElement_categories li:hover { background: #000; }
div#gallery_div .mediaElement_playlist { display: block; max-width: 100%; width: auto; padding: 0 35px; margin: 0 auto; text-align: left; white-space: nowrap; overflow: auto; overflow-y: hidden; position: relative; }
div#gallery_div .mediaElement_playlist .playlistContainer { /* ie */ }
div#gallery_div .mediaElement_playlist .playlistContainer:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
* html div#gallery_div .mediaElement_playlist .playlistContainer { height: 1px; }
div#gallery_div .mediaElement_playlist .cp_pl_item { /* ie */ text-decoration: none; display: inline-block; zoom: 1; *display: inline; vertical-align: top; padding: 2px; font-size: 11px; margin: 5px 3px; position: relative; width: 260px; box-sizing: border-box; line-height: 1.1em; }
div#gallery_div .mediaElement_playlist .cp_pl_item:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
* html div#gallery_div .mediaElement_playlist .cp_pl_item { height: 1px; }
div#gallery_div .mediaElement_playlist .cp_pl_item img { height: 100% !important; width: 100%; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_description { min-height: 20px; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_thumb { display: inline-block; zoom: 1; *display: inline; vertical-align: top; position: relative; width: 110px; height: 70px; -webkit-line-clamp: 4; float: left; margin-right: 10px; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_name { font-size: 16px; font-weight: bold; line-height: 1.1em; overflow: hidden; text-overflow: ellipsis; text-decoration: none; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_description { white-space: normal; text-decoration: none; overflow: hidden; line-height: 1.2em; margin-top: .3em; height: 3.8em; font-size: 12px; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_thumb:after { content: ''; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }
div#gallery_div .playlist_scroll_left, div#gallery_div .playlist_scroll_right { display: none !important; }
div#gallery_div .playlistContainer { width: auto !important; position: static !important; }
div#gallery_div .flex-prev, div#gallery_div .flex-next { position: absolute; top: 0; z-index: 5; color: #fff; font-size: 0 !important; background: rgba(0, 0, 0, 0.7); width: 30px; height: 100%; text-align: center; line-height: 40px; cursor: pointer; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); align-items: center; opacity: 1  !important; display: flex !important; align-items: center; justify-content: center; }
div#gallery_div .flex-next { right: 0; }
div#gallery_div .flex-next::before { content: '>'; font-size: 24px; }
div#gallery_div .flex-prev::before { content: '<'; font-size: 24px; }
div#gallery_div .flex-prev { left: 0; }
div#gallery_div .ze_flexslider.carousel { position: static !important; }
div#gallery_div .ze_flexslider .flex-direction-nav a { margin: 0; }
div#gallery_div .mediaElement_categories_minimize { width: 30px; height: 30px; display: inline-block; background: #ca0000; position: absolute; top: 0; right: 0; text-align: center; line-height: 29px; font-size: 24px; }
div#gallery_div .mediaElement_categories_minimize:before { content: '–'; }
div#gallery_div .mediaElement_categories_minimized .mediaElement_categories_minimize:before { content: '+'; }
div#gallery_div .mediaElement_playlist { max-height: 200px; transition: .5s ease all; opacity: 1; }
div#gallery_div .mediaElement_playlist_minimized { max-height: 0; opacity: 0; }

/* BRANDING  */
div#gallery_div .mejs-player-logo-button { min-width: 46px !important; height: 100%; white-space: nowrap; cursor: default; box-shadow: none !important; }
div#gallery_div .mejs-player-logo-button * { vertical-align: middle; }
div#gallery_div .mejs-player-logo-button:after { content: ''; display: inline-block; vertical-align: middle; height: 100%; width: 0; }
div#gallery_div .mejs-player-logo-button img { margin: 0 !important; padding: 0; display: inline-block !important; }
div#gallery_div .mejs-player-logo-button.has-link { cursor: pointer; }
div#gallery_div .mejs-player-logo-button.has-link:hover { box-shadow: 0 0 5px #fff, 0 0 5px #5af !important; }

/* COLORS */
div#gallery_div .mediaElement { background: #2e2d2b; color: #fff; }
div#gallery_div .mediaElementVideoContainer { border: 0px; overflow: hidden; border-radius: 0; transform: scale3d(1, 1, 1); }
div#gallery_div .mediaElementVideoContainer .share-button:before { font-size: 30px; color: #fff; text-shadow: 0 1px 3px #000; }
div#gallery_div .cp_pl_item { border-bottom: 1px solid #4b4a48; color: #fff; text-align: left; }
div#gallery_div .cp_pl_item > div { opacity: 1; }
div#gallery_div .cp_pl_item .pl_item_thumb:before { opacity: .5; font-size: 24px !important; }
div#gallery_div .cp_pl_item .pl_item_name { color: #fff; }
div#gallery_div .cp_pl_item .pl_item_description { text-decoration: none; opacity: .6; }
div#gallery_div .cp_pl_item:hover { background: #3b3a38 !important; }
div#gallery_div .cp_pl_item.current { background: #3b3a38 !important; box-shadow: inset 4px 0 #effefd; }
div#gallery_div .cp_pl_item.current .pl_item_name { opacity: 1; }
div#gallery_div .cp_pl_item.current .pl_item_thumb:before { opacity: 1; }
div#gallery_div .cp_pl_item.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
div#gallery_div .cp_pl_item.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
div#gallery_div .cp_pl_item.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }
div#gallery_div:not(.status-pause):not(.status-play) .cp_pl_item:first-child { background: #3b3a38 !important; box-shadow: inset 4px 0 #effefd; }
div#gallery_div:not(.status-pause):not(.status-play) .cp_pl_item:first-child .pl_item_name { opacity: 1; }
div#gallery_div:not(.status-pause):not(.status-play) .cp_pl_item:first-child .pl_item_thumb:before { opacity: 1; }
div#gallery_div .mejs-container .mejs-layers .chromecast-logo { color: #fff; }
div#gallery_div .mejs-controls { border: none; background: rgba(93, 104, 116, 0.3); background: #effefc; background-image: none; }
div#gallery_div .mejs-controls .mejs-time { color: #fff; }
div#gallery_div .mejs-controls .mejs-time span { color: #fff; }
div#gallery_div .mejs-controls .mejs-button button { color: #fff; background: transparent; border: none; }
div#gallery_div .mejs-controls .mejs-button:first-child button { border-left: none; }
div#gallery_div .mejs-controls .mejs-button button:before { color: inherit; }
div#gallery_div .mejs-controls .mejs-button button:hover { background: rgba(0, 0, 0, 0.2) !important; }
div#gallery_div .mejs-controls .mejs-button button:active { box-shadow: inset 0 0 2px #000; border-radius: 1px; }
div#gallery_div .mejs-controls .mejs-button button:focus { outline: none; box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1); }
div#gallery_div .mejs-controls .mejs-show-playlist button:before, div#gallery_div .mejs-controls .mejs-shuffle-off button:before, div#gallery_div .mejs-controls .mejs-loop-off button:before { opacity: .3; }
div#gallery_div .mejs-controls .mejs-volume-button .mejs-volume-slider { background: #effefc; }
div#gallery_div .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total { background-color: #fff; opacity: .2; }
div#gallery_div .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current { background-color: #fff; opacity: .9; }
div#gallery_div .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle { background-color: #fff; opacity: 1; }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector ul li input:checked + label { background: #effefd; }
div#gallery_div .mejs-controls .mejs-settings-menu, div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector { background: #effefc; }
div#gallery_div .mejs-controls *:focus { outline: none !important; }
div#gallery_div .mejs-controls * { -webkit-tap-highlight-color: transparent !important; }
div#gallery_div .mejs-overlay.mejs-overlay-play:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background: transparent; }
div#gallery_div .mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFF; text-shadow: rgba(0, 0, 0, 0.4) 1px 1px, rgba(0, 0, 0, 0.2) 2px 2px 1px, rgba(0, 0, 0, 0.1) 3px 3px, rgba(0, 0, 0, 0.1) 4px 4px, rgba(0, 0, 0, 0.1) 5px 5px 1px, rgba(0, 0, 0, 0.05) 8px 8px 2px; transition: .2s ease text-shadow; }
div#gallery_div .mejs-overlay.mejs-overlay-play .mejs-overlay-button:active { text-shadow: 2px 1px 2px rgba(46, 47, 50, 0.3); }
div#gallery_div .mejs-overlay.mejs-overlay-play:hover .mejs-overlay-button { text-shadow: 1px 5px 30px #001123; }
div#gallery_div .mejs-time-rail { background: #837e78; }
div#gallery_div .mejs-time-rail span { border-radius: 0; }
div#gallery_div .mejs-time-rail .mejs-time-total { background: transparent; }
div#gallery_div .mejs-time-rail .mejs-time-loaded { opacity: 0.4; border: 2px solid #837e78; background: #4db3f6; background: #effefb; -webkit-transition: 0.5s ease border; -moz-transition: 0.5s ease border; -ms-transition: 0.5s ease border; -o-transition: 0.5s ease border; transition: 0.5s ease border; }
div#gallery_div .mejs-time-rail .mejs-time-current { background: #4db3f6; background: #effefd; }
div#gallery_div .mejs-playlist { opacity: 1; background: rgba(46, 47, 50, 0.4); }
div#gallery_div .mejs-playlist li:hover, div#gallery_div .mejs-playlist li.current { color: #effefd; background: rgba(131, 126, 120, 0.4); }
div#gallery_div .mejs-player-logo-button.has-link:hover { color: #effefc; background: rgba(0, 0, 0, 0.2); background: #effefd; box-shadow: none !important; }
div#gallery_div .mejs-overlay.mejs-overlay-play .mejs-overlay-button, div#gallery_div .mejs-overlay-play > .mejs-overlay-button:before { text-shadow: 6px 6px 40px #effefd, -6px -6px 40px #effefd, 6px -6px 40px #effefd, -6px 6px 40px #effefd; }
div#gallery_div .mejs-overlay.mejs-overlay-play:hover .mejs-overlay-button, div#gallery_div .mejs-overlay-play:hover > .mejs-overlay-button:before { text-shadow: 6px 6px 40px #effefb, -6px -6px 40px #effefb, 6px -6px 40px #effefb, -6px 6px 40px #effefb; }

/*#~gallery~_div*/
div#gallery_div .mejs-button button { display: inline-block; position: relative; text-align: center; background: transparent; }
div#gallery_div .playlist_scroll_left, div#gallery_div .playlist_scroll_right, div#gallery_div .mejs-overlay-play > .mejs-overlay-button:before, div#gallery_div .mejs-button button:before { content: ''; font-size: 24px; line-height: 1em; font-family: "cinco_video05", "cinco_default" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; }
div#gallery_div .mejs-pause button:before { content: "d"; }
div#gallery_div .mejs-overlay-play > .mejs-overlay-button:before { content: "w"; }
div#gallery_div .mejs-play button:before { content: "e"; }
div#gallery_div .mejs-nexttrack button:before { content: "c"; }
div#gallery_div .mejs-prevtrack button:before { content: "g"; }
div#gallery_div .mejs-shuffle-button button:before { content: "i"; }
div#gallery_div .mejs-loop-button button:before { content: "h"; }
div#gallery_div .mejs-volume-button button:before { content: "j"; }
div#gallery_div .mejs-volume-button.mejs-unmute button:before { content: "J"; }
div#gallery_div .mejs-fullscreen-button button:before { content: "a"; }
div#gallery_div .mejs-container-fullscreen .mejs-fullscreen-button button:before { content: "b"; }
div#gallery_div .mejs-playlist-button button:before { content: "f"; }
div#gallery_div .mejs-captions-button button:before { content: 't'; }
div#gallery_div .mejs-overlay-play > .mejs-overlay-button { background: transparent !important; border-radius: 1.5em; text-align: center; vertical-align: middle; line-height: normal; font-size: 100px; color: #fff; }
div#gallery_div .mejs-overlay-play > .mejs-overlay-button:before { font-size: inherit !important; line-height: normal; color: inherit !important; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_thumb:before { color: #fff; content: 'w'; font-size: 16px; line-height: 1em; font-family: "cinco_video05", "cinco_default" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: inline-block; vertical-align: middle; line-height: 1em; position: absolute; top: 50%; left: 50%; margin-top: -.6em; margin-left: -.7em; height: 1.4em; width: 1.4em; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_thumb:after { display: none; }
div#gallery_div .mediaElement_playlist .cp_pl_item.pause .pl_item_thumb:before { content: 'd'; }

/* WATERMARK */
div#gallery_div { /* watermark styles */ /* watermark */ }
div#gallery_div .mejs-logo-button { white-space: nowrap; overflow: hidden; cursor: pointer; position: absolute; z-index: 999; min-width: 32px !important; min-height: 32px !important; background-repeat: no-repeat; background-size: contain; }
div#gallery_div .mejs-logo-button.has-link:hover { box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -moz-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -webkit-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); }
div#gallery_div .mejs-logo-button.no { display: none; }
div#gallery_div .mejs-logo-button.top_right { right: 5px; top: 5px; }
div#gallery_div .mejs-logo-button.top_left { left: 5px; top: 5px; }
div#gallery_div .mejs-logo-button.bottom_left { left: 5px; bottom: 35px; }
div#gallery_div .mejs-logo-button.bottom_right { right: 5px; bottom: 35px; }

div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector { box-sizing: border-box; background: rgba(50, 50, 50, 0.7); padding: 0; right: 0; bottom: 100%; margin-bottom: -5px; max-height: 250px; width: 170px; overflow: auto; z-index: 10; }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector * { box-sizing: border-box; }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector .mejs-decrease-size { width: 25%; display: inline-block; text-align: center; font-size: 20px; margin: 0; padding: 10px 5px; cursor: pointer; vertical-align: middle; float: none; }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector .mejs-decrease-size:hover { background: rgba(0, 0, 0, 0.5); }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector .mejs-increase-size { width: 25%; display: inline-block; text-align: center; font-size: 20px; margin: 0; padding: 10px 5px; cursor: pointer; vertical-align: middle; float: none; }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector .mejs-increase-size:hover { background: rgba(0, 0, 0, 0.5); }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector .mejs-size-text { display: inline-block; width: 50%; vertical-align: middle; text-align: left; text-transform: uppercase; padding: 5px 10px; }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector ul li { color: #fff; margin: 0; position: relative; }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector ul li label { display: none; font-size: 13px; width: 100%; display: block; cursor: pointer; padding: 5px 10px; margin: 0; line-height: 1.4; }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector ul li label:hover { background: rgba(0, 0, 0, 0.5); }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector ul li input { display: none; }
div#gallery_div .mejs-controls .mejs-captions-button .mejs-captions-selector ul li input:checked + label { background: #0086cf; }
div#gallery_div .mejs-controls .mejs-captions-button button:before { content: 't'; font-family: "cinco_default"; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; text-shadow: none !important; }
div#gallery_div .mejs-controls .mejs-button.mejs-captions-button.mejs-captions-enabled button { text-shadow: 0 0 3px #000, 0 0 15px; }
div#gallery_div .mejs-controls .mejs-captions-layer .mejs-captions-position .mejs-captions-text { white-space: normal; background: rgba(20, 20, 20, 0.5); line-height: 1.3; padding: .7em 1em; }
div#gallery_div .mejs-container .mejs-layers .mejs-chapters-wrap { pointer-events: none; }
div#gallery_div .mejs-container .mejs-layers .mejs-chapters-wrap .mejs-chapters-wrap-inner { overflow: auto; }
div#gallery_div .mejs-container .mejs-layers .mejs-chapters-wrap .mejs-chapters-list { overflow: visible; }
div#gallery_div .mejs-container .mejs-layers.mejs-show-chapters .mejs-chapters-wrap { pointer-events: auto; }
div#gallery_div .mejs-container .ze-mejs-poster-overlay { background: #effefc; }

div#gallery_div .mejs-container .mejs-controls .mejs-chapters-button.mejs-button { float: right; }
div#gallery_div .mejs-container .mejs-controls .mejs-chapters-button.mejs-button button:before { content: "x" !important; }
div#gallery_div .mejs-container .mejs-controls .mejs-chapters-off button:before { opacity: .3; }
div#gallery_div .mejs-container .mejs-controls .mejs-gear-button { float: right; }
div#gallery_div .mejs-container .mejs-controls .mejs-gear-button button:before { content: "G" !important; }
div#gallery_div.ze_mobileLayout .mejs-container .mejs-controls .mejs-volume-button, div#gallery_div.ze_mobileLayout .mejs-container .mejs-controls .mejs-shuffle-button, div#gallery_div.ze_mobileLayout .mejs-container .mejs-controls .mejs-loop-button, div#gallery_div.ze_mobileLayout .mejs-container .mejs-controls .mejs-playlist-button { max-width: 0 !important; max-height: 0 !important; overflow: hidden !important; visibility: hidden !important; }

div#gallery_div.hidden-controls .mejs-overlay-play { opacity: 0 !important; display: block !important; }
div#gallery_div.hidden-controls .mejs-overlay-play .mejs-overlay-button { width: 24px !important; height: 24px !important; font-size: 24px !important; margin-top: 0 !important; top: 16px; right: auto; left: 16px; display: block !important; }
div#gallery_div.hidden-controls .mejs-container:hover .mejs-overlay-play { opacity: 1 !important; }
div#gallery_div.hidden-controls.status-play .mejs-overlay-play { pointer-events: none; cursor: pointer; }
div#gallery_div.hidden-controls.status-play .mejs-overlay-play > .mejs-overlay-button:before { content: "d"; }

div#gallery_div.subs-initial .mejs-button.mejs-captions-button.mejs-captions-enabled button { text-shadow: 0 0px 3px #000, 0 0 15px; }
div#gallery_div.subs-initial .mejs-captions-layer .mejs-captions-position .mejs-captions-text { white-space: normal; background: rgba(20, 20, 20, 0.5); line-height: 1.3; padding: .7em 1em; }
div#gallery_div.subs-initial .mejs-captions-selector { background: rgba(50, 50, 50, 0.7); padding: 0; right: 0; max-height: 250px; overflow: auto; }
div#gallery_div.subs-initial .mejs-captions-selector ul li { color: #fff; margin: 0; position: relative; }
div#gallery_div.subs-initial .mejs-captions-selector ul li label, div#gallery_div.subs-initial .mejs-captions-selector ul li input { display: none; }
div#gallery_div.subs-initial .mejs-captions-selector ul li label { width: 100%; display: block; cursor: pointer; padding: 5px 10px; margin: 0; line-height: 1.4; }
div#gallery_div.subs-initial .mejs-captions-selector ul li label:hover { background: rgba(0, 0, 0, 0.5); }
div#gallery_div.subs-initial .mejs-captions-selector ul li input:checked + label { background: #0086cf; }
div#gallery_div.subs-initial .mejs-captions-selector .mejs-decrease-size, div#gallery_div.subs-initial .mejs-captions-selector .mejs-increase-size { width: 50%; float: left; text-align: center; font-size: 20px; margin: 0; padding: 10px 5px; cursor: pointer; }
div#gallery_div.subs-initial .mejs-captions-selector .mejs-decrease-size:hover, div#gallery_div.subs-initial .mejs-captions-selector .mejs-increase-size:hover { background: rgba(0, 0, 0, 0.5); }
div#gallery_div.wS .mejs-controls { padding: 0 5px; }
div#gallery_div.wS .mejs-controls .mejs-button { width: 27px; }
div#gallery_div.wS .mejs-controls .mejs-button button { vertical-align: top; padding: 5px; }
div#gallery_div.wS .mejs-controls .mejs-button button:before { font-size: 15px; }
div#gallery_div.wS .mejs-controls .mejs-time { padding-top: 6px; }
div#gallery_div.wS .mejs-controls .mejs-time span { font-size: 12px; }
div#gallery_div.wS .mejs-controls .mejs-volume-button .mejs-volume-slider { width: 27px; left: 0; }
div#gallery_div.wS .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current { left: 13px; }
div#gallery_div.wS .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total { left: 13px; }
div#gallery_div.wS .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle { left: 3px; width: 21px; }

/*#~gallery~_div*/
