/*@createarg[
    {'group':'advanced','name':'group_by','type':'bool','title':'Group','default':'true','desc':'on/off'},
    {'group':'advanced','name':'per_page','type':'num','title':'Categories Pagination','default':'3','desc':'Categories Pagination, if 0 then will show all elements', 'enableExp': "param.group_by == 'true'"},
    {'group':'advanced','name':'pagination_type','type':'list', 'values': {'prev_next': "Prev/ Next", 'show_more': 'Show more button'}, 'title':'Pagination type','desc':'on/off', 'enableExp': "param.group_by == 'true'"},
    {'group':'advanced','name':'group_video_tag','type':'tag','title':'Group video tags','default':'','desc':'Group video by tags, enter tag or tags to group those items, use no-tag for items without any tag.', 'enableExp': "param.group_by == 'true'"},
	{'group':'branded','name':'player_watermark_on_off','type':'bool','title':'Player Logo On/Off','default':'false',desc:'Player Logo On/Off'},
	{'group':'branded','name':'player_watermark','type':'text','title':'Player Logo URL','default':'','desc':'Location of an external jpg, png or gif image to show in a corner of the display.', 'enableExp': 'param.player_watermark_on_off == "true"'},
	{'group':'branded','name':'player_watermark_link','type':'text','title':'Player Logo click URL','default':'','desc':'Open URL on  logo click', 'enableExp': 'param.player_watermark_on_off == "true"'},
]@createarg 
*/
@import "incl/init-noarg";


@import "layouts/standard";
@import "layouts/playlist-horizontal";
@import "layouts/categories-00";

@import "colors/portal-light";

@import "icons/iconfont03";

@import "incl/watermark";
//@import "incl/play-lightbox";
@import "incl/branding";




// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

	* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

padding: 20px; margin: 0 auto;
>div { padding: 30px; background: #fff; box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15); }
div[style="clear:both;"] { display: none; }


.mediaElement { margin-bottom: -30px; }

.mejs-overlay-play > .mejs-overlay-button { font-size: 36px; }

.cp_pl_item {
	.pl_item_name { font-weight: normal; color: #434a53; margin-bottom: 1em; }
	.pl_item_description { color: #656d78; }
}


.mediaElementVideoContainer { width: 70%; float: right; margin-bottom: 30px; }
.mediaElementInfo_container {
	display: block !important; text-align: left; width: 30%; margin-bottom: 30px; padding-right: 30px; float: left; line-height: 1.2; white-space: pre-line; text-overflow: ellipsis; word-wrap: break-word;
	.cp_pl_item {
		height: auto !important;
		.pl_item_thumb { display: none; }
		.pl_item_name { font-size: 36px; font-weight: bold; }
		.pl_item_description { font-size: 16px; }
	}
}

.mediaElement_playlist {
	clear: both; margin: 30px -30px -30px -30px; background: #e6e6ea; padding: 20px 30px; max-width: none;
	.cp_pl_item {
		margin: 5px 40px; width: 330px;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 30px; }
		.pl_item_thumb {
			width: 160px; height: 90px;
			&:before { color: #fff; text-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; border-width: 1px; }
		}
	}
}


.ze_flexslider.carousel li { /* width: auto !important; */ }


.ze_categories_pagination { margin: 50px 0 0 0; }


// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------


