/*@createarg[
    {'group':'advanced','name':'group_by','type':'bool','title':'Group','default':'true','desc':'on/off'},
    {'group':'advanced','name':'per_page','type':'num','title':'Categories Pagination','default':'3','desc':'Categories Pagination, if 0 then will show all elements', 'enableExp': "param.group_by == 'true'"},
    {'group':'advanced','name':'pagination_type','type':'list', 'values': {'prev_next': "Prev/ Next", 'show_more': 'Show more button'}, 'title':'Pagination type','desc':'on/off', 'enableExp': "param.group_by == 'true'"},
    {'group':'advanced','name':'group_video_tag','type':'tag','title':'Group video tags','default':'','desc':'Group video by tags, enter tag or tags to group those items, use no-tag for items without any tag.', 'enableExp': "param.group_by == 'true'"},
	{'group':'branded','name':'player_watermark_on_off','type':'bool','title':'Player Logo On/Off','default':'false',desc:'Player Logo On/Off'},
	{'group':'branded','name':'player_watermark','type':'text','title':'Player Logo URL','default':'','desc':'Location of an external jpg, png or gif image to show in a corner of the display.', 'enableExp': 'param.player_watermark_on_off == "true"'},
	{'group':'branded','name':'player_watermark_link','type':'text','title':'Player Logo click URL','default':'','desc':'Open URL on  logo click', 'enableExp': 'param.player_watermark_on_off == "true"'},
]@createarg 
*/
@import "incl/init-noarg";


@import "layouts/standard";  // player layout
@import "colors/portal-light"; // player colors
@import "icons/iconfont03"; // player icons


@import "layouts/playlist-grid";  //  bottom playlist layout
@import "layouts/categories-00"; // categories playlist layout


@import "incl/watermark";
//@import "incl/play-lightbox";
@import "incl/branding";




// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


margin: 0 auto; overflow: hidden; background: #23232a;
>div { padding: 30px; z-index: 0; position: relative; }
div[style="clear:both;"] { display: none; }


.mediaElement { margin-bottom: -30px; }

.mejs-overlay-play > .mejs-overlay-button { font-size: 36px; }

.cp_pl_item {
	.pl_item_name { font-weight: normal; color: #fff; margin-bottom: 1em; }
	.pl_item_description { color: #fff; }
}


.mediaElementVideoContainer {
	padding: 35px;
	.mejs-container { box-shadow: 0 3px 20px rgba(0,0,0,.5); }
}
.mediaElementInfo_container {
	display: block !important; margin-bottom: 30px; padding: 0 35px; line-height: 1.2; white-space: pre-line; text-overflow: ellipsis; word-wrap: break-word;
	.cp_pl_item {
		height: auto !important;
		.pl_item_thumb {
			display: block; position: absolute; z-index: -1; top: -25%; left: -25%; width: 150%; height: 150%; -webkit-filter: blur(30px); -moz-filter: blur(30px); filter: blur(30px);
			img { width: 100%; height: 100%; opacity: .5; }
		}
		.pl_item_name { font-size: 36px;  }
		.pl_item_description { font-size: 16px; }
	}
}

.mediaElement_playlist {
	clear: both; background: #23232a; padding: 20px 0; margin: 0 -30px; max-width: none; position: relative; overflow: visible !important;
	&:before { content: ''; display: block; position: absolute; width: 110%; width: calc(100% + 60px); height: 100%; background: #23232a; left: 0; top: 0; margin: 0 -30px -30px -30px; }
	&:after { content: ''; display: table; width: 100%; clear: both; }
	.cp_pl_item {
		margin: 5px 10px; width: auto; border: 5px solid transparent; width: 292px;
		&.current { border-color: #fff; }
		// &:first-child { margin-left: 60px; }
		// &:last-child { margin-right: 60px; }
		.pl_item_thumb {
			width: 280px; height: 165px; margin: 0; float: none;
			&:before { font-size: 24px; color: #fff; text-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; }
		}
		.pl_item_name,
		.pl_item_description { display: block; margin: .5em 0; opacity: .6; font-weight: normal; }
		.pl_item_description { display: none; }
	}
}


.ze_flexslider.carousel li { /* width: auto !important; */ }

.carousel:before { color: #fff; font-weight: bold; background: transparent;	text-transform: none; }

.ze_categories_pagination {
	margin: 30px 0 30px 0;
	li {
		color: #fff;
		&:hover { background: #23232A; }
	}
}


// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------


