/*@createarg[
{'group':'hidden','name':'controls_order','type':'text','title':'Controls order','default':'playpause,prevtrack,nexttrack,playlist,loop,shuffle,progress,time,volume,logo,player_logo,fullscreen,chromecast_logo',desc:'Controls order'},
{'group':'branded','name':'player_watermark_on_off','type':'bool','title':'Player Logo On/Off','default':'false',desc:'Player Logo On/Off'},
{'group':'branded','name':'player_watermark','type':'text','title':'Player Logo URL','default':'','desc':'Location of an external jpg, png or gif image to show in a corner of the display.', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'branded','name':'player_watermark_link','type':'text','title':'Player Logo click URL','default':'','desc':'Open URL on  logo click', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'controls','name':'theme_color','type':'color','title':'Controls color','default':'#ffffff',desc:'Customize Theme color for your player'},
{'group':'controls','name':'class_substheme','type':'list', 'values': {'subs-initial': "Default theme", 'subs-light': 'Light theme', 'subs-white': 'Simple White', 'subs-terminal': 'Terminal theme'}, 'title':'Subtitles theme','desc':'Choose color theme for subtitles'},
]@createarg*/
/* MAIN LAYOUT  */
div#gallery_div { /*	background: #fff;*/ font: 13px/20px Arial, Verdana, Helvetica, sans-serif; margin: 0  auto; /* Smartphones (portrait and landscape) ----------- */ }
div#gallery_div > div > p { height: 0; line-height: 0; margin: 0; }
div#gallery_div * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div#gallery_div img { max-width: 100%; }
div#gallery_div .mejs-controls { z-index: 10; padding: 5px; height: auto; }
div#gallery_div .mejs-controls .mejs-button { width: 30px; height: 100%; }
div#gallery_div .mejs-controls > div > button { margin: 0; padding: 8px 5px; height: 100% !important; width: 100% !important; }
div#gallery_div .mejs-controls .mejs-time { height: auto; }
div#gallery_div .mejs-controls .mejs-player-logo-button, div#gallery_div .mejs-controls .mejs-volume-button, div#gallery_div .mejs-controls .mejs-fullscreen-button { float: right; }
div#gallery_div .mejs-controls .mejs-player-logo-button { line-height: 40px; }
div#gallery_div .mejs-controls .mejs-player-logo-button:after { height: 30px; }
div#gallery_div .mejs-controls div.mejs-time-rail { position: absolute; bottom: 100%; padding: 0; margin: 0; width: 100% !important; height: 5px; left: 0; -webkit-transition: 0.5s ease height; -moz-transition: 0.5s ease height; -ms-transition: 0.5s ease height; -o-transition: 0.5s ease height; transition: 0.5s ease height; }
div#gallery_div .mejs-controls div.mejs-time-rail span { height: 100%; margin: 0; }
div#gallery_div .mejs-controls div.mejs-time-rail .mejs-time-total { width: 100% !important; }
div#gallery_div .mejs-controls div.mejs-time-rail .mejs-time-float { height: 17px; padding: 2px; text-align: center; }
div#gallery_div .mejs-controls div.mejs-time-rail .time-rail-thumbnails { bottom: 100% !important; }
div#gallery_div .mejs-controls:hover div.mejs-time-rail { height: 15px; }
div#gallery_div .mejs-overlay.mejs-layer.mejs-overlay-play { height: 100% !important; }
div#gallery_div .mejs-overlay.mejs-layer.mejs-overlay-play > .mejs-overlay-button { z-index: 2; margin-top: -.7em !important; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_name { font-weight: 600; }
div#gallery_div .mediaElementVideoContainer, div#gallery_div .mejs-layers, div#gallery_div .mejs-inner { height: 100% !important; }
div#gallery_div .mejs-playlist { height: 100% !important; overflow: auto; overflow-x: hidden; color: #fff; }
div#gallery_div .mejs-playlist li { font-size: 14px; height: auto; white-space: nowrap; display: block; padding: .5em .5em; font-weight: normal; text-overflow: ellipsis; overflow: hidden; }
div#gallery_div .mejs-playlist li:hover { color: inherit; background: rgba(255, 255, 255, 0.4); }
div#gallery_div .mejs-playlist li.current { color: inherit; font-weight: bold; background: rgba(255, 255, 255, 0.3); cursor: default; }
div#gallery_div .mejs-overlay-loading { border-radius: 70px; opacity: .6; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { div#gallery_div .mejs-logo-button { min-width: 16px !important; min-height: 16px !important; max-width: 32px !important; max-height: 32px !important; } }

/*#~gallery~_div*/
.mediaElement img { border: none; max-width: 100%; }

/* PLAYLIST */
div#gallery_div .mediaElement_playlist { display: block; width: auto; margin: 30px auto; text-align: left; }
div#gallery_div .mediaElement_playlist .playlist_scroll_left, div#gallery_div .mediaElement_playlist .playlist_scroll_right { display: none; }
div#gallery_div .mediaElement_playlist .cp_pl_item { /* ie */ text-decoration: none; display: block; padding: 10px; font-size: 11px; margin: 0 auto; width: auto; position: relative; overflow: hidden; text-overflow: ellipsis; }
div#gallery_div .mediaElement_playlist .cp_pl_item:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
* html div#gallery_div .mediaElement_playlist .cp_pl_item { height: 1px; }
div#gallery_div .mediaElement_playlist .cp_pl_item img { height: 100%; width: 100%; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_description { min-height: 20px; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_thumb { display: inline-block; zoom: 1; *display: inline; vertical-align: top; width: 100px; height: 75px; float: left; margin-right: 10px; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_name { font-size: 16px; font-weight: bold; line-height: 1.1em; overflow: hidden; text-overflow: ellipsis; text-decoration: none; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_description { text-decoration: none; line-height: 1.3em; margin-top: .5em; white-space: normal; text-decoration: none; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_thumb:after { content: ''; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }

/* COLORS */
div#gallery_div { /*	background: #fff;*/ color: #000; }
div#gallery_div .mediaElementVideoContainer { border: 0px; overflow: hidden; border-radius: 0; transform: scale3d(1, 1, 1); }
div#gallery_div .cp_pl_item { border: 1px solid transparent; color: #666; text-align: left; }
div#gallery_div .cp_pl_item:hover { background: rgba(0, 0, 0, 0.2); }
div#gallery_div .cp_pl_item .pl_item_name { color: #666; }
div#gallery_div .cp_pl_item .pl_item_description { text-decoration: none; }
div#gallery_div .cp_pl_item.current { border: 1px solid #006EE6; box-shadow: inset 0 0 4px #006ee6; }
div#gallery_div .cp_pl_item.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
div#gallery_div .cp_pl_item.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
div#gallery_div .cp_pl_item.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }
div#gallery_div .mediaElement_playlist .cp_pl_item { background: transparent !important; }
div#gallery_div .mediaElement_playlist .cp_pl_item.current { box-shadow: none; border-color: #f00; }
div#gallery_div .mediaElement_playlist .cp_pl_item:hover .pl_item_name { color: #F00; }
div#gallery_div .mejs-controls { border: none; background: rgba(0, 0, 0, 0.5); }
div#gallery_div .mejs-controls .mejs-button button { color: #fff; color: #cbacba; background: transparent; border: none; }
div#gallery_div .mejs-controls .mejs-button:first-child button { border-left: none; }
div#gallery_div .mejs-controls .mejs-button button:before { color: inherit; }
div#gallery_div .mejs-controls .mejs-button button:hover { color: #bcabca; background: rgba(0, 0, 0, 0.2); background: #cbacba; }
div#gallery_div .mejs-controls .mejs-button button:active { box-shadow: inset 0 0 2px #000; border-radius: 1px; }
div#gallery_div .mejs-controls .mejs-button button:focus { outline: none; box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1); }
div#gallery_div .mejs-controls .mejs-show-playlist button:before, div#gallery_div .mejs-controls .mejs-shuffle-off button:before, div#gallery_div .mejs-controls .mejs-loop-off button:before { opacity: .3; }
div#gallery_div .mejs-overlay.mejs-overlay-play:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background: #000; background: #bcabca; opacity: .7; }
div#gallery_div .mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFF; color: #cbacba; }
div#gallery_div .mejs-time-rail { background: rgba(170, 170, 170, 0.5); }
div#gallery_div .mejs-time-rail span { border-radius: 0; }
div#gallery_div .mejs-time-rail .mejs-time-loaded { opacity: 0.2; border: 2px solid; border-color: #bcabca; background: #f00; background: #cbacba; }
div#gallery_div .mejs-time-rail .mejs-time-current { background: #f00; background: #cbacba; }

/*#~gallery~_div*/
div#gallery_div .mejs-button button { display: inline-block; position: relative; text-align: center; background: transparent; }
div#gallery_div .mejs-overlay-play > .mejs-overlay-button:before, div#gallery_div .mejs-button button:before { content: ''; font-size: 20px; line-height: 1em; font-family: "cinco-video01", "cinco_default" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; margin-bottom: -.3em; }
div#gallery_div .mejs-pause button:before { content: "d"; }
div#gallery_div .mejs-overlay-play > .mejs-overlay-button:before, div#gallery_div .mejs-play button:before { content: "j"; }
div#gallery_div .mejs-nexttrack button:before { content: "c"; }
div#gallery_div .mejs-prevtrack button:before { content: "f"; }
div#gallery_div .mejs-shuffle-button button:before { content: "h"; }
div#gallery_div .mejs-loop-button button:before { content: "g"; }
div#gallery_div .mejs-volume-button button:before { content: "i"; }
div#gallery_div .mejs-fullscreen-button button:before { content: "a"; }
div#gallery_div .mejs-container-fullscreen .mejs-fullscreen-button button:before { content: "b"; }
div#gallery_div .mejs-playlist-button button:before { content: "e"; }
div#gallery_div .mejs-overlay-play > .mejs-overlay-button { background: transparent !important; width: 1.5em; height: 1.5em; border-radius: 1.5em; border: 3px solid; text-align: center; vertical-align: middle; line-height: normal; font-size: 64px; color: #f00; }
div#gallery_div .mejs-overlay-play > .mejs-overlay-button:before { font-size: inherit !important; line-height: normal; margin-left: -.4em; margin-top: -0.36em; color: inherit !important; position: absolute; top: 50%; left: 50%; }
div#gallery_div .mediaElement_playlist .cp_pl_item .pl_item_thumb:before { content: 'j'; font-size: 16px; line-height: 1em; font-family: "cinco-video01" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; position: absolute; top: 50%; left: 50%; margin-top: -.5em; margin-left: -.5em; border: 2px solid; border-radius: 1em; padding: .2em 0 0 .15em; height: 1.4em; width: 1.4em; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: "cinco-video01"; src: url("~skin_path~fonts/cinco-video01/cinco-video01.eot"); src: url("~skin_path~fonts/cinco-video01/cinco-video01.eot?#iefix") format("embedded-opentype"), url("~skin_path~fonts/cinco-video01/cinco-video01.woff") format("woff"), url("~skin_path~fonts/cinco-video01/cinco-video01.ttf") format("truetype"), url("~skin_path~fonts/cinco-video01/cinco-video01.svg#1423125612") format("svg"); font-weight: normal; font-style: normal; }
/* WATERMARK */
div#gallery_div { /* watermark styles */ /* watermark */ }
div#gallery_div .mejs-logo-button { white-space: nowrap; overflow: hidden; cursor: pointer; position: absolute; z-index: 999; min-width: 32px !important; min-height: 32px !important; background-repeat: no-repeat; background-size: contain; }
div#gallery_div .mejs-logo-button.has-link:hover { box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -moz-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -webkit-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); }
div#gallery_div .mejs-logo-button.no { display: none; }
div#gallery_div .mejs-logo-button.top_right { right: 5px; top: 5px; }
div#gallery_div .mejs-logo-button.top_left { left: 5px; top: 5px; }
div#gallery_div .mejs-logo-button.bottom_left { left: 5px; bottom: 35px; }
div#gallery_div .mejs-logo-button.bottom_right { right: 5px; bottom: 35px; }

/* BRANDING  */
div#gallery_div .mejs-player-logo-button { min-width: 46px !important; height: 100%; white-space: nowrap; cursor: default; box-shadow: none !important; }
div#gallery_div .mejs-player-logo-button * { vertical-align: middle; }
div#gallery_div .mejs-player-logo-button:after { content: ''; display: inline-block; vertical-align: middle; height: 100%; width: 0; }
div#gallery_div .mejs-player-logo-button img { margin: 0 !important; padding: 0; display: inline-block !important; }
div#gallery_div .mejs-player-logo-button.has-link { cursor: pointer; }
div#gallery_div .mejs-player-logo-button.has-link:hover { box-shadow: 0 0 5px #fff, 0 0 5px #5af !important; }

div#gallery_div .mejs-controls { /*height: 33px;*/ }

/*#~gallery~_div*/
