@import "incl/init";


@import "layouts/youtube";
@import "layouts/playlist-tiny";

@import "colors/youtube";

@import "icons/iconfont02";

@import "incl/watermark";
//@import "incl/play-lightbox";
@import "incl/branding";



// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

.mejs-controls {
	/*height: 33px;*/
	.mejs-button {
		
	}
}




// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------


