// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------




// ##################################
// BEGIN mediaelement icons font Cincopa ver 1.0
// ##################################
// cincojplayer01
.mejs-button button { display: inline-block; position:relative; text-align: center; background: transparent; }
.mejs-overlay-play > .mejs-overlay-button:before,
.mejs-button button:before { content: ''; font-size: 20px; line-height:1em; font-family: "cinco-video01", "cinco_default" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; margin-bottom: -.3em; }
// .mejs-button button:after { display: inline-block; vertical-align: middle; content:''; height: 100%; }

.mejs-pause button:before {content: "d"; }
.mejs-overlay-play > .mejs-overlay-button:before,
.mejs-play button:before { content: "j"; }
.mejs-nexttrack button:before { content: "c"; }
.mejs-prevtrack button:before { content: "f"; }
.mejs-shuffle-button button:before { content: "h"; }
.mejs-loop-button button:before { content: "g"; }
.mejs-volume-button button:before { content: "i"; }
.mejs-fullscreen-button button:before { content: "a"; }
.mejs-container-fullscreen .mejs-fullscreen-button button:before { content: "b"; }
.mejs-playlist-button button:before { content: "e"; }
//
.mejs-overlay-play > .mejs-overlay-button { background: transparent !important; width: 1.5em; height: 1.5em; border-radius: 1.5em; border: 3px solid; text-align: center; vertical-align: middle; line-height: normal; font-size: 64px; color: #f00; }
.mejs-overlay-play > .mejs-overlay-button:before { font-size: inherit !important; line-height: normal; margin-left: -.4em; margin-top: -0.36em; color: inherit !important; position: absolute; top: 50%; left: 50%; }
//
.mejs-player-button.mejs-player-chrome-cast-button {}

// ##################################
// END mediaelement icons font Cincopa ver 1.0
// ##################################

.mediaElement_playlist .cp_pl_item .pl_item_thumb:before { content: 'j'; font-size: 16px; line-height:1em; font-family: "cinco-video01" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em;     position: absolute; top: 50%; left: 50%; margin-top: -.5em; margin-left: -.5em; border: 2px solid; border-radius: 1em; padding: .2em 0 0 .15em; height: 1.4em; width: 1.4em; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }



//-------------------------------------------------------------------------
} // gallery container


//@font-face {
//  font-family: "cincojplayer02";
//  src:url("https://fontastic.s3.amazonaws.com/yL6Gc7EAAbUQ45jaCvBmq5/fonts/1422280735.eot");
//  src:url("https://fontastic.s3.amazonaws.com/yL6Gc7EAAbUQ45jaCvBmq5/fonts/1422280735.eot?#iefix") format("embedded-opentype"),
//    url("https://fontastic.s3.amazonaws.com/yL6Gc7EAAbUQ45jaCvBmq5/fonts/1422280735.woff") format("woff"),
//    url("https://fontastic.s3.amazonaws.com/yL6Gc7EAAbUQ45jaCvBmq5/fonts/1422280735.ttf") format("truetype"),
//    url("https://fontastic.s3.amazonaws.com/yL6Gc7EAAbUQ45jaCvBmq5/fonts/1422280735.svg#1422280735") format("svg");
//  font-weight: normal;
//  font-style: normal;
//}


@font-face {
  font-family: "cinco-video01";
  src:url($skinpath+"fonts/cinco-video01/cinco-video01.eot");
  src:url($skinpath+"fonts/cinco-video01/cinco-video01.eot?#iefix") format("embedded-opentype"),
    url($skinpath+"fonts/cinco-video01/cinco-video01.woff") format("woff"),
    url($skinpath+"fonts/cinco-video01/cinco-video01.ttf") format("truetype"),
    url($skinpath+"fonts/cinco-video01/cinco-video01.svg#1423125612") format("svg");
  font-weight: normal;
  font-style: normal;
}