// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


.hide { display: none; }
// this is for old wordpress templates
ul li:before, 
ul ul li:before { content: ''; }
//
audio[controls] { height: auto !important; min-height: 40px; width: 100% !important; }
ul { list-style: none !important; list-style-image: none !important; }
.ze_type_image .ico { display: none; }



ul.ze_imagelist {
	margin: 0; padding: 0; position: relative;
	li {
		float: none; display: inline-block; vertical-align: top; border: none; list-style: none !important; background: none;
		&:hover .ze_title {  }
	}
	img { margin: 0; padding: 0; border: none; max-width: none; max-height: none; width: auto; display: block; position: relative; }
	a {
		display: block; position: relative; float: left; overflow: hidden; width: 100px; height: 75px; vertical-align: middle; text-align: center;
		div.ze_overlay .ze_title { line-height: 1.1; }
		&:hover {  }
	}
}

.ze_title { width: 100%; position: relative; line-height: 2.5; bottom: 35px; height: 35px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; box-sizing: border-box; }

.ze_overlay_hover {
	overflow: hidden;
	.ze_title { position: absolute; bottom: 0; }
}


div.videoTemplateVersion2 .mejs-container {
	.mejs-overlay-play>.mejs-overlay-button:before {  }
	.mejs-controls {
		.mejs-time {
			span {  }
		}
		.mejs-button button {  }
		.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {  }
	}
	.mediaElementVideoContainer .share-button:before {  }
	.mejs-overlay.mejs-overlay-play .mejs-overlay-button {  }
	.share-button:before {  }
}


ul.pagination {
	padding: 0; list-style: none !important; text-align: center; clear: both; position: relative;
	li {
		display: inline-block; vertical-align: middle;
		a {
			text-decoration: none; display: block; padding: 0 6px; margin: 1px; font-size: 1.1em;
			&.firstBtn,
			&.lastBtn,
			&.prevBtn,
			&.nextBtn {  }
			&:hover {  }
			&.active {  }
		}
		+ li {  }
	}
}



@at-root .ze_box { position: relative; text-decoration: none; }
@at-root #swipebox-overlay .ze-swipebox-action a:before {  }

.ze-swipebox {
	.locationInfo { position: absolute; z-index: 99; }
	&-caption .locationInfo { }
	.locationInfo:hover,
	&-caption .locationInfo:hover {  }
}








//-------------------------------------------------------------------------
} // gallery container