// 


// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


.hide { display: none; }
// this is for old wordpress templates
ul li:before, 
ul ul li:before { content: ''; }
//
audio[controls] { height: auto !important; min-height: 40px; width: 100% !important; }
ul { list-style: none !important; list-style-image: none !important; }
.ze_type_image .ico { display: none; }



ul.ze_imagelist {
	margin: 0; padding: 0; position: relative;
	li {
		float: none; display: inline-block; vertical-align: top; border: none; list-style: none !important; background: none;
		width: 100%; box-sizing: border-box;
		&:hover .ze_title {  }
	}
	img { opacity: 0; }
	// img { margin: 0 !important; padding: 0; border: none; max-width: none; max-height: none; width: auto; display: block; position: relative; }
	.ze_item_img { display: block !important; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-size: cover; background-position: center center; }
	video { width: auto !important; min-height: 100%; }
	a {
		display: block; position: relative; float: left; overflow: hidden; width: 100% !important; height: 100% !important; vertical-align: middle; text-align: center;
		div.ze_overlay .ze_title { line-height: 1.1; }
		&:hover {  }
	}
}

ul.ze_imagelist {
    display: grid;
    grid-template-areas:
"i01 . i02 . i03 ."
"i01 i04 i02 i05 i03 i06"
"i07 i04 i08 i05 i09 i06"
"i07 i10 i08 i11 i09 i12"
"i13 i10 i14 i11 i15 i12"
"i13 i16 i14 i17 i15 i18"
"i19 i16 i20 i17 i21 i18"
"i19 i22 i20 i23 i21 i24"
"i25 i22 i26 i23 i27 i24"
"i25 i28 i26 i29 i27 i30"
". i28 . i29 . i30";
    max-width: 100%;
    grid-template-columns: repeat(6, 16.67%);
    grid-column-gap: 0;
    grid-row-gap: 0;
    // grid-template-rows: repeat(11, 60px) auto;
}

.ze_imagelist li:nth-child(1) { grid-area: i01; }
.ze_imagelist li:nth-child(2) { grid-area: i02; }
.ze_imagelist li:nth-child(3) { grid-area: i03; }
.ze_imagelist li:nth-child(4) { grid-area: i04; }
.ze_imagelist li:nth-child(5) { grid-area: i05; }
.ze_imagelist li:nth-child(6) { grid-area: i06; }
.ze_imagelist li:nth-child(7) { grid-area: i07; }
.ze_imagelist li:nth-child(8) { grid-area: i08; }
.ze_imagelist li:nth-child(9) { grid-area: i09; }
.ze_imagelist li:nth-child(10) { grid-area: i10; }
.ze_imagelist li:nth-child(11) { grid-area: i11; }
.ze_imagelist li:nth-child(12) { grid-area: i12; }
.ze_imagelist li:nth-child(13) { grid-area: i13; }
.ze_imagelist li:nth-child(14) { grid-area: i14; }
.ze_imagelist li:nth-child(15) { grid-area: i15; }
.ze_imagelist li:nth-child(16) { grid-area: i16; }
.ze_imagelist li:nth-child(17) { grid-area: i17; }
.ze_imagelist li:nth-child(18) { grid-area: i18; }
.ze_imagelist li:nth-child(19) { grid-area: i19; }
.ze_imagelist li:nth-child(20) { grid-area: i20; }
.ze_imagelist li:nth-child(21) { grid-area: i21; }
.ze_imagelist li:nth-child(22) { grid-area: i22; }
.ze_imagelist li:nth-child(23) { grid-area: i23; }
.ze_imagelist li:nth-child(24) { grid-area: i24; }
.ze_imagelist li:nth-child(25) { grid-area: i25; }
.ze_imagelist li:nth-child(26) { grid-area: i26; }
.ze_imagelist li:nth-child(27) { grid-area: i27; }
.ze_imagelist li:nth-child(28) { grid-area: i28; }
.ze_imagelist li:nth-child(29) { grid-area: i29; }
.ze_imagelist li:nth-child(30) { grid-area: i29; }
.ze_imagelist li:nth-child(n+30) { display: none; }



.ze_title { width: 100%; position: relative; line-height: 2.5; bottom: 35px; height: 35px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; box-sizing: border-box; }

.ze_overlay_hover {
	overflow: hidden;
	.ze_title { position: absolute; bottom: 0; }
}


div.videoTemplateVersion2 .mejs-container {
	.mejs-overlay-play>.mejs-overlay-button:before {  }
	.mejs-controls {
		.mejs-time {
			span {  }
		}
		.mejs-button button {  }
		.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {  }
	}
	.mediaElementVideoContainer .share-button:before {  }
	.mejs-overlay.mejs-overlay-play .mejs-overlay-button {  }
	.share-button:before {  }
}


ul.pagination {
	padding: 0; list-style: none !important; text-align: center; clear: both; position: relative;
	li {
		display: inline-block; vertical-align: middle;
		a {
			text-decoration: none; display: block; padding: 0 6px; margin: 1px; font-size: 1.1em;
			&.firstBtn,
			&.lastBtn,
			&.prevBtn,
			&.nextBtn {  }
			&:hover {  }
			&.active {  }
		}
		+ li {  }
	}
}



@at-root .ze_box { position: relative; text-decoration: none; }
@at-root #swipebox-overlay .ze-swipebox-action a:before {  }

.ze-swipebox {
	.locationInfo { position: absolute; z-index: 99; }
	&-caption .locationInfo { }
	.locationInfo:hover,
	&-caption .locationInfo:hover {  }
}








//-------------------------------------------------------------------------
} // gallery container