// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


.hide { display: none; }
// this is for old wordpress templates
ul li:before, 
ul ul li:before { content: ''; }
//
audio[controls] { height: auto !important; min-height: 40px; width: 100% !important; }
ul { list-style: none !important; list-style-image: none !important; }
.ze_type_image .ico { display: none; }

* { box-sizing: border-box; }

.ze_type_video .ze_item:before { display: none !important; }

ul.ze_imagelist {
	display: flex; flex-wrap: wrap;
	margin: 0; padding: 0; position: relative;
	li {
		padding: 20px 20px 40px 20px; overflow: hidden;
		float: none; display: inline-block; vertical-align: top; border: none; list-style: none !important; background: none;
		width: 50%;
		min-width: 250px; max-width: 100%; flex-grow: 0;
		&:hover .ze_title {  }
	}
	.ze_item { height: auto !important; }
	img { margin: 0; padding: 0; border: none; max-width: none; max-height: none; width: auto; display: block; position: relative; }
	// .mejs-video { height: 100% !important; }
	.mejs-mediaelement { display: flex; justify-content: center; }
	video { width: auto !important; min-height: 100%; }
	a {
		width: 100% !important; height: auto !important; padding: 0; position: relative;
		display: block; position: relative; overflow: hidden; text-align: center;
		div.ze_overlay .ze_title { line-height: 1.1; }
		&:hover {  }
	}
	.ze_title {
		width: 100%; white-space: normal; z-index: 100; line-height: 1.3; word-break: break-word;
		span { display: block; width: 100%; margin: 3px 0; }		
	}
	@media (max-width: 520px) {
		li { flex-grow: 1; }
	}
}

&.grid1 ul.ze_imagelist li { width: 100%; }
&.grid3 ul.ze_imagelist li { width: 33.33%; }
&.grid4 ul.ze_imagelist li { width: 25%; }


.ze_title {  }

.ze_overlay_hover {
	overflow: hidden;
	.ze_title { position: absolute; bottom: 0; }
}


div.videoTemplateVersion2 .mejs-container {
	.mejs-overlay-play>.mejs-overlay-button:before {  }
	.mejs-controls {
		.mejs-time {
			span {  }
		}
		.mejs-button button {  }
		.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {  }
	}
	.mediaElementVideoContainer .share-button:before {  }
	.mejs-overlay.mejs-overlay-play .mejs-overlay-button {  }
	.share-button:before {  }
}


ul.pagination {
	padding: 0; list-style: none !important; text-align: center; clear: both; position: relative;
	li {
		display: inline-block; vertical-align: middle;
		a {
			text-decoration: none; display: block; padding: 0 6px; margin: 1px; font-size: 1.1em;
			&.firstBtn,
			&.lastBtn,
			&.prevBtn,
			&.nextBtn {  }
			&:hover {  }
			&.active {  }
		}
		+ li {  }
	}
}



@at-root .ze_box { position: relative; text-decoration: none; }
@at-root #swipebox-overlay .ze-swipebox-action a:before {  }

.ze-swipebox {
	.locationInfo { position: absolute; z-index: 99; }
	&-caption .locationInfo { }
	.locationInfo:hover,
	&-caption .locationInfo:hover {  }
}








//-------------------------------------------------------------------------
} // gallery container