// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

.mejs-controls {
	.mejs-button {
		width: 45px;
		button:before { font-size: 25px; }
	}
	> div > button { padding: 5px; }
}



.mediaElement_playlist {
	margin: 5px auto 30px auto;
	ul.slides { max-height: 510px; overflow-y: auto; }
}

.ze_flexslider.carousel {
	li { margin: 0; }
}



.ze_categories_show_more {
	text-align: center;
	a {
		font-size: 18px; color: #777; padding: 3px; border-bottom: 1px dashed #aaa; display: inline-block; text-decoration: none !important; cursor: pointer;
		&:hover {background: #ddd; }
	}
}
.ze_categories_pagination {
	text-align: center;
	li {
		font-size: 18px; color: #777; padding: 3px; border-bottom: 1px dashed #aaa; display: inline-block; text-decoration: none !important; cursor: pointer;
		&:hover {background: #ddd; }
	}
}
.youtubelike_playlist {
	.mediaElementVideoContainer {width: 100% !important; }
	.mediaElementInfo_container {display: none!important; }
	.cp_pl_item {width: 100% !important; }
	.playlistContainer {width: 100% !important; }
	.ze_flexslider .slides > li {display: block !important; }
}
.group_youtubelike {
	width: 48%; display: inline-block; overflow: hidden; margin-right: 2%;
	ul {
		list-style: none;
		li {
		    clear: both; margin-bottom: 15px; overflow: hidden; text-align: left; border-bottom: 2px solid rgba(0,0,0,.1); padding-bottom: 15px;
		    min-height: 120px;
			> div {float: right; width: 60%; padding-left: 2%; }
		}
		.thumb {
			width: 38%; float: left; cursor: pointer; overflow: hidden; position: relative; line-height: 0;
			img { width: 100%; margin: 0; }
			.videoCount {
				display: block !important; position: absolute; height: 100%; background: rgba(0,0,0,.8); top: 0; line-height: 1; right: 0; color: #fff; text-align: center; padding: 15px 8px;
				b { display: block; font-size: 20px; font-weight: bold; }
			}
		}
		p {
			display: block; position: relative; color: black; font-size: 12px; line-height: 1.1; border-bottom: 1px dashed #ddd; width: 100%; text-overflow: ellipsis; white-space: nowrap; word-wrap: break-word; padding: 3px 0 0px 0; margin: 0; cursor: pointer;
			&:hover {background: #eaeaea; }
			span {
				display: inline-block; overflow-x: hidden;
				&.group_playlist_title { width: 65%; text-align: left; }
				&.group_playlist_duration { width: 35%; text-align: right; }
			}
		}
		h2 { font-size: 13px; line-height: 1; margin: 0 0 5px 0; text-align: left; color: #2E76AD;
			&:first-letter { text-transform: uppercase; }
		}
		span.group_playlist_total {font-size: 10px; line-height: 10px; color: black; margin-top: 5px; display: block; opacity: .7; }
	}
}
.mediaElementInfo_container .cp_pl_item:before {content: attr(data-cat); display: inline-block; text-transform: uppercase; font-weight: bold; font-size: 1.5em; border-bottom: 1px solid rgba(255,255,255,.2); line-height: 1.3em; margin: .2em 0; padding: 0 .2em; }
.ze_categories_pagination li.active {color: #5db2e7; }
.mediaElement.youtubelike_playlist {width: 50%; display: inline-block; vertical-align: top; }


.carousel:before { content: attr(data-cat); display: block; text-transform: uppercase; font-weight: normal; font-size: 1.5em; border: 1px solid rgba(255,255,255,.2); line-height: 1.1; margin: 0 0 10px 0; padding: 10px 15px; color: #E0E0E0; }






// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------