/* CATEGORIES */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------





.cp_pl_item { display: inline-block; vertical-align: top; padding: 10px; font-size: 11px; width: 150px; max-height: 190px; max-width: 100%; overflow: hidden; position: relative; text-overflow: ellipsis; color: #333; text-decoration: none; border: 1px solid transparent; }
.cp_pl_item:hover { background: #EAEAEA; }
.cp_pl_item img { height: 100%; width: 100%; }
.pl_item_description { min-height:20px; } 
.pl_item_thumb { display: block; width: auto; height: 80px; }
.pl_item_name { display: block; width: auto; font-size: 16px; line-height: 1.1em; overflow: hidden; text-overflow: ellipsis; font-weight: bold; white-space: normal; max-height: 5.5em; margin-top: 8px; }
.pl_item_description { text-decoration: none; line-height: 1.1em; white-space: normal; margin-top: .5em; opacity: .6; max-height: 45px; overflow-y: auto; }
.mediaElement_playlist {overflow:auto; width:100%; margin-left: 0; overflow-x: auto; max-width: 100%; height: auto !important; clear: both; }
.mediaElement_playlist .playlistContainer { white-space: nowrap; }
.cp_pl_item.current { border-color: #C5C6C7; background: #eee; box-shadow: 0 0 10px #CBCBCB; }
.cp_pl_item .pl_item_thumb:after { content: ' '; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }
.cp_pl_item.current .pl_item_thumb:after { background-image: url(~skin_path~css/images/play.png); }
.cp_pl_item.current.pause .pl_item_thumb:after { background-image: url(~skin_path~css/images/pause.png) !important; }
.cp_pl_item.invalid_video .pl_item_thumb:after { background-image: url(~skin_path~css/images/invalid.png); }






.ze_flexslider.carousel li { margin-right: 6px; width: 150px !important; }
.ze_flexslider .flex-viewport { padding: 10px; }
.ze_group_video .mediaElementVideoContainer { width: 100%; display: block; }
.ze_group_video .mediaElementInfo_container,
.ze_group_video .ze_group_video_info { display: block !important; margin: 15px auto; }
.ze_group_video .mediaElementInfo_container > div {padding: 0;}

.mediaElementInfo_container .cp_pl_item,
.ze_group_video_info .cp_pl_item { background: transparent !important; width: auto; height: auto !important; }
.mediaElementInfo_container .pl_item_thumb,
.ze_group_video_info .pl_item_thumb { display: none !important; }
.mediaElementInfo_container .pl_item_name,
.ze_group_video_info .pl_item_name { white-space: normal; height: auto; font-size: 24px; line-height: 1.1em; margin: 0 0 .5em 0; width: auto; max-width: 100%; }
.mediaElementInfo_container .pl_item_description,
.ze_group_video_info .pl_item_description { font-size: 15px; color: #666; line-height: 1.3em; max-height: 10em; }
.mediaElementInfo_container .cp_pl_item:before { content: attr(data-cat); display: inline-block; text-transform: uppercase; font-weight: 400; font-style: italic; font-size: 1.5em; background: #E8E8E8; line-height: 1.3em; margin: .2em 0; padding: 0 .2em; float: right; }

.ze_categories_show_more,
.ze_categories_pagination { text-align: center; }
.ze_categories_show_more a,
.ze_categories_pagination li { font-size: 18px; color: #777; padding: 3px; border-bottom: 1px dashed #aaa; display: inline-block;  text-decoration: none !important; cursor: pointer; }
.ze_categories_show_more a:hover,
.ze_categories_pagination li:hover { background: #ddd; }

.carousel:before {content: attr(data-cat); display: block; text-transform: uppercase; font-weight: 400; font-size: 1.5em; background: #E8E8E8; line-height: 1.3em; margin: .2em 0; padding: 4px 10px; font-style: italic; text-align: center; }
.ze_categories_pagination li.active {color: #5DB2E7;}





@media screen and (max-width: 640px) {
}



// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------