/* CATEGORIES */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------


.mediaElement_playlist { clear: both; }

.ze_categories_show_more,
.ze_categories_pagination { text-align: center; }
.ze_categories_show_more a,
.ze_categories_pagination li { font-size: 18px; color: #777; padding: 3px; border-bottom: 1px dashed #aaa; display: inline-block;  text-decoration: none !important; cursor: pointer; }
.ze_categories_show_more a:hover,
.ze_categories_pagination li:hover { background: #ddd; }

.carousel:before {content: attr(data-cat); display: block; text-transform: uppercase; font-weight: 400; font-size: 1.5em; background: #E8E8E8; line-height: 1.3em; margin: .2em 0; padding: 4px 10px; font-style: italic; text-align: center; }
.ze_categories_pagination {
	position: relative; z-index: 5;
	li.active {color: #5DB2E7;}
}




@media screen and (max-width: 640px) {
}



// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------