/* MAIN LAYOUT  */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



	> div > p { height: 0; line-height: 0; margin: 0; }
	* { @include box-sizing(border-box); }
	/*	background: #fff;*/ font: 13px/20px Arial, Verdana, Helvetica, sans-serif; margin: 0  auto;
	img { max-width: 100%; }


	.mediaElementVideoContainer {
		.mejs-controls { pointer-events: none; opacity: 0; @include transition-noff(.5s ease opacity); }
		&:hover {
			.mejs-controls { pointer-events: auto; opacity: 1; }
		}
		.share-button {
			// display: none !important;
			&:before { font-size: 30px; }
		}
	}
	.mejs-controls {
		z-index: 10; padding: 5px; height: auto;
		.mejs-button { width: 55px; height: 100%; }
		> div > button { margin: 0; padding: 8px 5px; height: 100% !important; width: 100% !important; }
		.mejs-time {
			height: auto; padding-top: 13px;
			span { font-size: 15px; }
		}
		.mejs-button.mejs-captions-button,
		.mejs-player-chrome-cast-button,
		.mejs-player-logo-button,
		.mejs-share-button,
		.mejs-player-share-button,
		.mejs-fullscreen-button { float: right; }
		// .mejs-share-button { position: absolute; right: 60px; top: 0; z-index: 1001; }
		// .mejs-fullscreen-button { margin-left: 60px; }
		.mejs-player-logo-button {
			line-height: 46px; height: 46px;
			&:after { height: 100%; }
		}
		div.mejs-time-rail {
			position: absolute; bottom: 100%; padding: 0; margin: 0; width: 100% !important; height: 5px; left: 0; @include transition-noff(.5s ease height);
			span { height: 100%; margin: 0; }
			.mejs-time-total { width: 100% !important; }
			.mejs-time-float { height: 17px; padding: 2px; text-align: center; }
			.time-rail-thumbnails { bottom: 100% !important; }
		}
		&:hover {
			div.mejs-time-rail {
				height: 15px;
				.mejs-time-loaded { border-top-width: 6px; border-bottom-width: 6px; }
				&:before { position: absolute; content: ''; z-index: 0; width: 100%; height: 100%; padding-top: 20px; bottom: 0; box-sizing: content-box; }
			}
		}
		.mejs-volume-button .mejs-volume-slider {
			width: 40px; left: 8px;
			.mejs-volume-total { left: 19px; }
			.mejs-volume-current { left: 19px; }
			.mejs-volume-handle { left: 8px; width: 24px; }
		}
		.mejs-player-chrome-cast-button {  }
	}
	
	.mejs-overlay.mejs-layer.mejs-overlay-play {
		height: 100% !important;
		> .mejs-overlay-button { z-index: 2; margin-top: -.7em !important; }
	}


	.mediaElement_playlist .cp_pl_item {
		.pl_item_name { font-weight: 600; }
	}

	.mediaElementVideoContainer,
	.mejs-layers,
	.mejs-inner { height: 100% !important; }

	.mejs-playlist {
		height: 100% !important; overflow: auto; overflow-x: hidden; color: #fff; // reset default
		li {
			font-size: 16px; height: auto; white-space: nowrap; display: block; padding: .5em .5em; font-weight: normal; text-overflow: ellipsis; overflow: hidden;
			&:hover { color: inherit; background: rgba(255,255,255,40/100); } // reset default
			&.current { color: #fff; color: $arg_theme_color_main; background: rgba(255,255,255,30/100); cursor: default;  } // reset default
		}
	}

.mejs-overlay-loading { border-radius: 70px; opacity: .6; }

.mejs-player-logo-button { width: 55px; }




/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 480px) {
	.mejs-logo-button { min-width:16px !important; min-height: 16px !important; max-width: 32px !important; max-height: 32px !important; }
	.mejs-controls {
		.mejs-button { width: 40px; }
		.mejs-time { display: none; }
	}
}



// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------




//
.mediaElement  img {border:none; max-width:100%;}
