/* PLAYLIST */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------


	.mediaElement {
	    position: fixed; bottom: 0; left: 0; width: 100%; z-index: 500;
	}

	.mediaElementVideoContainer {
		position: fixed; bottom: 141px; right: 0; height: auto !important; z-index: 501;
	}

	.mediaElement_categories {
		display: block !important;
		ul { margin: 0; padding: 0; display: block; list-style: none; display: flex; }
		li {
			display: inline-block; margin: 0; padding: 5px 8px; cursor: pointer;
			&:hover { background: #000; }
		}
	}


	.mediaElement_playlist {
		display: block; max-width:100%; width: auto; padding: 0 35px; margin: 0 auto; text-align: left; white-space: nowrap; overflow: auto; overflow-y: hidden;
		position: relative;
		.playlistContainer { @include clearfix(); }
		.cp_pl_item {
			@include clearfix(); text-decoration: none; @include inline-block(top);
			padding: 2px; font-size: 11px; margin: 5px 3px; position: relative; width: 260px; box-sizing: border-box; line-height: 1.1em;
			img { height: 100% !important; width: 100%; }
			.pl_item_description { min-height: 20px; } 
			.pl_item_thumb { @include inline-block(top); position: relative; width: 110px; height: 70px; -webkit-line-clamp: 4; float: left; margin-right: 10px; }
			.pl_item_name { font-size: 16px; font-weight: bold; line-height: 1.1em; overflow: hidden; text-overflow: ellipsis; text-decoration: none; }
			.pl_item_description { white-space: normal; text-decoration: none; overflow: hidden; line-height: 1.2em; margin-top: .3em; height: 3.8em; font-size: 12px; }
			.pl_item_thumb:after { content: ''; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }
		}
	}

	.playlist_scroll_left,
	.playlist_scroll_right { display: none !important; }
	// .playlist_scroll_left,
	// .playlist_scroll_right {
	// 	font-size: 0; display: flex !important; align-items: center; justify-content: center;
	//     position: absolute; top: 0; z-index: 5; color: #fff; font-size: 0 !important; background: rgba(0, 0, 0, 0.7); width: 30px; height: 100%; text-align: center; line-height: 40px; cursor: pointer; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); display: flex !important; align-items: center;
	// 	&:before { font-size: 24px; }
	// 	&:hover { background: #000; box-shadow: 0 2px 10px rgba(0,0,0,.2); }
	// }
	// .playlist_scroll_left {
	// 	left: 0;
	// 	&:before { content: '<'; }
	// }
	// .playlist_scroll_right {
	// 	right: 0;
	// 	&:before { content: '>'; }
	// }


.playlistContainer{ width: auto !important; position: static !important;}
.flex-prev,
.flex-next{position: absolute; top: 0; z-index: 5;color: #fff; font-size: 0 !important;background: rgba(0, 0, 0, 0.7); width: 30px;height: 100%;text-align: center;line-height: 40px;cursor: pointer;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);align-items: center;opacity: 1  !important;display: flex !important;align-items: center;justify-content: center;}
.flex-next{right: 0; }
.flex-next::before{ content: '>'; font-size: 24px; }
.flex-prev::before{ content: '<';  font-size: 24px; }
.flex-prev{left: 0;}
.ze_flexslider.carousel{  position: static !important;}
.ze_flexslider .flex-direction-nav a{  margin: 0; }

.mediaElement_categories_minimize {
	width: 30px; height: 30px; display: inline-block; background: #ca0000; position: absolute; top: 0; right: 0; text-align: center; line-height: 29px; font-size: 24px;
	&:before { content: '–'; }
}
.mediaElement_categories_minimized .mediaElement_categories_minimize:before { content: '+'; }
.mediaElement_playlist { max-height: 200px; transition: .5s ease all; opacity: 1; }
.mediaElement_playlist_minimized { max-height: 0; opacity: 0; }

// gallery container
}//#~gallery~_div
//-------------------------------------------------------------------------