/* PLAYLIST */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------

overflow: hidden;

&:before { content: ''; position: absolute; background: #135682; background-color: $arg_theme_color2; height: 80px; width: calc(100% + 1000px); margin-left: -500px; top: 150px; }


.mediaElementVideoContainer { max-width: 740px; margin: 0 auto; }

.mediaElementInfo_container {
    display: block !important; text-align: center;
    .cp_pl_item { height: auto !important; background: transparent !important; margin: 10px 0; }
    .pl_item_thumb { display: none; }
    .pl_item_name { text-align: center; margin: 0; font-size: 18px; text-align: center; color: #135682 !important; color: $arg_theme_color2 !important; }
}


.mediaElement_playlist {
	display: block; max-width:100%; width: auto; margin: 10px auto; text-align: left; white-space: nowrap; display: flex; overflow: hidden; position: relative;
	.playlistContainer { @include clearfix(); overflow: auto; overflow-y: hidden; margin: 0 40px; }
	.cp_pl_item {
		@include clearfix(); text-decoration: none; @include inline-block(top);
	    padding: 10px; flex-shrink: 0; flex-grow: 0; overflow: hidden;
		margin: 10px; font-size: 11px; position: relative; width: 220px; box-sizing: border-box; line-height: 1.1em;
		position: relative;
		color: #fff !important; color: $arg_text_color !important;
		&:before { content: ''; display: block; position: absolute; width: 100%; height: 100%; background: #135682; background-color: $arg_theme_color2; top: 0; left: 0; z-index: 1; opacity: .9; }
		&:hover:before { background-color: #0e3d5e; background-color: $arg_theme_color3; }
		img { height: auto; width: 100%; }
		.pl_item_description { min-height:20px; } 
		.pl_item_thumb {
			@include inline-block(top); color: inherit; width: 100%; height: 100%; position: absolute; margin: -10px;
			&:before { z-index: 2; right: 0; bottom: 0; left: auto !important; top: auto !important; }
		}
		.pl_item_name { font-size: 14px; color: inherit !important; font-weight: bold; line-height: 1.1em; overflow: hidden; text-overflow: ellipsis; text-decoration: none; z-index: 1; position: relative; }
		.pl_item_description { white-space: normal; text-decoration: none; overflow: hidden; line-height: 1.2em; margin-top: .3em; height: 4.8em; font-size: 12px; z-index: 1; position: relative; }
		.pl_item_thumb:after { content: ''; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; z-index: 1; position: relative; }
		// -------
		&.current {
			&:before { content: 'NOW PLAYING'; font-size: 24px; padding: 40px 5px; text-align: center; z-index: 5; background-color: #0e3d5e; background-color: $arg_theme_color3; }
		}
	}
	.playlist_scroll_left,
	.playlist_scroll_right {
	    position: absolute; left: 0; background: #fff; color: #135682; color: $arg_theme_color2; z-index: 2; height: 100%; font-size: 0; width: 40px; text-align: left; cursor: pointer;
	    &:before { font-size: 32px; position: absolute; top: 50%; margin-top: -.5em; line-height: 1; }
	}
	.playlist_scroll_left:before { content: "<"; }
	.playlist_scroll_right:before { content: ">"; right: 0; }
	.playlist_scroll_left { left: 0; }
	.playlist_scroll_right { right: 0; left: auto;  text-align: right;}
}




// gallery container
}//#~gallery~_div
//-------------------------------------------------------------------------