/* PLAYLIST */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



	.mediaElement_playlist {
		display: block; width: auto; margin: 10px auto; text-align: left;
		.playlist_scroll_left,
		.playlist_scroll_right { display: none; }
		.playlistContainer { }
		.cp_pl_item {
			@include clearfix(); text-decoration: none;
			display: block;
			padding: 5px; font-size: 11px; margin: 0 auto; width: auto; position: relative; overflow: hidden; text-overflow: ellipsis;
			img { height: 100%; width: 100%; }
			.pl_item_description {  } 
			.pl_item_thumb { @include inline-block(top); position: relative; width: 40px; height: 25px; float: left; margin-right: 10px; }
			.pl_item_name { margin-top: 3px; font-size: 15px; font-weight: bold; line-height: 1.1em; overflow: hidden; text-overflow: ellipsis; text-decoration: none; }
			.pl_item_description { text-decoration: none;  line-height: 1.3em; margin-top: .5em; white-space: normal; text-decoration: none; }
			.pl_item_thumb:after { content: ''; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }
		}
	}




// gallery container
}//#~gallery~_div
//-------------------------------------------------------------------------