/* PLAYLIST */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



.mediaElement  img {border:none; max-width:100%;}
.ze_tl_block {display:block !important;}
.ze_tl_timeblock {float: right;}
.ze_tl_length { float: right; margin: auto 5px;}
.ze_tl_block ul { display: block; list-style-type: none; counter-reset: list; margin: 0; padding: 5px; list-style: none;}
.ze_tl_block ul li > a { cursor: pointer; }
div.tl_section { position: absolute; width: 5px; height: 16px; display: block; z-index: 99999; cursor: pointer; margin-top: 2px; opacity: .5; top: 50%; /*margin-top: -9px;*/ }
div.tl_section:hover { opacity: 1; }
.mejs-time-rail { position: relative; }
div.tl_section_info {
	display: none; position: absolute; bottom: 100%; margin-left: -75px; width: 150px; padding: .5em; line-height: 1.2em; border-radius: 2px; height: auto; top: auto;
	span { position: static; width: auto; height: auto !important;}
	.ze_tl_title { font-weight: bold; font-size: 14px; white-space: normal; }
}

.tl_section:hover .tl_section_info{display:block;}

.tl_item > div { display: inline-block; vertical-align: middle; margin: 0 1%; }
.tl_item .ze_tl_infoblock { max-width: 79%; max-width: calc(100% - 175px); }
.tl_item .ze_tl_infoblock .ze_tl_title { display: block; font-size: 1.5em; margin-bottom: .2em; white-space: normal; }
.tl_item .ze_tl_infoblock .ze_tl_description { display: block; opacity: .8; white-space: normal; }
.tl_item .ze_tl_time_infoblock { font-size: .9em; opacity: .7; float: right; }

a.tl_item { display: block; padding: 5px; text-align: left; vertical-align: middle; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: justify; white-space: nowrap; overflow: hidden; }
a.tl_item:before { counter-increment: list; content: counter(list); font-size: 18px; font-weight: bold; display: inline-block; min-width: 1.5em; height: 1.5em; line-height: 1.5em; border-radius: 1.5em; vertical-align: middle; text-align: center; margin: 0 .4em; -moz-transition: .5s ease all; -webkit-transition: .5s ease all; transition: .5s ease all; }
a.tl_item:after { content: ''; font-size: 0; display: inline-block; width: 100%; height: 0; }
a.tl_item.selected { }
a.tl_item.selected:before { font-size: 24px; margin: 0 .11em; }





// gallery container
}//#~gallery~_div
//-------------------------------------------------------------------------