$pls_width: 350px;

/* PLAYLIST */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------

	::-webkit-scrollbar { width: 8px; height: 8px; border: 2px solid transparent; background-clip: padding-box; }
	::-webkit-scrollbar-track { background: rgba(0,0,0,.3); border: 2px solid transparent; background-clip: padding-box; border-radius: 10px; }
	::-webkit-scrollbar-thumb { background: rgba(255,255,255,.5); border-radius: 10px; border: 2px solid transparent; background-clip: padding-box; }
	::-webkit-scrollbar-thumb:window-inactive { background: rgba(0,0,0,.3); border: 2px solid transparent; background-clip: padding-box; }

	.mediaElement {
		// display: flex; display: flex; flex-wrap: wrap;
		// >div { flex-grow: 1; }
		@include clearfix();
	}

	.playlist_scroll_right,
	.playlist_scroll_left { display: none; }

	.mediaElementVideoContainer {
		// min-width: 440px;
		width: calc(100% - #{$pls_width}); float: left;
	}

	.mediaElement_playlist {
		position: absolute; right: 0; max-height: 100%; overflow-y: auto;
		display: block; width: $pls_width; margin: 0; float: right; text-align: left;
		.playlist_scroll_left,
		.playlist_scroll_right { display: none; }
		.playlistContainer { }
		.cp_pl_item {
			@include clearfix(); text-decoration: none;
			display: block; padding: 10px 10px 10px 13px; font-size: 11px; margin: 0 auto; width: auto; position: relative; overflow: hidden; text-overflow: ellipsis;
			img { height: 100%; width: auto; max-width: none; }
			.pl_item_description { min-height: 20px; } 
			.pl_item_thumb {
				@include inline-block(top); width: 80px; height: 80px; float: left; margin-right: 16px; overflow: hidden;
			}
			.pl_item_name { margin-top: 7px; font-size: 16px; font-weight: normal; line-height: 1.1em; overflow: hidden; text-overflow: ellipsis; text-decoration: none; }
			.pl_item_description { text-decoration: none; line-height: 1.3em; margin-top: 3px; font-size: 12px; white-space: normal; text-decoration: none; }
			.pl_item_thumb:after { content: ''; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }
		}
	}


	@media (max-width: 640px){
		.mediaElement {
			>div { width: 100%; float: none; position: relative; }
		}
		.mediaElement_playlist {
			.playlistContainer { padding: 5px; white-space: nowrap; max-width: 100%; overflow-x: auto; overflow-y: hidden !important; }
			.cp_pl_item {
				display: inline-block; font-size: 11px; line-height: 1.1; width: 28.5%;
				margin: 0; vertical-align: top; height: 80px; max-height: 13.74vw; text-align: center;
				+.cp_pl_item { margin: 0 0 0 4px; }
				.pl_item_description { display: none; }
			    .pl_item_thumb {
			    	position: absolute; width: 100%; height: 100%; top: 0; left: 0; margin: 0;
			    	&:before { content: '' !important; display: block !important; position: absolute; background: rgba(#000,.5) !important; width: 100% !important; height: 100% !important; top: 0 !important; left: 0 !important; margin: 0 !important; }
			    }
			    .pl_item_name { font-size: 11px; font-weight: normal; position: absolute; bottom: 0; width: 100%; text-align: center; overflow: hidden; white-space: normal; max-width: 100%; max-height: 100%; left: 0; padding: 5px; }
			    &.current {
			    	border: 1px solid #fff; border-color: $arg_theme_color_main;
			    	.pl_item_name:before { font-size: 10px; margin-bottom: 2px; }
			    }
	    	&.current .pl_item_name:before { content: 'Now playing:'; display: block; margin-bottom: 3px; font-size: 10px; position: static; text-transform: uppercase; font-weight: bold; }
			}
		}
		&:not(.status-pause):not(.status-play) .cp_pl_item:first-child {
			border: 1px solid #fff; border-color: $arg_theme_color_main;
			.pl_item_name:before { content: 'Now playing:'; display: block; margin-bottom: 2px; font-size: 10px; position: static; text-transform: uppercase; font-weight: bold; }
			// .pl_item_name:before { font-size: 10px; margin-bottom: 2px; }
		}
	}

	@media (max-width: 500px){
		::-webkit-scrollbar { width: 0 !important; height: 0 !important; }
	}



// gallery container
}//#~gallery~_div
//-------------------------------------------------------------------------