/* PLAYLIST */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



	.mediaElement_playlist {
		display: block; max-width:100%; width: auto; margin: 30px auto; text-align: left; white-space: normal; overflow: auto; overflow-y: hidden;
		.playlistContainer { @include clearfix(); }
		.cp_pl_item {
			@include clearfix(); text-decoration: none; @include inline-block(top);
			padding: 10px; font-size: 11px; margin: 5px 3px; position: relative; width: 300px; box-sizing: border-box; line-height: 1.1em;
			img { height: 100% !important; width: 100%; }
			.pl_item_description { min-height:20px; } 
			.pl_item_thumb { @include inline-block(top); position: relative; width: 130px; height: 80px; -webkit-line-clamp: 4; float: left; margin-right: 10px; border: 3px solid #fff; box-shadow: 0 0 3px rgba(0, 0, 0, 0.26); overflow: hidden; }
			.pl_item_name { font-size: 16px; font-weight: bold; line-height: 1.1em; overflow: hidden; text-overflow: ellipsis; text-decoration: none; }
			.pl_item_description { white-space: normal; text-decoration: none; overflow: hidden; line-height: 1.2em; margin-top: .3em; max-height: 4.8em; font-size: 12px; }
			.pl_item_thumb:after { content: ''; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }
			&.current {  }
		}
	}


/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 480px) {
	.mediaElement_playlist { margin: 15px auto; }
	.mediaElement_playlist .cp_pl_item {
		max-width: 100%; margin: 0 auto; padding: 5px;
		.pl_item_thumb { max-width: 45vw; }
		img { width: auto; max-width: none; }
	}
}


// gallery container
}//#~gallery~_div
//-------------------------------------------------------------------------