/* PLAYLIST */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



	.mediaElement_playlist { display: inline-block; vertical-align: top; margin-left: 10px; }

	.cp_pl_item {
		@include inline-block(top); padding: 2px; font-size: 11px; margin: 5px 3px; width: 220px;position: relative; overflow: hidden; text-overflow: ellipsis;
		img { height: 100%; width: auto; }
		.pl_item_description { min-height:20px; } 
		.pl_item_thumb { @include inline-block(top); width: 100px; height: 75px; float: left; margin-right: 10px; }
		.pl_item_name { @include inline-block(top); width: 100px; font-size: 13px; font-weight: bold; line-height: 1.1em; overflow: hidden; text-overflow: ellipsis; }
		.pl_item_description { text-decoration: none;  line-height: 1.1em; white-space: normal; }

		.pl_item_thumb:after { content: ''; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }
	}
 

	.mediaElement_playlist { 
		overflow:auto; width:100%; margin-left: 0; overflow-x: auto; max-width: 100%; height: auto !important;
		.playlistContainer { white-space: nowrap; }
	}






@media screen and (max-width: 640px) {
	.cp_pl_item { width: 100px; }
	.pl_item_name { display: block; padding: 2px; width: auto; height: 2em; line-height: 1em; }
}





// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------