$pls_width: 190px;

/* PLAYLIST */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------

	::-webkit-scrollbar { width: 8px; height: 8px; border: 2px solid transparent; background-clip: padding-box; }
	::-webkit-scrollbar-track { background: rgba(0,0,0,.3); border: 2px solid transparent; background-clip: padding-box; border-radius: 10px; }
	::-webkit-scrollbar-thumb { background: rgba(255,255,255,.5); border-radius: 10px; border: 2px solid transparent; background-clip: padding-box; }
	::-webkit-scrollbar-thumb:window-inactive { background: rgba(0,0,0,.3); border: 2px solid transparent; background-clip: padding-box; }


	.mediaElement {
		// display: flex; display: flex; flex-wrap: wrap;
		// >div { flex-grow: 1; }
		@include clearfix();
	}

	.playlist_scroll_right,
	.playlist_scroll_left { display: none; }

	.mediaElementVideoContainer {
		// min-width: 440px;
		width: calc(100% - #{$pls_width}); float: left;
	}

	.mediaElement_playlist {
		position: absolute; right: 0; max-height: 100%; overflow-y: auto;
		display: block; width: $pls_width; margin: 0; float: right; text-align: left;
		padding: 10px;
		-webkit-overflow-scrolling: touch;

		.playlist_scroll_left,
		.playlist_scroll_right { display: none; }
		.playlistContainer { }
		.cp_pl_item {
			@include clearfix(); text-decoration: none;
			display: block;
			font-size: 12px; margin: 0 auto 10px auto; width: auto; position: relative; overflow: hidden; text-overflow: ellipsis;
			img { height: auto; width: 100%; }
			.pl_item_description { min-height:20px; padding: 0 10px; } 
			.pl_item_thumb {
				// width: 158px; height: 92px;
				width: 100%;
			}
			.pl_item_name { margin-top: 5px; padding: 0 10px; font-size: 12px; line-height: 1.1; overflow: hidden; text-overflow: ellipsis; text-decoration: none; }
			.pl_item_description { text-decoration: none; font-size: 10px; line-height: 1.2; margin: 5px 0; white-space: normal; text-decoration: none; }
			.pl_item_thumb:after { content: ''; display: block; position: absolute; top: 16px; left: 23px; width: 16px; height: 16px; }
		}
	}


	@media (max-width: 640px){
		.mediaElement {
			>div { width: 100%; float: none; position: relative; }
		}
		.mediaElementVideoContainer { padding: 5px; }
		.mediaElement_playlist {
			padding: 0;
			.playlistContainer { padding: 5px 0 5px 0; white-space: nowrap; max-width: 100%; overflow-x: auto; overflow-y: hidden !important; }
			.cp_pl_item {
				width: 26%; margin: 0 5px; display: inline-block; vertical-align: top;
				.pl_item_thumb { height: 13vw; display: flex; }
			    &.current {
			    	// border: 1px solid #fff;
			    	.pl_item_name:before { content: 'Now playing:'; display: block; font-size: 10px; margin-bottom: 2px; position: static; text-transform: uppercase; font-weight: bold; }
			    }
			}
			.pl_item_description { display: none; }
		}
		&:not(.status-pause):not(.status-play) {
			.cp_pl_item:first-child {
				// border: 1px solid #fff;
				.pl_item_name:before { content: 'Now playing:'; display: block; font-size: 10px; margin-bottom: 2px; position: static; text-transform: uppercase; font-weight: bold; }
			}
		}
	}

	@media (max-width: 500px){
		::-webkit-scrollbar { width: 0 !important; height: 0 !important; }
		.mediaElement_playlist .cp_pl_item .pl_item_name { padding: 8px 10px; opacity: .8; font-weight: normal; }
	}


// gallery container
}//#~gallery~_div
//-------------------------------------------------------------------------