/* MAIN LAYOUT  */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



	> div > p { height: 0; line-height: 0; margin: 0; }
	* { @include box-sizing(border-box); }
	/*	background: #fff;*/ font: 13px/20px Arial, Verdana, Helvetica, sans-serif; margin: 0  auto;
	img { max-width: 100%; }


// sad, but not working :(
//	.mejs-controls {
//		display: table; width: 100%; table-layout: fixed;
//		> div { display: table-cell; width: auto; float: none !important; vertical-align: middle; position: relative; }
//		> div > button { display: inline-block; position: static !important; width: auto; height: 100%; margin: 0; padding: 0 5px; }
//		.mejs-time-rail {
//			width: 80% !important; padding: 0;
//			> span { position: relative; width:100% !important; }
//		}
//		.mejs-time { height: auto;
//			max-width: 10em; min-width: 4em; white-space: nowrap;
//			> span { display: inline-block; float: none; }
//		}
//	}


	.mejs-controls {
		z-index: 10;
		.mejs-button { width: 30px; height: 100%; }
		//> div:first-child { margin-left: 5px; }
		> div > button { margin: 0; padding: 8px 5px; height: 100% !important; width: 100% !important; }
		.mejs-time { height: auto; }
	}
	
	.mejs-overlay.mejs-layer.mejs-overlay-play {
		height: 100% !important;
		> .mejs-overlay-button { z-index: 2; margin-top: -.7em !important; }
	}

	.mejs-layers,
	.mejs-inner { height: 100% !important; }

	.mejs-playlist {
		height: 100% !important; overflow: auto; overflow-x: hidden; color: #fff; // reset default
		li {
			font-size: 14px; height: auto; white-space: nowrap; display: block; padding: .5em .5em; font-weight: normal; text-overflow: ellipsis; overflow: hidden;
			&:hover { color: inherit; background: rgba(255,255,255,40/100); } // reset default
			&.current { color: inherit; font-weight: bold; background: rgba(255,255,255,30/100); cursor: default;  } // reset default
		}
	}

.mejs-overlay-loading { border-radius: 70px; opacity: .6; }





/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.mejs-logo-button { min-width:16px !important; min-height: 16px !important; max-width: 32px !important; max-height: 32px !important; }
}



// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------




//
.mediaElement  img {border:none; max-width:100%;}
