/* MAIN LAYOUT  */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



	> div > p { height: 0; line-height: 0; margin: 0; }
	* { @include box-sizing(border-box); }
	/*	background: #fff;*/ font: 13px/20px Arial, Verdana, Helvetica, sans-serif; margin: 0  auto;
	img { max-width: 100%; }



	.mejs-controls {
		z-index: 10; padding: 5px; height: auto;
		.mejs-button { width: 30px; height: 100%; }
		> div > button { margin: 0; padding: 8px 5px; height: 100% !important; width: 100% !important; }
		.mejs-time { height: auto; }
		.mejs-player-logo-button,
		.mejs-volume-button,
		.mejs-fullscreen-button { float: right; }
		.mejs-player-logo-button {
			line-height: 40px;
			&:after { height: 30px; }
		}
		div.mejs-time-rail {
			position: absolute; bottom: 100%; padding: 0; margin: 0; width: 100% !important; height: 5px; left: 0; @include transition(.5s ease height);
			span { height: 100%; margin: 0; }
			.mejs-time-total { width: 100% !important; }
			.mejs-time-float { height: 17px; padding: 2px; text-align: center; }
			.time-rail-thumbnails { bottom: 100% !important; }
		}
		&:hover {
			div.mejs-time-rail { height: 15px; }
		}
	}
	
	.mejs-overlay.mejs-layer.mejs-overlay-play {
		height: 100% !important;
		> .mejs-overlay-button { z-index: 2; margin-top: -.7em !important; }
	}


	.mediaElement_playlist .cp_pl_item {
		.pl_item_name { font-weight: 600; }
	}

	.mediaElementVideoContainer,
	.mejs-layers,
	.mejs-inner { height: 100% !important; }

	.mejs-playlist {
		height: 100% !important; overflow: auto; overflow-x: hidden; color: #fff; // reset default
		li {
			font-size: 14px; height: auto; white-space: nowrap; display: block; padding: .5em .5em; font-weight: normal; text-overflow: ellipsis; overflow: hidden;
			&:hover { color: inherit; background: rgba(255,255,255,40/100); } // reset default
			&.current { color: inherit; font-weight: bold; background: rgba(255,255,255,30/100); cursor: default;  } // reset default
		}
	}

.mejs-overlay-loading { border-radius: 70px; opacity: .6; }





/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.mejs-logo-button { min-width:16px !important; min-height: 16px !important; max-width: 32px !important; max-height: 32px !important; }
}



// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------




//
.mediaElement  img {border:none; max-width:100%;}
