@import "init/global-mixins";

$arg_arrows_color: #ff1236;
$arg_theme_color_main: #effefd; // should be replaced after compilation

/*@version2@version */
/*@createarg[
{'group':'controls','name':'theme_color','type':'color','title':'Controls color','default':'#ffffff',desc:'Customize Theme color'},
{'group':'design','name':'arrows_color','type':'color','title':'Arrows color','default':'#474747',desc:'Customize slider arrows color'},
{'group':'hidden','name':'useCss','type':'bool','title':'','default':'false',desc:''}
]@createarg
*/

// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


	position: relative; font-family: Arial, Verdana, Helvetica, sans-serif; margin: 0 auto;
	.flexslider {
		background: transparent; margin: 0 0 33px; border: none; box-shadow: none; overflow: visible; border-radius: 0; max-height: none !important; position: relative;
	    padding-bottom: 50px;
		.slides {
			> li,
			img,
			.mejs-mediaelement {max-height: 100%; height: auto !important; }
		}
		&:after { content: ''; display: block; clear: both; }
		&:hover .flex-direction-nav { cursor: default; opacity: 1!important; }
		> ul.slides {
			width: 66.66%; margin-left: 10px; overflow: visible!important;
			.textBox {width: 50%; top: 0; left: 100%; }
		}
	}
	.slides { list-style: none; margin: 0; padding: 0; max-height: 100%; height: auto !important; }
	.flex-control-nav {list-style: none; margin: 0; padding: 0; bottom: -25px; }
	.flex-direction-nav {
		list-style: none; margin: 0; padding: 0; display: none;
		.flex-disabled {opacity: 1!important; }
	}
	.flex-viewport {margin-left: 10px; width: 66.66%; position: static!important; float: right; max-height: 100%; height: auto !important; }
	.textBox {
		line-height: 1.3; padding-top: 20px; overflow: hidden; height: calc(100% - 50px) !important; position: absolute; top: 0; max-height: 100%; width: calc(33.3333% - 20px); left: 0; opacity: 0; visibility: hidden;
		background: rgba(#000, .1);
		h2 { margin: 0; text-align: inherit; font-weight: normal; }
		span {display: block; }
		.textBoxTitle { font-size: 26px; height: auto !important; margin-bottom: .6em; }
		.textBoxDesc { font-size: 15px; font-weight: bold; white-space: pre-line; text-decoration: underline; }
	}
	.flex-direction-nav {
		a { margin: 0; opacity: 1; }
		.flex-next,
		.flex-prev,
		.flex-play,
		.flex-restart {
			background: #474747; background: $arg_arrows_color;
			&:before {font-size: 30px; color: #fff; padding: 21px 15px; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4) !important; font-family: "cp-sliders" !important; text-indent: 0; speak: none; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 1; }			
		}
		.flex-next {
			text-align: right; height: 73px; right: 0;
			&:before { content: '\e90c'; }
		}
		.flex-prev {
			height: 73px; right: 66%; left: auto; margin-right: -55px;
			&:before {content: '\e90d'; }
		}
		.flex-play {
			height: 73px; margin: auto; right: auto; left: 33.33%; margin-left: -20px; opacity: 0.7;
			&:before { content: '\e912'; display: inline-block;  }
		}
		.flex-restart {
			height: 73px; margin: auto; right: auto; left: 33.33%; margin-left: -20px; top: auto; bottom: 20px;
			&:before { content: '\e913'; display: inline-block; }
		}
	}
	.flex_container {
		max-height: 100%; height: auto !important;
		img[data-related] {cursor: pointer; }
	}
	.muteBtn {
		height: 24px; width: 24px; opacity: 0.6; border-radius: 5px; cursor: pointer; display: inline-block; font-size: 0; vertical-align: top; position: absolute; z-index: 555; bottom: 10px; right: 10px;
		&.mute {background: url("~skin_path~css/images/mute.png") no-repeat #000 center center; }
		&.unmute {background: url("~skin_path~css/images/unmute.png") no-repeat #000 center center; }
	}
	.flexslider-title {
		display: block; z-index: 10000; text-align: left; padding: 2px 10px; margin-top: 0; overflow: hidden; width: 100%; font-weight: bold; font-size: 20px;
		position: absolute; bottom: 0;
		> {
			.flexslider-title-left {width: 66.66%; display: inline-block; vertical-align: top; margin: 0; line-height: 40px; }
			.flexslider-title-right {width: 33.33%; display: inline-block; vertical-align: top; }
		}
		.flexslider-title-count {float: right; display: inline-block; line-height: 40px; font-weight: bold; font-size: 14px; }
		.flexslider-title-arrows {margin: 0; float: right; padding-left: 20px; }
		li {
			vertical-align: top; margin: 0; padding: 0; list-style: none; display: inline-block;
			a {cursor: pointer; height: 40px; text-decoration: none; display: block; width: 40px; text-shadow: 1px 1px 0 rgba(255,255,255,0.3); background: $arg_arrows_color; }
		}
		a {font-size: 12px; color: #fff; padding: 0; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4) !important; font-family: "cp-sliders" !important; text-indent: 0; speak: none; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 40px; text-align: center; }
		.flexslider-title-arrows-prev {
			margin-right: 8px;
			a:before {content: '\e90d'; }
		}
		.flexslider-title-arrows-next a:before {content: '\e90c'; }
	}
	.controls_top {
		&.thumbnails_nav {
			&.controls_slide ~ .flex-viewport {
				.textBox {top: calc(~arg_nav_thumb_size_h~px + 130px); }
				.flex-direction-nav a {top: calc(50% + (130px + ~arg_nav_thumb_size_h~px) / 2); }
			}
			&:not(.controls_slide) .flex-direction-nav a { margin-top: 100px !important; }
		}
		&.numbers_nav {
			&.controls_slide ~ .flex-viewport {
				.textBox {top: 132px; }
				.flex-direction-nav a {margin-top: 16px; }
			}
			&:not(.controls_slide) .flex-direction-nav a { margin-top: 16px !important; }
		}
		&.navigation_rounds.controls_slide ~ .flex-viewport {
			.textBox {top: 124px; }
			.flex-direction-nav a {margin-top: 8px; }
		}
	}
	.flex-active-slide .textBox { opacity: 1; visibility: visible; }
	.mediaObject .textBox { bottom: 30px; }
	li.mediaObject .mediaContainer video { display: none; }
	.controls_bottom.thumbnails_nav:not(.controls_slide) .flex-direction-nav a { margin-top: 0 !important; top: calc(50% - ~arg_nav_thumb_size_h~px / 2); }
	* { max-height: 100vh !important; }
	div.videoTemplateVersion2 .mejs-container {
		.mejs-controls {
			pointer-events: none; opacity: 0;
			.mejs-time {
				color: $arg_theme_color;
				span { color: $arg_theme_color; }
			}
			.mejs-button button { color: $arg_theme_color; }
			.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {background: $arg_theme_color; }
		}
		&:not(.hideControlsOnHover):hover .mejs-controls {pointer-events: auto; opacity: 1; }
		.mejs-overlay-play > .mejs-overlay-button:before {color: $arg_theme_color; }
		.mediaElementVideoContainer .share-button:before {color: $arg_theme_color; }
		.mejs-overlay.mejs-overlay-play .mejs-overlay-button {color: $arg_theme_color; }
		.share-button:before {color: $arg_theme_color; }
	}



	@media screen and(max-width: 860px) {
		.textBox {
			// .textBoxTitle {font-size: 12px; }
			// .textBoxDesc {font-size: 15px; }
		}
		.flex-direction-nav li {
			position: initial;
			a {top: 50%; }
		}
	}
	@media screen and(max-width: 720px) {
		.flex-viewport {position: relative; height: auto!important; margin: 0 auto; float: none; width: 86%; max-height: none!important; }
		.flexslider {
			max-height: none!important;
			> ul.slides {
				width: 86%; margin: 0 auto;
				.textBox {width: 100%; }
			}
		}
		.textBox {width: 100%; position: static; }
		.flex-direction-nav {
			.flex-prev {left: 7%; opacity: 0!important; }
			.flex-next {right: 7%; opacity: 0!important; }
			.flex-play,
			.flex-restart {opacity: 0!important; }
		}
		.flexslider-title {width: 100%; padding-left: 7%; padding-right: 7%; box-sizing: border-box; }
		.slides {
			max-height: none!important;
			> li {max-height: none!important; }
		}
		.flex-active-slide .textBox {padding-top: 20px!important; padding-bottom: 20px!important; }
	}
	@media screen and(max-width: 450px) {
		.flexslider-title-count {display: none; }
		.flexslider-title {
			.flexslider-title-arrows {margin-top: 38px; padding-left: 14px; }
			li a {height: 24px; width: 24px; line-height: 24px; }
			> .flexslider-title-left {padding-top: 38px; line-height: 24px; }
		}
	}







//-------------------------------------------------------------------------
} // gallery container