/*@version2@version */
/*@createarg[
{'group':'controls','name':'theme_color','type':'color','title':'Controls color','default':'#ffffff',desc:'Customize Theme color'},
{'group':'design','name':'arrows_color','type':'color','title':'Arrows color','default':'#474747',desc:'Customize slider arrows color'},
{'group':'hidden','name':'useCss','type':'bool','title':'','default':'false',desc:''}
]@createarg
*/
div#gallery_div { position: relative; font-family: Arial, Verdana, Helvetica, sans-serif; margin: 0 auto; }
div#gallery_div .flexslider { background: transparent; margin: 0 0 33px; border: none; box-shadow: none; overflow: visible; border-radius: 0; max-height: none !important; position: relative; padding-bottom: 50px; }
div#gallery_div .flexslider .slides > li, div#gallery_div .flexslider .slides img, div#gallery_div .flexslider .slides .mejs-mediaelement { max-height: 100%; height: auto !important; }
div#gallery_div .flexslider:after { content: ''; display: block; clear: both; }
div#gallery_div .flexslider:hover .flex-direction-nav { cursor: default; opacity: 1 !important; }
div#gallery_div .flexslider > ul.slides { width: 66.66%; margin-left: 10px; overflow: visible !important; }
div#gallery_div .flexslider > ul.slides .textBox { width: 50%; top: 0; left: 100%; }
div#gallery_div .slides { list-style: none; margin: 0; padding: 0; max-height: 100%; height: auto !important; }
div#gallery_div .flex-control-nav { list-style: none; margin: 0; padding: 0; bottom: -25px; }
div#gallery_div .flex-direction-nav { list-style: none; margin: 0; padding: 0; display: none; }
div#gallery_div .flex-direction-nav .flex-disabled { opacity: 1 !important; }
div#gallery_div .flex-viewport { margin-left: 10px; width: 66.66%; position: static !important; float: right; max-height: 100%; height: auto !important; }
div#gallery_div .textBox { line-height: 1.3; padding-top: 20px; overflow: hidden; height: calc(100% - 50px) !important; position: absolute; top: 0; max-height: 100%; width: calc(33.3333% - 20px); left: 0; opacity: 0; visibility: hidden; background: rgba(0, 0, 0, 0.1); }
div#gallery_div .textBox h2 { margin: 0; text-align: inherit; font-weight: normal; }
div#gallery_div .textBox span { display: block; }
div#gallery_div .textBox .textBoxTitle { font-size: 26px; height: auto !important; margin-bottom: .6em; }
div#gallery_div .textBox .textBoxDesc { font-size: 15px; font-weight: bold; white-space: pre-line; text-decoration: underline; }
div#gallery_div .flex-direction-nav a { margin: 0; opacity: 1; }
div#gallery_div .flex-direction-nav .flex-next, div#gallery_div .flex-direction-nav .flex-prev, div#gallery_div .flex-direction-nav .flex-play, div#gallery_div .flex-direction-nav .flex-restart { background: #474747; background: #ff1236; }
div#gallery_div .flex-direction-nav .flex-next:before, div#gallery_div .flex-direction-nav .flex-prev:before, div#gallery_div .flex-direction-nav .flex-play:before, div#gallery_div .flex-direction-nav .flex-restart:before { font-size: 30px; color: #fff; padding: 21px 15px; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4) !important; font-family: "cp-sliders" !important; text-indent: 0; speak: none; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 1; }
div#gallery_div .flex-direction-nav .flex-next { text-align: right; height: 73px; right: 0; }
div#gallery_div .flex-direction-nav .flex-next:before { content: '\e90c'; }
div#gallery_div .flex-direction-nav .flex-prev { height: 73px; right: 66%; left: auto; margin-right: -55px; }
div#gallery_div .flex-direction-nav .flex-prev:before { content: '\e90d'; }
div#gallery_div .flex-direction-nav .flex-play { height: 73px; margin: auto; right: auto; left: 33.33%; margin-left: -20px; opacity: 0.7; }
div#gallery_div .flex-direction-nav .flex-play:before { content: '\e912'; display: inline-block; }
div#gallery_div .flex-direction-nav .flex-restart { height: 73px; margin: auto; right: auto; left: 33.33%; margin-left: -20px; top: auto; bottom: 20px; }
div#gallery_div .flex-direction-nav .flex-restart:before { content: '\e913'; display: inline-block; }
div#gallery_div .flex_container { max-height: 100%; height: auto !important; }
div#gallery_div .flex_container img[data-related] { cursor: pointer; }
div#gallery_div .muteBtn { height: 24px; width: 24px; opacity: 0.6; border-radius: 5px; cursor: pointer; display: inline-block; font-size: 0; vertical-align: top; position: absolute; z-index: 555; bottom: 10px; right: 10px; }
div#gallery_div .muteBtn.mute { background: url("~skin_path~css/images/mute.png") no-repeat #000 center center; }
div#gallery_div .muteBtn.unmute { background: url("~skin_path~css/images/unmute.png") no-repeat #000 center center; }
div#gallery_div .flexslider-title { display: block; z-index: 10000; text-align: left; padding: 2px 10px; margin-top: 0; overflow: hidden; width: 100%; font-weight: bold; font-size: 20px; position: absolute; bottom: 0; }
div#gallery_div .flexslider-title > .flexslider-title-left { width: 66.66%; display: inline-block; vertical-align: top; margin: 0; line-height: 40px; }
div#gallery_div .flexslider-title > .flexslider-title-right { width: 33.33%; display: inline-block; vertical-align: top; }
div#gallery_div .flexslider-title .flexslider-title-count { float: right; display: inline-block; line-height: 40px; font-weight: bold; font-size: 14px; }
div#gallery_div .flexslider-title .flexslider-title-arrows { margin: 0; float: right; padding-left: 20px; }
div#gallery_div .flexslider-title li { vertical-align: top; margin: 0; padding: 0; list-style: none; display: inline-block; }
div#gallery_div .flexslider-title li a { cursor: pointer; height: 40px; text-decoration: none; display: block; width: 40px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); background: #ff1236; }
div#gallery_div .flexslider-title a { font-size: 12px; color: #fff; padding: 0; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4) !important; font-family: "cp-sliders" !important; text-indent: 0; speak: none; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 40px; text-align: center; }
div#gallery_div .flexslider-title .flexslider-title-arrows-prev { margin-right: 8px; }
div#gallery_div .flexslider-title .flexslider-title-arrows-prev a:before { content: '\e90d'; }
div#gallery_div .flexslider-title .flexslider-title-arrows-next a:before { content: '\e90c'; }
div#gallery_div .controls_top.thumbnails_nav.controls_slide ~ .flex-viewport .textBox { top: calc(~arg_nav_thumb_size_h~px + 130px); }
div#gallery_div .controls_top.thumbnails_nav.controls_slide ~ .flex-viewport .flex-direction-nav a { top: calc(50% + (130px + ~arg_nav_thumb_size_h~px) / 2); }
div#gallery_div .controls_top.thumbnails_nav:not(.controls_slide) .flex-direction-nav a { margin-top: 100px !important; }
div#gallery_div .controls_top.numbers_nav.controls_slide ~ .flex-viewport .textBox { top: 132px; }
div#gallery_div .controls_top.numbers_nav.controls_slide ~ .flex-viewport .flex-direction-nav a { margin-top: 16px; }
div#gallery_div .controls_top.numbers_nav:not(.controls_slide) .flex-direction-nav a { margin-top: 16px !important; }
div#gallery_div .controls_top.navigation_rounds.controls_slide ~ .flex-viewport .textBox { top: 124px; }
div#gallery_div .controls_top.navigation_rounds.controls_slide ~ .flex-viewport .flex-direction-nav a { margin-top: 8px; }
div#gallery_div .flex-active-slide .textBox { opacity: 1; visibility: visible; }
div#gallery_div .mediaObject .textBox { bottom: 30px; }
div#gallery_div li.mediaObject .mediaContainer video { display: none; }
div#gallery_div .controls_bottom.thumbnails_nav:not(.controls_slide) .flex-direction-nav a { margin-top: 0 !important; top: calc(50% - ~arg_nav_thumb_size_h~px / 2); }
div#gallery_div * { max-height: 100vh !important; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-controls { pointer-events: none; opacity: 0; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-time { color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-time span { color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-button button { color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current { background: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container:not(.hideControlsOnHover):hover .mejs-controls { pointer-events: auto; opacity: 1; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-overlay-play > .mejs-overlay-button:before { color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mediaElementVideoContainer .share-button:before { color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .share-button:before { color: #abcabc; }
@media screen and (max-width: 860px) { div#gallery_div .flex-direction-nav li { position: initial; }
  div#gallery_div .flex-direction-nav li a { top: 50%; } }
@media screen and (max-width: 720px) { div#gallery_div .flex-viewport { position: relative; height: auto !important; margin: 0 auto; float: none; width: 86%; max-height: none !important; }
  div#gallery_div .flexslider { max-height: none !important; }
  div#gallery_div .flexslider > ul.slides { width: 86%; margin: 0 auto; }
  div#gallery_div .flexslider > ul.slides .textBox { width: 100%; }
  div#gallery_div .textBox { width: 100%; position: static; }
  div#gallery_div .flex-direction-nav .flex-prev { left: 7%; opacity: 0 !important; }
  div#gallery_div .flex-direction-nav .flex-next { right: 7%; opacity: 0 !important; }
  div#gallery_div .flex-direction-nav .flex-play, div#gallery_div .flex-direction-nav .flex-restart { opacity: 0 !important; }
  div#gallery_div .flexslider-title { width: 100%; padding-left: 7%; padding-right: 7%; box-sizing: border-box; }
  div#gallery_div .slides { max-height: none !important; }
  div#gallery_div .slides > li { max-height: none !important; }
  div#gallery_div .flex-active-slide .textBox { padding-top: 20px !important; padding-bottom: 20px !important; } }
@media screen and (max-width: 450px) { div#gallery_div .flexslider-title-count { display: none; }
  div#gallery_div .flexslider-title .flexslider-title-arrows { margin-top: 38px; padding-left: 14px; }
  div#gallery_div .flexslider-title li a { height: 24px; width: 24px; line-height: 24px; }
  div#gallery_div .flexslider-title > .flexslider-title-left { padding-top: 38px; line-height: 24px; } }
