@import "init/global-mixins";
/*@version2@version */
/*@createarg[
{'group':'controls','name':'theme_color','type':'color','title':'Controls color','default':'#ffffff',desc:'Customize Theme color for your player'},
{'group':'design','name':'bg_color','type':'color','title':'Background color','default':'#ffffff',desc:''},
{'group':'design','name':'theme_color2','type':'color','title':'Theme color','default':'#0086cf',desc:''},
{'group':'design','name':'arrows_color','type':'color','title':'Lightbox arrows color','default':'#ffffff',desc:'Customize lightbox arrows color'}
]@createarg
*/




// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------



padding: 50px 0; background: $arg_bg_color;

.ze-swipebox-caption { overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.roundabout-in-focus:hover .ze_box:after{ content:' '; background-image:url(~skin_path~css/images/onhover.png); position: absolute; top: 3px; right: 3px; width: 43px; height: 43px;}

.ze_box {position:relative;text-decoration:none;}

ul.ze_roundshape {
	max-width: 70%; margin: 0 auto; padding:0px; position:relative;
	li { float:none; display: inline-block; vertical-align: top;border:none; padding: 0; background-image:none; list-style-type:none !important; background: none !important; overflow: visible; }
	a { max-width: 100%; max-height: 100%; display:block; float:left; padding:0; color:red; overflow:hidden; width:100px; height:75px; vertical-align:middle; text-align:center; background: none !important; overflow: visible; }
	img { margin: 0px; padding:0px; border:0px solid white; width: auto; max-width: 100%; max-height: 100%; }
	.hide {display: none; }
	.ze_item { display: flex; align-items: flex-end; max-width: 100%; max-height: 100%; }
	li a,
	li a img {display: block; position: relative; }
	li a div.ze_overlay .ze_title { line-height: 1.1em; font-size: 12px; padding: 5px; background: rgba(0,0,0,.7); }
	li a div.ze_overlay { position: absolute; background: #333; background-color: rgba(40,40,40,0.7); background-image: url(~skin_path~css/overlay_icon.png); background-position: center center; background-repeat: no-repeat; width: 100%; height: 100%; left: -100%; z-index: 1000; }
	li a div.ze_overlay .ze_title {line-height: 1.1em; font-size: 12px; background: rgba(0,0,0,.7); }
	li[style*="z-index: 190;"] { filter: blur(2px); transform: translate(0, -5%) scale(.7); }
	li[style*="100"] { transform: translate(0,-30%) scale(.5); filter: blur(3px); }
}

.roundabout-moveable-item {
	background: $arg_bg_color !important; opacity: 1 !important; transition: .5s ease box-shadow, .5s ease transform; transform: scale(.7);
	a { max-width: 100%; max-height: 100%; }
}
.roundabout-in-focus {
	transform: scale(1);
	a { opacity: 1; }
	a:hover {background:#DBE6ED; color:#000; }
	.ze_title{ display: flex; }
}


.ze_title {width:100%; color: #fff; font-size: 13px; position: absolute; line-height: 35px; bottom: 0; height: 35px; background: rgba(0, 0, 0, 0.52); white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.ze_title { top: 100%; font-size: 18px; display: none; margin-top: 20px; background: #279ae4; border-radius: 2px; height: 40px; align-items: center; justify-content: center; }
.ze_overlay_hover {
	.ze_overlay_hover {overflow:hidden;}
	// .ze_title{ position:absolute;bottom:0px; display: flex; }
}


ul { list-style:none !important; list-style-image:none !important; }

.ze_box {position:relative;}

.ze_type_video .ico {position: absolute; top: 0; left: 0; z-index: 50; width: 100%; height: 100%; background: url(~skin_path~css/video_ico.png); background-position: center center; background-repeat: no-repeat; }

@media (max-width: 700px) {
	.ze_roundshape { max-width: 100%; }
}

.ze-swipebox-action a:before{color:$arg_arrows_color;}


@media (max-width: 600px) {
	margin: 0 !important; overflow: hidden; overflow-x: auto;
	#ze_gallery_gallery_wrap_container { overflow: hidden; overflow-x: auto; }
	ul.ze_roundshape {
	    display: flex; max-width: 100% !important; align-items: center; overflow: visible; padding-bottom: 40px !important;
	    li { position: static !important; flex-shrink: 0; transform: none !important; filter: none !important; width: 80vw !important; max-height: none; height: auto !important; margin: 0 10px; overflow: visible; }
	    a { transform: none !important; max-height: none; height: auto !important; border: 1px solid #aaa; }
	    img { max-height: none; }
	    .ze_item { align-items: center; height: auto !important; }
	    .ze_title{ display: flex; }
	}
}


//-------------------------------------------------------------------------
} // gallery container




div.videoTemplateVersion2 .mejs-container .mejs-overlay-play>.mejs-overlay-button:before{color:$arg_theme_color}
div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-time { color: #fff; color: $arg_theme_color; }
div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-time span { color: #fff; color: $arg_theme_color; }
div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-button button { color: #fff; color: $arg_theme_color }
div.videoTemplateVersion2 .mejs-container .mediaElementVideoContainer .share-button:before { color: #fff; color: $arg_theme_color}
div.videoTemplateVersion2 .mejs-container .mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFF; color: $arg_theme_color; }
div.videoTemplateVersion2 .mejs-container .share-button:before {color: #fff; color: $arg_theme_color;}
div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {background: $arg_theme_color;}
