/*
Error: Invalid CSS after "...: #000; color: ": expected expression (e.g. 1px, bold), was "#~arg_arrows_co..."
        on line 44 of /Users/nakrill/Documents/odesk/Cincopa/_cincopa_SCSS_skins/imagelist/dynamic_slider.scss

39: 
40: #~gallery_div~ .flex-direction-nav .flex-next { text-align: right; height: 26px;width: 26px;}
41: #~gallery_div~ .flex-direction-nav .flex-prev { height: 26px; width: 26px; }
42: #~gallery_div~ .flex-direction-nav .flex-prev, #~gallery_div~ .flex-direction-nav .flex-next { background: transparent; }
43: #~gallery_div~ .flex-direction-nav .flex-prev:before,
44: #~gallery_div~ .flex-direction-nav .flex-next:before { font-size: 24px; color: #000; color: #~arg_arrows_color~; opacity: .6; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4) !important; font-family: 'cp-sliders' !important; text-indent: 0; speak: none; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
45: #~gallery_div~ .flex-direction-nav .flex-prev:before { content: '\e915'; }
46: #~gallery_div~ .flex-direction-nav .flex-next:before { content: '\e914'; }
47: 
48: 
49: #~gallery_div~ ul.pagination  { margin-top: -20px; padding:0; list-style:none !important;text-align: center; clear:both; position:relative}

Backtrace:
/Users/nakrill/Documents/odesk/Cincopa/_cincopa_SCSS_skins/imagelist/dynamic_slider.scss:44
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1166:in `expected'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/script/lexer.rb:221:in `expected!'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/script/parser.rb:573:in `assert_expr'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/script/parser.rb:62:in `parse'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1027:in `sass_script'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:880:in `value!'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:753:in `try_declaration'
org/jruby/RubyProc.java:271:in `call'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1141:in `rethrow'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:766:in `try_declaration'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
org/jruby/RubyMethod.java:128:in `call'
file:/Applications/compass.app/Contents/Java/compass-app.jar!/hook/compass_patch.rb:108:in `update_stylesheet'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `watch'
org/jruby/RubyProc.java:271:in `call'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:252:in `on_change'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:290:in `initialize_adapter'
org/jruby/RubyProc.java:271:in `call'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapter.rb:252:in `report_changes'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapter.rb:321:in `poll_changed_directories'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapter.rb:297:in `start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...: #000; color: \": expected expression (e.g. 1px, bold), was \"#~arg_arrows_co...\"\A         on line 44 of /Users/nakrill/Documents/odesk/Cincopa/_cincopa_SCSS_skins/imagelist/dynamic_slider.scss\A \A 39: \A 40: #~gallery_div~ .flex-direction-nav .flex-next { text-align: right; height: 26px;width: 26px;}\A 41: #~gallery_div~ .flex-direction-nav .flex-prev { height: 26px; width: 26px; }\A 42: #~gallery_div~ .flex-direction-nav .flex-prev, #~gallery_div~ .flex-direction-nav .flex-next { background: transparent; }\A 43: #~gallery_div~ .flex-direction-nav .flex-prev:before,\A 44: #~gallery_div~ .flex-direction-nav .flex-next:before { font-size: 24px; color: #000; color: #~arg_arrows_color~; opacity: .6; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4) !important; font-family: 'cp-sliders' !important; text-indent: 0; speak: none; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }\A 45: #~gallery_div~ .flex-direction-nav .flex-prev:before { content: '\e915'; }\A 46: #~gallery_div~ .flex-direction-nav .flex-next:before { content: '\e914'; }\A 47: \A 48: \A 49: #~gallery_div~ ul.pagination  { margin-top: -20px; padding:0; list-style:none !important;text-align: center; clear:both; position:relative}"; }
