/*@version2@version */
/*@createarg[
{'group':'branded','name':'player_watermark_on_off','type':'bool','title':'Brand player','default':'false',desc:"Add your logo to the player control bar. If you don't want to add logo change the toggle button to 'Off'"},
{'group':'branded','name':'player_watermark','type':'text','title':'Player Logo URL','default':'','desc':'Type in the Logo file direct URL.', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'branded','name':'player_watermark_link','type':'text','title':'Player Logo click URL','default':'','desc':'Type in the click URL (target site URL when clicking the logo)', 'enableExp': 'param.player_watermark_on_off == "true"'},
// {'group':'controls','name':'theme_color','type':'color','title':'Controls color','default':'#ffffff',desc:'Customize Theme color for your player'},
// {'group':'design','name':'arrows_color','type':'color','title':'Lightbox arrows color','default':'#ffffff',desc:'Customize lightbox arrows color'}
{'group':'appearance','name':'theme_color_main','type':'coloradvanced','title':'Theme color','default':'#ffffff',desc:'Customize Theme color for your player'}
]@createarg
*/
div#gallery_div .hide { display: none; }
div#gallery_div ul li:before, div#gallery_div ul ul li:before { content: ''; }
div#gallery_div audio[controls] { height: auto !important; min-height: 40px; width: 100% !important; }
div#gallery_div ul { list-style: none !important; list-style-image: none !important; }
div#gallery_div .ze_type_image .ico { display: none; }
div#gallery_div ul.ze_imagelist { margin: 0; padding: 0; position: relative; }
div#gallery_div ul.ze_imagelist li { float: none; display: inline-block; vertical-align: top; border: none; list-style: none !important; background: none; width: 100%; box-sizing: border-box; }
div#gallery_div ul.ze_imagelist img { opacity: 0; }
div#gallery_div ul.ze_imagelist .ze_item_img { display: block !important; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-size: cover; background-position: center center; }
div#gallery_div ul.ze_imagelist video { width: auto !important; min-height: 100%; }
div#gallery_div ul.ze_imagelist a { display: block; position: relative; float: left; overflow: hidden; width: 100% !important; height: 100% !important; vertical-align: middle; text-align: center; }
div#gallery_div ul.ze_imagelist a div.ze_overlay .ze_title { line-height: 1.1; }
div#gallery_div ul.ze_imagelist { display: grid; grid-template-areas: "i01 . i02 . i03 ." "i01 i04 i02 i05 i03 i06" "i07 i04 i08 i05 i09 i06" "i07 i10 i08 i11 i09 i12" "i13 i10 i14 i11 i15 i12" "i13 i16 i14 i17 i15 i18" "i19 i16 i20 i17 i21 i18" "i19 i22 i20 i23 i21 i24" "i25 i22 i26 i23 i27 i24" "i25 i28 i26 i29 i27 i30" ". i28 . i29 . i30"; max-width: 100%; grid-template-columns: repeat(6, 16.67%); grid-column-gap: 0; grid-row-gap: 0; }
div#gallery_div .ze_imagelist li:nth-child(1) { grid-area: i01; }
div#gallery_div .ze_imagelist li:nth-child(2) { grid-area: i02; }
div#gallery_div .ze_imagelist li:nth-child(3) { grid-area: i03; }
div#gallery_div .ze_imagelist li:nth-child(4) { grid-area: i04; }
div#gallery_div .ze_imagelist li:nth-child(5) { grid-area: i05; }
div#gallery_div .ze_imagelist li:nth-child(6) { grid-area: i06; }
div#gallery_div .ze_imagelist li:nth-child(7) { grid-area: i07; }
div#gallery_div .ze_imagelist li:nth-child(8) { grid-area: i08; }
div#gallery_div .ze_imagelist li:nth-child(9) { grid-area: i09; }
div#gallery_div .ze_imagelist li:nth-child(10) { grid-area: i10; }
div#gallery_div .ze_imagelist li:nth-child(11) { grid-area: i11; }
div#gallery_div .ze_imagelist li:nth-child(12) { grid-area: i12; }
div#gallery_div .ze_imagelist li:nth-child(13) { grid-area: i13; }
div#gallery_div .ze_imagelist li:nth-child(14) { grid-area: i14; }
div#gallery_div .ze_imagelist li:nth-child(15) { grid-area: i15; }
div#gallery_div .ze_imagelist li:nth-child(16) { grid-area: i16; }
div#gallery_div .ze_imagelist li:nth-child(17) { grid-area: i17; }
div#gallery_div .ze_imagelist li:nth-child(18) { grid-area: i18; }
div#gallery_div .ze_imagelist li:nth-child(19) { grid-area: i19; }
div#gallery_div .ze_imagelist li:nth-child(20) { grid-area: i20; }
div#gallery_div .ze_imagelist li:nth-child(21) { grid-area: i21; }
div#gallery_div .ze_imagelist li:nth-child(22) { grid-area: i22; }
div#gallery_div .ze_imagelist li:nth-child(23) { grid-area: i23; }
div#gallery_div .ze_imagelist li:nth-child(24) { grid-area: i24; }
div#gallery_div .ze_imagelist li:nth-child(25) { grid-area: i25; }
div#gallery_div .ze_imagelist li:nth-child(26) { grid-area: i26; }
div#gallery_div .ze_imagelist li:nth-child(27) { grid-area: i27; }
div#gallery_div .ze_imagelist li:nth-child(28) { grid-area: i28; }
div#gallery_div .ze_imagelist li:nth-child(29) { grid-area: i29; }
div#gallery_div .ze_imagelist li:nth-child(30) { grid-area: i29; }
div#gallery_div .ze_imagelist li:nth-child(n+30) { display: none; }
div#gallery_div .ze_title { width: 100%; position: relative; line-height: 2.5; bottom: 35px; height: 35px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; box-sizing: border-box; }
div#gallery_div .ze_overlay_hover { overflow: hidden; }
div#gallery_div .ze_overlay_hover .ze_title { position: absolute; bottom: 0; }
div#gallery_div ul.pagination { padding: 0; list-style: none !important; text-align: center; clear: both; position: relative; }
div#gallery_div ul.pagination li { display: inline-block; vertical-align: middle; }
div#gallery_div ul.pagination li a { text-decoration: none; display: block; padding: 0 6px; margin: 1px; font-size: 1.1em; }
.ze_box { position: relative; text-decoration: none; }
div#gallery_div .ze-swipebox .locationInfo { position: absolute; z-index: 99; }

div#gallery_div ul.ze_imagelist { background: #2c54af; background: #abcabc; box-shadow: inset 0 0 0 5px #fff; }
div#gallery_div ul.ze_imagelist li { background: #fff; padding: 5px; box-shadow: 0 0 0 5px #fff; }
div#gallery_div ul.ze_imagelist .ze_item_img { -webkit-transition: 2s ease all; -moz-transition: 2s ease all; transition: 2s ease all; }
div#gallery_div ul.ze_imagelist img { visibility: hidden; opacity: 0; }
div#gallery_div ul.ze_imagelist .ze_item_img { display: block !important; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-size: cover; }
div#gallery_div ul.ze_imagelist a { font-size: 20px; font-weight: 200; height: 200px !important; }
div#gallery_div ul.ze_imagelist a div.ze_overlay .ze_title { padding: 5px; background: rgba(0, 0, 0, 0.7); }
div#gallery_div ul.ze_imagelist .ze_item { position: relative; }
div#gallery_div ul.ze_imagelist .ze_item:before { display: none; }
div#gallery_div ul.ze_imagelist .ze_title { color: #fff; padding: 10px; line-height: 1.3; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; transition: 1s ease all; z-index: 10; opacity: 0; position: absolute; top: 0; left: 0; display: flex; margin: 0; padding: 10px; width: 100%; height: 100%; font-size: 14px; flex-wrap: wrap; align-items: center; justify-content: center; flex-flow: column; }
div#gallery_div ul.ze_imagelist .ze_title:before { content: ''; display: block; z-index: -1; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: #2c54af; background: #abcabc; opacity: .8; }
div#gallery_div ul.ze_imagelist .ze_title:after { margin-top: 10px; content: ''; display: inline-block; width: 32px; height: 32px; content: 'e'; font-size: 32px; line-height: 1em; font-family: "cinco_video05", "cinco_default" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; }
div#gallery_div ul.ze_imagelist .ze_title > * { width: 100%; display: block; max-width: 100%; white-space: normal; }
div#gallery_div ul.ze_imagelist .ze_title .ze_add_desc { font-size: .8em; }
div#gallery_div ul.ze_imagelist a:hover .ze_title { opacity: 1; }
div#gallery_div ul.ze_imagelist .ze_thumb.status-play .ze_title { background: none; }
div#gallery_div ul.ze_imagelist .ze_thumb.status-play .ze_title:before { display: none; }
div#gallery_div ul.ze_imagelist .ze_thumb.status-play .ze_title:after { position: absolute; left: 50%; top: 50%; margin: -15px; content: 'd'; text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
div#gallery_div ul.ze_imagelist .ze_thumb.status-play .ze_add_title { display: none; }
div#gallery_div .ze_type_video .ico { display: none; }
div#gallery_div .ze_type_video .ze_item:before { content: ''; display: block; position: absolute; top: 0; left: 0; z-index: 50; width: 100%; height: 100%; background: url("//rtcdn.cincopa.com/fpskins/resimagelist/1/css/video_ico.png"); background-position: center center; background-repeat: no-repeat; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-overlay-play > .mejs-overlay-button:before { color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-time { color: #fff; color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-time span { color: #fff; color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-button button { color: #fff; color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current { background: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mediaElementVideoContainer .share-button:before { color: #fff; color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFF; color: #abcabc; }
div#gallery_div div.videoTemplateVersion2 .mejs-container .share-button:before { color: #fff; color: #abcabc; }
div#gallery_div ul.pagination li a { color: #000; background: #e0e0e0; border-radius: 2px; }
div#gallery_div ul.pagination li a.firstBtn, div#gallery_div ul.pagination li a.lastBtn, div#gallery_div ul.pagination li a.prevBtn, div#gallery_div ul.pagination li a.nextBtn { font-size: 0.8em; color: #a5a5a5; }
div#gallery_div ul.pagination li a:hover { background-color: #ECECEC; }
div#gallery_div ul.pagination li a.active { color: #f5911e; }
div#gallery_div ul.pagination li + li { background-color: #ECECEC; }
#swipebox-overlay .ze-swipebox-action a:before { color: #ff1236; }
div#gallery_div .ze-swipebox .locationInfo { bottom: 6px; right: 12px; font-size: 10px; color: #FFFFFF; }
div#gallery_div .ze-swipebox-caption .locationInfo { font-size: 10px; }
div#gallery_div .ze-swipebox .locationInfo:hover, div#gallery_div .ze-swipebox-caption .locationInfo:hover { font-weight: bold; text-decoration: underline; color: #333FAF; }
