.cp-tabs-div { margin: 20px 0; width: 100%; overflow: hidden; overflow-x: auto; text-align: center; display: block; vertical-align: middle; }
.cp-tabs-div, .cp-tabs-div * { box-sizing: border-box; }

.cp_tabs_list { margin: 0; padding: 0; text-align: left; font-size: 0; line-height: 0; white-space: nowrap; border: 1px solid #d0d4d9; display: inline-block; min-width: 100%; }
.cp_tabs_list li { text-align: center; border: none; box-shadow: none; border-radius: 0; padding: 15px 22px; line-height: 1.25; color: #323330; font-weight: normal; font-size: 15px; text-decoration: none; display: inline-block; cursor: pointer; text-transform: capitalize; transition: all 0.2s; position: relative; overflow: hidden; }
.cp_tabs_list li.active, .cp_tabs_list li:hover { background-color: rgba(0, 0, 0, 0.05); }

@media (max-width: 640px) { .cp_tabs_list li { padding-left: 15px !important; padding-right: 15px !important; } }
#test2 .cp-tabs-div .cp_tabs_list { overflow: visible; z-index: 0; position: relative; border: none; border-bottom: 1px solid #cdcdcd; padding: 0 20px; box-shadow: 0 3px 0 #FFF; }
#test2 .cp-tabs-div li.cp_tabs_list_item { border-bottom: 1px solid transparent; margin-bottom: -1px; overflow: hidden; color: #0078c2; padding: 16px 25px; font-size: 16px; background: transparent; }
#test2 .cp-tabs-div li.cp_tabs_list_item:after { content: ''; display: block; width: 100%; height: 100%; box-sizing: border-box; background: #fff; position: absolute; z-index: -1; top: 100%; left: 0; border: 1px solid #cdcdcd; border-bottom: none; border-radius: 4px 4px 0 0; transition: .5s ease all; }
#test2 .cp-tabs-div li.cp_tabs_list_item:hover, #test2 .cp-tabs-div li.cp_tabs_list_item.active { opacity: 1; color: #36373c; }
#test2 .cp-tabs-div li.cp_tabs_list_item.active { border-bottom-color: #fff; }
#test2 .cp-tabs-div li.cp_tabs_list_item:hover:after { margin-top: -8px; }
#test2 .cp-tabs-div li.cp_tabs_list_item.active:after { top: 0; margin: 0; }

.theme-2 .cp-tabs-div .cp_tabs_list { overflow: visible; border: none; border-bottom: 1px solid #dadada; }
.theme-2 .cp-tabs-div li.cp_tabs_list_item { padding: 16px 23px; font-size: 16px; border-bottom: 3px solid transparent; margin-bottom: -2px; margin-right: 2px; background: transparent; }
.theme-2 .cp-tabs-div li.cp_tabs_list_item:hover, .theme-2 .cp-tabs-div li.cp_tabs_list_item.active { border-color: #1587cc; }

.theme-3 .cp-tabs-div .cp_tabs_list { text-align: center; border: none; background: #127abf; color: #fff; overflow: hidden; border-radius: 3px; }
.theme-3 .cp-tabs-div li.cp_tabs_list_item { padding: 15px 25px; color: inherit; font-size: 13px; background: transparent; }
.theme-3 .cp-tabs-div li.cp_tabs_list_item:hover, .theme-3 .cp-tabs-div li.cp_tabs_list_item.active { background-color: #053e62; }

.theme-4 .cp-tabs-div .cp_tabs_list { border: none; border-bottom: 1px solid #dadada; }
.theme-4 .cp-tabs-div li.cp_tabs_list_item { color: #36373c; opacity: .5; padding: 16px 25px; font-size: 16px; background: transparent; }
.theme-4 .cp-tabs-div li.cp_tabs_list_item:hover, .theme-4 .cp-tabs-div li.cp_tabs_list_item.active { opacity: 1; }

.theme-5 .cp-tabs-div .cp_tabs_list { overflow: visible; border: none; border-bottom: 1px solid #cdcdcd; padding: 0 20px; box-shadow: 0 3px 0 #FFF; }
.theme-5 .cp-tabs-div li.cp_tabs_list_item { border-radius: 4px 4px 0 0; border: 1px solid transparent; margin-bottom: -1px; color: #0078c2; padding: 16px 25px; font-size: 16px; background: transparent; }
.theme-5 .cp-tabs-div li.cp_tabs_list_item:hover, .theme-5 .cp-tabs-div li.cp_tabs_list_item.active { opacity: 1; border-color: #cdcdcd; border-bottom-color: #fff; color: #36373c; background: #fff; }

.theme-6 .cp-tabs-div .cp_tabs_list { border: none; background: #127abf; color: #fff; }
.theme-6 .cp-tabs-div li.cp_tabs_list_item { padding: 15px 25px; color: inherit; font-size: 13px; background: transparent; flex-shrink: 1; }
.theme-6 .cp-tabs-div li.cp_tabs_list_item:hover:after, .theme-6 .cp-tabs-div li.cp_tabs_list_item.active:after { content: ''; display: block; width: 14px; height: 14px; background: #fff; border-radius: 3px; transform: rotate(45deg); position: absolute; bottom: -8px; left: 50%; margin-left: -8px; }

.theme-7 .cp-tabs-div .cp_tabs_list { border: 1px solid #cdcdcd; }
.theme-7 .cp-tabs-div li.cp_tabs_list_item { padding: 16px 24px; font-size: 13px; border: 1px solid transparent; border-top: none; border-bottom: none; }
.theme-7 .cp-tabs-div li.cp_tabs_list_item:first-child { border-left: none; }
.theme-7 .cp-tabs-div li.cp_tabs_list_item.active { border-color: #cdcdcd; }

.theme-8 .cp-tabs-div .cp_tabs_list { border: none; white-space: normal; }
.theme-8 .cp-tabs-div li.cp_tabs_list_item { color: #0078c2; padding: 10px 20px; font-size: 16px; background: #eee; margin: 5px; }
.theme-8 .cp-tabs-div li.cp_tabs_list_item:hover, .theme-8 .cp-tabs-div li.cp_tabs_list_item.active { background: transparent; color: #444; border: none; }
