//  Cincopa tabs
@import "init/global-mixins";


@import "tabs-themes/tabs-base";


.cp-tabs-div {
	.cp_tabs_list {}
	.cp_tabs_list_item {
		&.active {}
	}
}


#test2 {
	@import "tabs-themes/tabs-theme-07";
}

.theme-2 {
	@import "tabs-themes/tabs-theme-02";
}

.theme-3 {
	@import "tabs-themes/tabs-theme-03";
}

.theme-4 {
	@import "tabs-themes/tabs-theme-04";
}

.theme-5 {
	@import "tabs-themes/tabs-theme-05";
}

.theme-6 {
	@import "tabs-themes/tabs-theme-06";
}

.theme-7 {
	@import "tabs-themes/tabs-theme-01";
}

.theme-8 {
	@import "tabs-themes/tabs-theme-08";
}

// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------





//-------------------------------------------------------------------------
} // gallery container