/* BRANDING  */
// gallery container
div#gallery_div { //#~gallery_div~
//-------------------------------------------------------------------------




.mejs-player-logo-button {
	min-width: 46px !important; height: 100%; white-space: nowrap; cursor: default; box-shadow: none !important;
	* { vertical-align: middle; }
	&:after { content: ''; display: inline-block; vertical-align: middle; height: 100%; width:0; }
	img { margin: 0 !important; padding: 0; display: inline-block !important; }
	&.has-link {
		cursor: pointer;
		&:hover { box-shadow: 0 0 5px #fff, 0 0 5px #5af !important; }
	}

}




// gallery container
}// #~gallery_div~
//-------------------------------------------------------------------------