// /*@import url($fonturl);*/
// -------------------------------------------------
// global mixins
// -------------------------------------------------
// ---- replacements after compilation ----
// #gallery_div => #~gallery_div~
// ~arg_bg_color~
// ~arg_theme_color~
// ~arg_text_color~
$arg_bg_color: #bcabca;    // should be replaced after compilation
$arg_theme_color: #abcabc; // should be replaced after compilation
$arg_text_color: #cbacba;  // should be replaced after compilation
$arg_theme_color2: #fabfab; // should be replaced after compilation
$arg_theme_color3: #fccfcc; // should be replaced after compilation
$arg_theme_color4: #effeff; // should be replaced after compilation
$arg_playlist_height: 158795; // should be replaced after compilation
$skinpath: "~skin_path~"; // should be replaced after compilation


// -------------------------------------------------
// ==global mixins
// -------------------------------------------------
@mixin clearfix { &:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; } * html & { height: 1px } /* ie */ }
@mixin box-shadow($shadows...) { -moz-box-shadow: $shadows; -webkit-box-shadow: $shadows; box-shadow: $shadows; }
@mixin inline-block($align) { display: inline-block; zoom:1; *display: inline; vertical-align: $align; }
@mixin border-radius($radius) { -moz-border-radius: $radius; -webkit-border-radius: $radius; border-radius: $radius; }
@mixin box-sizing($boxsizing) { -moz-box-sizing: $boxsizing; -webkit-box-sizing: $boxsizing; box-sizing: $boxsizing; }
@mixin linear-gradient($fromColor, $toColor) {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fromColor), color-stop(100%,$toColor)); // Saf4+, Chrome
	background-image: -webkit-linear-gradient(top, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
	background-image:    -moz-linear-gradient(top, $fromColor, $toColor); // FF3.6
	background-image:     -ms-linear-gradient(top, $fromColor, $toColor); // IE10
	background-image:      -o-linear-gradient(top, $fromColor, $toColor); // Opera 11.10+
	background-image:         linear-gradient(to bottom, $fromColor 0%, $toColor 100%)
}
@mixin transition($transitions...) { -webkit-transition: $transitions; -moz-transition: $transitions; -ms-transition: $transitions; -o-transition: $transitions; transition: $transitions; }
@mixin transition-noff($transitions...) { -webkit-transition: $transitions; -ms-transition: $transitions; -o-transition: $transitions; }
// -------------------------------------------------
// ==global mixins
// -------------------------------------------------



