/*@createarg[
{'group':'hidden','name':'controls_order','type':'text','title':'Controls order','default':'playpause,prevtrack,nexttrack,playlist,loop,shuffle,progress,time,volume,logo,player_logo,fullscreen,chromecast_logo',desc:'Controls order'},
{'group':'branded','name':'player_watermark_on_off','type':'bool','title':'Player Logo On/Off','default':'false',desc:'Player Logo On/Off'},
{'group':'branded','name':'player_watermark','type':'text','title':'Player Logo URL','default':'','desc':'Location of an external jpg, png or gif image to show in a corner of the display.', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'branded','name':'player_watermark_link','type':'text','title':'Player Logo click URL','default':'','desc':'Open URL on  logo click', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'design','name':'theme_color','type':'color','title':'Theme color 1','default':'#0086cf',desc:'Customize Theme color 2 for your gallery'},
{'group':'design','name':'theme_color2','type':'color','title':'Theme color 2','default':'#1d77ef',desc:'Customize Theme color 2 for your gallery'},
{'group':'design','name':'bg_color','type':'color','title':'Theme color 3','default':'#2e2d2b',desc:'Customize Theme color 2 for your gallery'},
{'group':'design','name':'text_color','type':'color','title':'Theme color 4','default':'#3b3a38',desc:'Customize Theme color 2 for your gallery'},
{'group':'design','name':'player_colors','type':'pallet','title':'Pallet',desc:'Select pre-defined color pallet',
values :{
   	"Default" : { short_name : "default", set : {
		theme_color: "#00bbff",
		text_color : "#3b3a38",
		bg_color : "#2e2d2b",
		theme_color2: "#1d77ef",
	}},
   	"97912" : { short_name : "97912", set : {
		theme_color: "#F75940",
		text_color : "#364857",
		bg_color : "#334252",
		theme_color2: "#3DC7BE",
	}},
   	"95689" : { short_name : "95689", set : {
		theme_color: "#02C39A",
		text_color : "#028090",
		bg_color : "#003459",
		theme_color2: "#02C39A",
	}},
   	"94531" : { short_name : "94531", set : {
		theme_color: "#5AC8D8",
		text_color : "#2552AC",
		bg_color : "#597FCA",
		theme_color2: "#2fcae1",
	}},
}},
{'group':'controls','name':'class_substheme','type':'list', 'values': {'subs-initial': "Default theme", 'subs-light': 'Light theme', 'subs-white': 'Simple White', 'subs-terminal': 'Terminal theme'}, 'title':'Subtitles theme','desc':'Choose color theme for subtitles'},
]@createarg*/
// /*@import url($fonturl);*/
// -------------------------------------------------
// global mixins
// -------------------------------------------------
// ---- replacements after compilation ----
// #gallery_div => #~gallery_div~
// ~arg_bg_color~
// ~arg_theme_color~
// ~arg_text_color~
$arg_bg_color: #bcabca;    // should be replaced after compilation
$arg_theme_color: #abcabc; // should be replaced after compilation
$arg_text_color: #cbacba;  // should be replaced after compilation
$arg_theme_color2: #fabfab; // should be replaced after compilation
$arg_theme_color3: #fccfcc; // should be replaced after compilation
$arg_theme_color4: #effeff; // should be replaced after compilation
$arg_playlist_height: 158795; // should be replaced after compilation
$skinpath: "~skin_path~"; // should be replaced after compilation


// -------------------------------------------------
// ==global mixins
// -------------------------------------------------
@mixin clearfix { &:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; } * html & { height: 1px } /* ie */ }
@mixin box-shadow($shadows...) { -moz-box-shadow: $shadows; -webkit-box-shadow: $shadows; box-shadow: $shadows; }
@mixin inline-block($align) { display: inline-block; zoom:1; *display: inline; vertical-align: $align; }
@mixin border-radius($radius) { -moz-border-radius: $radius; -webkit-border-radius: $radius; border-radius: $radius; }
@mixin box-sizing($boxsizing) { -moz-box-sizing: $boxsizing; -webkit-box-sizing: $boxsizing; box-sizing: $boxsizing; }
@mixin linear-gradient($fromColor, $toColor) {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fromColor), color-stop(100%,$toColor)); // Saf4+, Chrome
	background-image: -webkit-linear-gradient(top, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
	background-image:    -moz-linear-gradient(top, $fromColor, $toColor); // FF3.6
	background-image:     -ms-linear-gradient(top, $fromColor, $toColor); // IE10
	background-image:      -o-linear-gradient(top, $fromColor, $toColor); // Opera 11.10+
	background-image:         linear-gradient(to bottom, $fromColor 0%, $toColor 100%)
}
@mixin horizontal-gradient($fromColor, $toColor) {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,$fromColor), color-stop(100%,$toColor)); // Saf4+, Chrome
	background-image: -webkit-linear-gradient(left, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
	background-image:    -moz-linear-gradient(left, $fromColor, $toColor); // FF3.6
	background-image:     -ms-linear-gradient(left, $fromColor, $toColor); // IE10
	background-image:      -o-linear-gradient(left, $fromColor, $toColor); // Opera 11.10+
	background-image:         linear-gradient(to right, $fromColor 0%, $toColor 100%)
}
@mixin transition($transitions...) { -webkit-transition: $transitions; -moz-transition: $transitions; -ms-transition: $transitions; -o-transition: $transitions; transition: $transitions; }
@mixin transition-noff($transitions...) { -webkit-transition: $transitions; -ms-transition: $transitions; -o-transition: $transitions; }
// -------------------------------------------------
// ==global mixins
// -------------------------------------------------



