/* CSS LIGHTBOX */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



.mediaElementVideoContainer { transform: scale3d(1, 1, 1); transition: 1s ease all; z-index: 1; position: relative; }

&.status-play:after { content: ''; display: block; position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,80/100); top: 0; left: 0; z-index: 5000; }
&.status-play .mediaElement { position: relative; z-index: 5001; }
&.status-play .mediaElement_playlist { background: rgba(255, 255, 255, 15/100); }
&.status-play .mediaElement_playlist .cp_pl_item { opacity: .3; }
&.status-play .mediaElement_playlist .cp_pl_item:hover { opacity: 1; }
&.status-play .mediaElementVideoContainer { box-shadow: 0px 4px 100px 7px rgba(0, 0, 0, 45/100); transform: scale3d(1.1,1.1,1.1); }





// gallery container
}/*#~gallery~_div*/
//-------------------------------------------------------------------------