



// .mejs-button.mejs-captions-button {
// 	button {
// 		min-height: 48px; 
// 		&:before { color: inherit; content: 'Sub'; font-family: Arial, sans-serif !important; font-size: 18px; font-weight: 600 !important; }
// 	}
// 	&.mejs-captions-enabled {}
// }

.mejs-captions-layer {
	.mejs-captions-position {
		.mejs-captions-text { white-space: normal; background: transparent; color: #fff; font-weight: bold; font-size: 16px; text-shadow: 0 0 10px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000; }
		&.mejs-captions-position-hover {}
	}
}

.mejs-captions-selector{
	background: rgba(50,50,50,0.8); padding: 0; right: 0; box-shadow: 0 0 15px #000; border-radius: 5px 5px 0 0;
	max-height: 250px; overflow: auto;
	ul {
		li {
			color: #fff; margin: 0; position: relative;
			label,
			input { display: inline-block; vertical-align: middle; float: none; margin: 3px; padding: 0; }
			input { position: absolute; left: 5px; top: 50%; margin-top: -6px; }
			label {
				font-size: 14px; font-weight: bold;
				width: 100%; display: block; cursor: pointer; padding: 5px 5px 5px 30px; margin: 0; line-height: 1.4;
				&:hover { background: #000; }
			}
		}
	}
	.mejs-decrease-size,
	.mejs-increase-size {
		width: 50%; float: left; text-align: center; font-size: 20px; margin: 5px 0; padding: 10px 5px; cursor: pointer;
		&:hover { background: rgba(0,0,0,.5); }
	}
}


