&.subs-initial {
	@import "incl/subtitles-initial"; // default, all
}

&.subs-light {
	@import "incl/subtitles-light"; //
}
&.subs-terminal {
	@import "incl/subtitles-terminal"; //
}
&.subs-white {
	@import "incl/subtitles-white"; //
}
