


.mejs-button.mejs-captions-button {
	// REPLACED WITH ICON
	// button {
	// 	min-height: 48px; 
	// 	&:before { color: inherit; content: 'Sub'; font-family: Arial, sans-serif !important; font-size: 18px; font-weight: 600 !important; }
	// }
	&.mejs-captions-enabled { button { text-shadow: 0 0px 3px #000, 0 0 15px; } }
}

.mejs-captions-layer {
	.mejs-captions-position {
		.mejs-captions-text { white-space: normal; background: rgba(20, 20, 20, 0.5); line-height: 1.3; padding: .7em 1em; }
		&.mejs-captions-position-hover {  }
	}
}

.mejs-captions-selector{
	background: rgba(50,50,50,0.7); padding: 0; right: 0;
	max-height: 250px; overflow: auto;
	ul {
		li {
			color: #fff; margin: 0; position: relative;
			label,
			input { display:  none; }
			label {
				width: 100%; display: block; cursor: pointer; padding: 5px 10px; margin: 0; line-height: 1.4;
				&:hover { background: rgba(#000, .5); }
			}
			input:checked + label { background: #0086cf; }

		}
	}
	.mejs-decrease-size,
	.mejs-increase-size {
		width: 50%; float: left; text-align: center; font-size: 20px; margin: 0; padding: 10px 5px; cursor: pointer;
		&:hover { background: rgba(0,0,0,.5); }
	}
}


