


// .mejs-button.mejs-captions-button {
// 	button {
// 		min-height: 48px; 
// 		&:before { color: inherit; content: 'Sub'; font-family: Arial, sans-serif !important; font-size: 18px; font-weight: 600 !important; }
// 	}
// 	&.mejs-captions-enabled {}
// }

.mejs-captions-layer {
	.mejs-captions-position {
		.mejs-captions-text { white-space: normal; color: #333; background-color: rgba(255,255,255,0.8); padding: 5px 10px; display: inline-block; line-height: 1; font-weight: bold; font-size: 12px; border-radius: 5px; }
		&.mejs-captions-position-hover { bottom: 45px; }
	}
}

.mejs-captions-selector{
	background: rgba(255,255,255,0.8); padding: 0; right: 0; box-shadow: none; border-radius: 0;
	max-height: 250px; overflow: auto;
	ul {
		li {
			color: #333; margin: 0; position: relative;
			label,
			input { display: none; vertical-align: middle; float: none; margin: 3px; padding: 0; }
			input { position: absolute; left: 5px; top: 50%; margin-top: -6px; }
			label {
				font-size: 12px; font-weight: normal;
				width: 100%; display: block; cursor: pointer; padding: 5px 10px; margin: 0; line-height: 1.4;
				&:before { content: ''; width: 12px; height: 12px; border-radius: 10px; display: inline-block; border: 1px solid #333; vertical-align: middle; margin-right: 5px; margin-top: -3px; }
				input:checked + &,
				&:hover { background: #aaa; }
			}
			input:checked + label:before { content: ''; background-color: #333; }
		}
	}
	.mejs-decrease-size,
	.mejs-increase-size {
		width: 50%; float: left; text-align: center; font-size: 20px; margin: 5px 0; padding: 10px 5px; cursor: pointer;
		&:hover { background: rgba(0,0,0,.5); }
	}
}


