

// .mejs-button.mejs-captions-button {
// 	button {
// 		min-height: 48px; 
// 		&:before { color: inherit; content: 'Sub'; font-family: Arial, sans-serif !important; font-size: 18px; font-weight: 600 !important; }
// 	}
// 	&.mejs-captions-enabled {}
// }

.mejs-captions-layer {
	.mejs-captions-position {
		.mejs-captions-text { white-space: normal; font-family: monospace; color: #76E400; background-color: rgba(0, 0, 0, 0.5); padding: 5px; display: block; line-height: 1; font-weight: normal; font-size: 14px; text-shadow: 0 0 10px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000; }
		&.mejs-captions-position-hover { bottom: 30px; }
	}
}

.mejs-captions-selector{
	background: rgba(0,0,0,0.5); padding: 0; right: 0; box-shadow: none; border-radius: 0;
	max-height: 250px; overflow: auto;
	ul {
		li {
			color: #76E400; margin: 0; position: relative;
			label,
			input { display: none; vertical-align: middle; float: none; margin: 3px; padding: 0; }
			input { position: absolute; left: 5px; top: 50%; margin-top: -6px; }
			label {
				font-size: 14px; font-weight: normal; font-family: monospace;
				width: 100%; display: block; cursor: pointer; padding: 5px 10px; margin: 0; line-height: 1.4;
				&:before { content: '[ ] '; }
				input:checked + &,
				&:hover { background: #76E400; color: #000; }
			}
			input:checked + label:before { content: '[x] '; }
		}
	}
	.mejs-decrease-size,
	.mejs-increase-size {
		width: 50%; float: left; text-align: center; font-size: 20px; margin: 5px 0; padding: 10px 5px; cursor: pointer;
		&:hover { background: rgba(0,0,0,.5); }
	}
}



