/* WATERMARK */
// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------


/* watermark styles */
.mejs-logo-button {    white-space: nowrap;    overflow: hidden;    cursor: pointer;	position: absolute;	z-index: 999;    min-width: 32px !important; 	min-height: 32px !important;background-repeat: no-repeat; 	background-size: contain; }
.mejs-logo-button.has-link:hover { box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -moz-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75); -webkit-box-shadow: 0px 0px 10px 4px rgba(178, 223, 223, 0.75);  }
.mejs-logo-button.no { display:none; }
.mejs-logo-button.top_right { right: 5px; top: 5px; }
.mejs-logo-button.top_left { left: 5px; top: 5px; }
.mejs-logo-button.bottom_left {	left: 5px; bottom: 35px; }
.mejs-logo-button.bottom_right { right: 5px; bottom: 35px; }
/* watermark */




// gallery container
}// #~gallery~_div
//-------------------------------------------------------------------------

