.cp-tabs-div {
	.cp_tabs_list { border: none; white-space: normal; }
	li.cp_tabs_list_item {
	    color: #0078c2; padding: 10px 20px; font-size: 16px; background: #eee; margin: 5px;
		&:hover,
		&.active {
			background: transparent; color: #444; border: none;
		}
	}
}