.cp-tabs-div {
	.cp_tabs_list { overflow: visible; border: none; border-bottom: 1px solid #cdcdcd; padding: 0 20px; box-shadow: 0 3px 0 #FFF; }
	li.cp_tabs_list_item {
		border-radius: 4px 4px 0 0; border: 1px solid transparent; margin-bottom: -1px;
	    color: #0078c2; padding: 16px 25px; font-size: 16px; background: transparent;
		&:hover,
		&.active {
			opacity: 1; border-color: #cdcdcd; border-bottom-color: #fff; color: #36373c; background: #fff;
		}
	}
}