.cp-tabs-div {
	.cp_tabs_list { text-align: center; border: none; background: #127abf; color: #fff; overflow: hidden; border-radius: 3px; }
	li.cp_tabs_list_item {
	    padding: 15px 25px; color: inherit; font-size: 13px; background: transparent;
		&:hover,
		&.active {
			background-color: #053e62;
		}
	}
}