.cp-tabs-div {
	.cp_tabs_list {
		border: none; background: #127abf; color: #fff;
	}
	li.cp_tabs_list_item {
	    padding: 15px 25px; color: inherit; font-size: 13px; background: transparent; flex-shrink: 1; 
		&:hover,
		&.active {
			&:after { content: ''; display: block; width: 14px; height: 14px; background: #fff; border-radius: 3px; transform: rotate(45deg); position: absolute; bottom: -8px; left: 50%; margin-left: -8px; }
		}
	}
}