.cp-tabs-div {
	.cp_tabs_list { border: 1px solid #cdcdcd; }
	li.cp_tabs_list_item {
	    padding: 16px 24px; font-size: 13px; border: 1px solid transparent; border-top: none; border-bottom: none;
	    &:first-child { border-left: none; }
	    // &:last-child { border-right: none; }
		&.active {
			border-color: #cdcdcd;
		}
	}
}