.cp-tabs-div{
    margin: 20px 0; width: 100%; overflow: hidden; overflow-x: auto; text-align: center; display: block; vertical-align: middle;
    &, * { box-sizing: border-box; }
}
.cp_tabs_list {
    margin: 0; padding: 0; text-align: left; font-size: 0; line-height: 0; white-space: nowrap; border: 1px solid rgb(208, 212, 217);
    display: inline-block; min-width: 100%;
    // &:after { content: ''; display: table; width: 100%; clear: both; }
    li {
        text-align: center;
        border: none; box-shadow: none; border-radius: 0; padding: 15px 22px; line-height: 1.25; color: #323330; font-weight: normal; font-size: 15px; text-decoration: none; display: inline-block; cursor: pointer; text-transform: capitalize; transition: all 0.2s;
        position: relative; overflow: hidden;
        &.active,
        &:hover { background-color: rgba(0,0,0,.05); }
    }
}


@media (max-width: 640px) {
    .cp_tabs_list {
        li { padding-left: 15px !important; padding-right: 15px !important; }
    }
}