.cp-tabs-div {
	.cp_tabs_list { overflow: visible; z-index: 0; position: relative; border: none; border-bottom: 1px solid #cdcdcd; padding: 0 20px; box-shadow: 0 3px 0 #FFF; }
	li.cp_tabs_list_item {
		border-bottom: 1px solid transparent; margin-bottom: -1px; overflow: hidden;
	    color: #0078c2; padding: 16px 25px; font-size: 16px; background: transparent;
	    &:after { content: ''; display: block; width: 100%; height: 100%; box-sizing: border-box; background: #fff; position: absolute; z-index: -1; top: 100%; left: 0; border: 1px solid #cdcdcd; border-bottom: none; border-radius: 4px 4px 0 0; transition: .5s ease all; }
		&:hover,
		&.active {
			opacity: 1; color: #36373c;
		}
		&.active { border-bottom-color: #fff; }
		&:hover:after { margin-top: -8px; }
		&.active:after { top: 0; margin: 0; }
	}
}