.cp-tabs-div {
	.cp_tabs_list { overflow: visible; border: none; border-bottom: 1px solid #dadada; }
	li.cp_tabs_list_item {
	    padding: 16px 23px; font-size: 16px; border-bottom: 3px solid transparent; margin-bottom: -2px; margin-right: 2px; background: transparent;
		&:hover,
		&.active {
			border-color: #1587cc;
		}
	}
}