.cp-tabs-div {
	.cp_tabs_list { border: none; border-bottom: 1px solid #dadada; }
	li.cp_tabs_list_item {
	    color: #36373c; opacity: .5; padding: 16px 25px; font-size: 16px; background: transparent;
		&:hover,
		&.active {
			opacity: 1;
		}
	}
}