// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------




.mediaElementVideoContainer {
	position: fixed !important; z-index: 9999; top: auto !important; left: auto !important; right: 30px !important; bottom: 30px !important; height: auto !important;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.mediaElement {
	background: transparent; color: inherit; border: 1px solid;
}
.cp_pl_item.current,
&:not(.status-pause):not(.status-play) .cp_pl_item:first-child { background: transparent !important; box-shadow: none !important; border: none !important; }

.cp_pl_item {
	background: transparent !important; padding: 10px; display: block;
	&:after { content: ''; display: block; width: 100%; clear: both; }
}

.mediaElement_playlist {
	.cp_pl_item {
		.pl_item_thumb:before { content: 'w'; }
		&.play .pl_item_thumb:before { content: 'd'; }
	}
	.pl_item_thumb { float: left; margin: -10px 20px -10px -10px; }
	.cp_pl_item,
	.pl_item_name { color: inherit; }
}

.playlist_scroll_left,
.playlist_scroll_right {
	position: absolute; top: 50%; z-index: 5; font-size: 0; margin-top: -20px; background: rgba(255,255,255,.5); border-radius: 20px; width: 40px; height: 40px; text-align: center; line-height: 40px;
	cursor: pointer; box-shadow: 0 2px 5px rgba(0,0,0,.1);
	&:before { font-size: 24px; }
	&:hover { background: #fff; box-shadow: 0 2px 10px rgba(0,0,0,.2); }
}
.playlist_scroll_left {
	left: 10px;
	&:before { content: '<'; }
}
.playlist_scroll_right {
	right: 10px;
	&:before { content: '>'; }
}



//-------------------------------------------------------------------------
}
// gallery container
