// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------


.mejs-controls {
	.mejs-captions-button {
		.mejs-captions-selector {
			box-sizing: border-box; background: rgba(50, 50, 50, 0.7); padding: 0; right: 0; bottom: 100%; margin-bottom: -5px; max-height: 250px; width: 170px; overflow: auto; z-index: 10;
			* {box-sizing: border-box; }
			.mejs-decrease-size {
				width: 25%; display: inline-block; text-align: center; font-size: 20px; margin: 0; padding: 10px 5px; cursor: pointer; vertical-align: middle; float: none;
				&:hover { background: rgba(0, 0, 0, 0.5); }
			}
			.mejs-increase-size {
				width: 25%; display: inline-block; text-align: center; font-size: 20px; margin: 0; padding: 10px 5px; cursor: pointer; vertical-align: middle; float: none;
				&:hover { background: rgba(0, 0, 0, 0.5); }
			}
			.mejs-size-text {display: inline-block; width: 50%; vertical-align: middle; text-align: left; text-transform: uppercase; padding: 5px 10px; }
			ul li {
				color: #fff; margin: 0; position: relative;
				label {
					display: none; font-size: 13px; width: 100%; display: block; cursor: pointer; padding: 5px 10px; margin: 0; line-height: 1.4;
					&:hover {background: rgba(0, 0, 0, 0.5); }
				}
				input {
					display: none;
					&:checked + label {background: #0086cf; }
				}
			}
		}
		button:before {content: 't'; font-family: "cinco_default"; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; text-shadow: none !important; }
	}
	.mejs-button.mejs-captions-button.mejs-captions-enabled button {text-shadow: 0 0 3px #000, 0 0 15px; }
	.mejs-captions-layer .mejs-captions-position .mejs-captions-text {white-space: normal; background: rgba(20, 20, 20, 0.5); line-height: 1.3; padding: .7em 1em; }
}
.mejs-container {
	.mejs-layers {
		.mejs-chapters-wrap {
			pointer-events: none;
			.mejs-chapters-wrap-inner { overflow: auto; }
			.mejs-chapters-list { overflow: visible; }
		}
		&.mejs-show-chapters .mejs-chapters-wrap { pointer-events: auto; }
	}
	.ze-mejs-poster-overlay { background: $arg_theme_color_main_bg; }
}


//-------------------------------------------------------------------------
}
// gallery container
