// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------



.mejs-container .mejs-controls .mejs-chapters-button.mejs-button{float:right}
.mejs-container .mejs-controls .mejs-chapters-button.mejs-button button:before{ content: "x" !important}
.mejs-container .mejs-controls .mejs-chapters-off button:before{opacity: .3}
.mejs-container .mejs-controls .mejs-gear-button{float: right}
.mejs-container .mejs-controls .mejs-gear-button button:before { content: 'G'!important}
&.ze_mobileLayout .mejs-container .mejs-controls .mejs-volume-button, 
&.ze_mobileLayout .mejs-container .mejs-controls .mejs-shuffle-button, 
&.ze_mobileLayout .mejs-container .mejs-controls .mejs-loop-button, 
&.ze_mobileLayout .mejs-container .mejs-controls .mejs-playlist-button{max-width: 0!important; max-height: 0!important; overflow: hidden!important; visibility:hidden!important;}



//-------------------------------------------------------------------------
}
// gallery container
