// gallery container
div#gallery_div { //#~gallery~_div
//-------------------------------------------------------------------------


&.hidden-controls {
	.mejs-overlay-play {
		opacity: 0!important; display: block!important;
		.mejs-overlay-button {width: 24px!important; height: 24px!important; font-size: 24px!important; margin-top: 0!important; top: 16px; right: auto; left: 16px; display: block!important; }
	}
	.mejs-container:hover .mejs-overlay-play {opacity: 1!important; }
	&.status-play .mejs-overlay-play {
		pointer-events: none; cursor: pointer;
		> .mejs-overlay-button:before {content: "d"; }
	}
}


//-------------------------------------------------------------------------
}
// gallery container
