// /* styles for smaller controls */
.mejs-controls {
	padding:0 5px;
	.mejs-button { width: 27px; }
	.mejs-button button {
		vertical-align: top; padding: 5px;
		&:before { font-size: 15px; }
	}
	.mejs-time {
		padding-top: 6px;
		span { font-size: 12px; }
	}
	.mejs-volume-button {
		.mejs-volume-slider {
			width: 27px; left: 0;
			.mejs-volume-current{ left: 13px; }
			.mejs-volume-total{ left: 13px; }
			.mejs-volume-handle { left: 3px; width: 21px; }
		}
	}
}
