@import "incl/global-mixins";
@import "incl/init-brandcolor"; // brandcolor


// .lb-theme-1 {
	.cp_lightbox_btn {
	    border: none; margin: 10px; background: transparent;
		&:after {
			content: 'w'; font-size: 50px; line-height: 1; font-family: "cinco_video05", "cinco_default" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
			color: #fff; display: block; position: absolute; top: 50%; left: 50%; margin: -.5em; width: 1em; height: 1em; background: transparent;
			// text-shadow: 6px 6px 40px $arg_theme_color_main_2, -6px -6px 40px $arg_theme_color_main_2, 6px -6px 40px $arg_theme_color_main_2, -6px 6px 40px $arg_theme_color_main_2;
			text-shadow: 6px 6px 40px #0086cf, -6px -6px 40px #0086cf, 6px -6px 40px #0086cf, -6px 6px 40px #0086cf;
		}
		&:hover:after { text-shadow: 6px 6px 40px #004a93, -6px -6px 40px #004a93, 6px -6px 40px #004a93, -6px 6px 40px #004a93; }
	}
	.cp_lightbox_wrap { padding: 0 20px; box-sizing: border-box; }
	.cp_lightbox_wrap_obj { border-radius: 8px; overflow: hidden; box-shadow: 0 5px 30px rgba(0,0,0,.4); }
	.cp_lightbox_wrap_obj_gallery_wrap_container {  }
	.cp_lightbox_close_btn {
		@media (min-width: 1081px) { left: 50%; margin-left: 500px; top: 50%; margin-top: -300px; }
		&:before,
		&:after { width: 30px; height: 3px; }
	}
// }

