/*@version1.1@version */
/*@createarg[
{'group':'hidden','name':'controls_order','type':'text','title':'Controls order','default':'playpause,prevtrack,nexttrack,playlist,loop,shuffle,progress,time,volume,logo,player_logo,fullscreen,chromecast_logo',desc:'Controls order'},
{'group':'branded','name':'player_watermark_on_off','type':'bool','title':'Player Logo On/Off','default':'false',desc:'Player Logo On/Off'},
{'group':'branded','name':'player_watermark','type':'text','title':'Player Logo URL','default':'','desc':'Location of an external jpg, png or gif image to show in a corner of the display.', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'branded','name':'player_watermark_link','type':'text','title':'Player Logo click URL','default':'','desc':'Open URL on  logo click', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'appearance','name':'theme_color_main','type':'coloradvanced','title':'Theme color','default':'#ffffff',desc:'Customize Theme color for your player'}
]@createarg*/
.cp_lightbox_btn { border: none; margin: 10px; background: transparent; }
.cp_lightbox_btn:after { content: 'w'; font-size: 50px; line-height: 1; font-family: "cinco_video05", "cinco_default" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #fff; display: block; position: absolute; top: 50%; left: 50%; margin: -.5em; width: 1em; height: 1em; background: transparent; text-shadow: 6px 6px 40px #0086cf, -6px -6px 40px #0086cf, 6px -6px 40px #0086cf, -6px 6px 40px #0086cf; }
.cp_lightbox_btn:hover:after { text-shadow: 6px 6px 40px #004a93, -6px -6px 40px #004a93, 6px -6px 40px #004a93, -6px 6px 40px #004a93; }

.cp_lightbox_wrap { padding: 0 20px; box-sizing: border-box; }

.cp_lightbox_wrap_obj { border-radius: 8px; overflow: hidden; box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4); }

@media (min-width: 1081px) { .cp_lightbox_close_btn { left: 50%; margin-left: 500px; top: 50%; margin-top: -300px; } }
.cp_lightbox_close_btn:before, .cp_lightbox_close_btn:after { width: 30px; height: 3px; }
